﻿@{
    ViewBag.Title = "翼友校园小记者手机移动端";
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
      <script>
          (function () {
              if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
                  var msViewportStyle = document.createElement("style");
                  msViewportStyle.appendChild(document.createTextNode("@@-ms-viewport{width:auto!important}"));
                  document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
              }
          })();
      </script>

      <title>App Framework Kitchen Sink</title>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta http-equiv="Pragma" content="no-cache"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <link rel="stylesheet" type="text/css" href="../../Content/wap/appframework-2.2/css/icons.css" />    
      <link rel="stylesheet" type="text/css" href="../../Content/wap/appframework-2.2/css/main.css"  />
      <link rel="stylesheet" type="text/css" href="../../Content/wap/appframework-2.2/css/appframework.css"  />
      <link rel="stylesheet" type="text/css" href="../../Content/wap/appframework-2.2/css/lists.css"  />
      <link rel="stylesheet" type="text/css" href="../../Content/wap/appframework-2.2/css/forms.css"  />
      <link rel="stylesheet" type="text/css" href="../../Content/wap/appframework-2.2/css/buttons.css"  />        
      <link rel="stylesheet" type="text/css" href="../../Content/wap/appframework-2.2/css/badges.css"  />        
      <link rel="stylesheet" type="text/css" href="../../Content/wap/appframework-2.2/css/grid.css"  />
      <link rel="stylesheet" type="text/css" href="../../Content/wap/appframework-2.2/css/myandroid.css"  />     
      <link rel="stylesheet" type="text/css" href="../../Content/wap/appframework-2.2/plugins/css/af.actionsheet.css"  />
      <link rel="stylesheet" type="text/css" href="../../Content/wap/appframework-2.2/plugins/css/af.popup.css"  />
      <link rel="stylesheet" type="text/css" href="../../Content/wap/appframework-2.2/plugins/css/af.scroller.css"  />
      <link rel="stylesheet" type="text/css" href="../../Content/wap/appframework-2.2/plugins/css/af.selectBox.css"  />        
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/jquery2.1.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/jquery.cookie.js" ></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/jq.appframework.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/plugins/af.actionsheet.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/plugins/af.css3animate.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/plugins/af.passwordBox.js"></script>          
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/plugins/af.scroller.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/plugins/af.selectBox.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/plugins/af.touchEvents.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/plugins/af.touchLayer.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/plugins/af.popup.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/ui/appframework.ui.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/ui/transitions/fade.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/ui/transitions/flip.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/ui/transitions/pop.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/ui/transitions/slide.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/ui/transitions/slideRight.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/ui/transitions/slideDown.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/ui/transitions/slideUp.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/plugins/af.slidemenu.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/scrollbottom.js"></script>
      <script type="text/javascript" charset="utf-8" src="../../Content/wap/appframework-2.2/slider/af.carousel.js" ></script>

       <!--幻灯JS start-->
		<script>
		    var carousel;
		    function init_carousel() {
		        carousel = $("#carousel").carousel({
		            pagingDiv: "carousel_dots",
		            pagingCssName: "carousel_paging2",
		            pagingCssNameSelected: "carousel_paging2_selected",
		            preventDefaults: false,
		            wrap: true //Set to false to disable the wrap around
		        });
		    }
		    window.addEventListener("load", init_carousel, false);
		
		</script>
		<!--幻灯JS end-->
		<!--幻灯style start-->
		<style>
		.carousel_paging2 {
			border-radius: 10px;
			
			background: #ccc;
			width: 10px;
			height: 10px;
			display:inline-block;
		}

		.carousel_paging2_selected {
			border-radius: 10px;
			
			background: #000;
			width: 10px;
			height: 10px;
			display:inline-block;
		}

		.spacer {
			width: 10px;
			float: left;
		}
		.carousel_content {
			-webkit-transform: translate3d(0, 0, 0);
		}
		</style>
		<!--幻灯style end-->

      <script type="text/javascript">
             function loadedPanel(what) {
                 //We are going to set the badge as the number of li elements inside the target
                 $.ui.updateBadge("#aflink", $("#af").find("li").length);
             }
             function unloadedPanel(what) {
                 console.log("unloaded " + what.id);
             }
             if (!((window.DocumentTouch && document instanceof DocumentTouch) || 'ontouchstart' in window)) {
                 var script = document.createElement("script");
                 script.src = "../../Content/wap/appframework-2.2/plugins/af.desktopBrowsers.js";
                 var tag = $("head").append(script);
             }
        </script>      
        <script type="text/javascript">
            $.ui.ready(function () {
                $("#afui").get(0).className = 'myandroid';
            });
            $.ui.openLinksNewTab = false;
            $.ui.splitview = false;
            $.ui.slideSideMenu = false;
            $.ui.animateHeaders = false;
            $(document).ready(function () {
                $.ui.launch();
            });
            //设置选中
            function tabTopNav(e) {
                var li = document.getElementById('top_tab_ul').getElementsByTagName('li');
                for (var i = 0; i < li.length; i++) {
                    li[i].className = "";
                }
                document.getElementById(e).className = "select";
            }
            //小记者首页
            function load_bangdan_panel() {
                tabTopNav('bangdan_tab');
                var bangdan_list = '';
                $.ajax({
                    url: 'GetNewsList',
                    success: function (data) {
                        //panel				
                        for (var i = 0; i < data.length; i++) {
                                bangdan_list += '<li><a href="#news_detail_pannel" onclick="getNewDetail(' + data[i].id + ')" class="icon heart">' + data[i].newstitle + '  <span style="color:gray;font-size:12px;">'+data[i].typename+'  ' + formatDateTimeJSON(data[i].updatetime) + '</span></a> </li>';
                        }
                        $("#bangdan_list").html(bangdan_list);
                    }
                });

            }
            function unload_bangdan_panel() {
                bangdanPage = 2;  //unload的时候让 page回到第二页
            }
            //文章分类
            function load_fenlei_panel() {
                tabTopNav('fenlei_tab');
                var fenlei_list = '';
                $.ajax({
                    url: 'GetNewsType',
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            fenlei_list += '<li><a href="#type_panel" onclick="GetNewsList(' + data[i].id + ')" class="icon tv">' + data[i].typename + '</a></li>';
                        }
                        $("#fenlei_list").html(fenlei_list);
                    }
                });
            }
            function unload_fenlei_panel() {
                fenleiPage = 2;
            }
            //个人中心
            function load_wode_panel() {
                tabTopNav('wode_tab');
                bindUserLoginInfoFromCookie();
            }
            function unload_wode_panel() {

            }
            //系统设置
            function load_setting_panel() {
                tabTopNav('setting_tab');
            }
            function unload_setting_panel() {

            }
            //文章分类点击进入
            function load_type_panel() {
                tabTopNav('fenlei_tab');
            }
            function unload_type_panel() {

            }
            //用户登录
            function load_login_panel() {
                tabTopNav('wode_tab');

                $("#afui").popup({
                    title: "登录",
                    message: "登录用户: <input id='username' type='text' class='af-ui-forms'><br>登录密码: <input id='userpass' type='password' class='af-ui-forms' style='webkit-text-security:disc'>",
                    cancelText: "取消",
                    cancelCallback: function () {
                        //返回上一级
                        $.ui.goBack();
                    },
                    doneText: "确定",
                    doneCallback: function () {
                        loginValidation();
                    },
                    cancelOnly: false
                });
            }
            function unload_login_panel() {

            }
            //个人基本信息
            function load_info_panel() {
                tabTopNav('wode_tab');
                bindUserLoginInfoFromCookie();
            }
            function unload_info_panel() {

            }

            function loginValidation() {
                var username = $("#username").val();
                var userpass = $("#userpass").val();
                var validcode = false;
                var formattedJSON = { uname: username, upass: userpass, vcode: validcode };
                $.ajax({
                    url: "../Home/LoginValidation",
                    type: "get",
                    data: formattedJSON,
                    dataType: "json",
                    success: function (result) {
                        if (result.success) {   //登陆成功
                            //$("#cuserlogin").html(result.schoolname + " : " + result.nickname + " 已登录!");
                            //从cookie中获取内容
                            bindUserLoginInfoFromCookie();
                            $.ui.goBack();
                        }
                        else {                  //登陆失败
                            $("#afui").popup({title:"提示",message:"用户登录失败，请重试！"});
                            $.ui.goBack();
                        }
                    },
                    error: function (a, b, c) {
                    }
                });
            }

            function bindUserLoginInfoFromCookie()
            {
                var loginName = "";
                var roleName = "";
                var schoolName = "";
                var realName = "";

                var uCollection = $.cookie('FuNong.UserInfo.Login'); // 读取FuNong.UserInfo.Login集合
                if (uCollection != undefined && uCollection != null && uCollection != "") {  //用户已登录
                    var uArray = uCollection.split("&");
                    var loginMemo = "";
                    for (var i = 0; i < uArray.length; i++) {
                        var uID = uArray[i].split("=")[0];
                        var uVal = uArray[i].split("=")[1];
                        if (uID == "FuNong.Login.UserName") {
                            loginname = uVal;
                        }
                        if (uID == "FuNong.Login.RoleName") {
                            roleName = uVal;
                        }
                        if (uID == "FuNong.Login.SchoolName") {
                            schoolName = uVal;
                            loginMemo += uVal + " : ";
                        }
                        if (uID == "FuNong.Login.NickName") {
                            realName = uVal;
                            loginMemo += uVal;
                        }
                    }

                    $("#cuserlogin").html(loginMemo + " 已登录!");

                    $("#currentuserinfo").html('<div style="width:90%;height:100%;margin-top:10px;float:left">小记者登录账号：' + loginName + '</div>');
                }
                else {
                    $("#cuserlogin").html("当前用户登录");
                }
            }

            //获取详细新闻信息
            function getNewDetail(id) {
                $.ajax({
                    url: 'GetNewDetail?id=' + id,
                    success: function (data) {
                        $("#newstitle").html(data.newstitle);
                        $("#newsattr").html("时间:" + formatDateTimeJSON(data.updatetime) + "&nbsp;&nbsp;小记者:" + data.uname + "&nbsp;&nbsp;学校:"+data.schoolname);
                        $("#newscontent").html(data.newscontent);
                    }
                });
            }


            //获取新闻分类列表
            function GetNewsList(typeid) {
                currentTypeid = typeid;
                var type_list = '';
                $.ajax({
                    url: 'GetNewsList?typeid=' + typeid,
                    success: function (data) {
                        var len = data.length;
                        if (len <= 0) {
                            type_list += '<li>当前栏目下暂无文章信息！</li>';
                        }
                        else {
                            for (var i = 0; i < len; i++) {
                                type_list += '<li><a href="#news_detail_pannel" onclick="getNewDetail(' + data[i].id + ')" class="icon heart">' + data[i].newstitle + '  <span style="color:gray;font-size:12px;">[' + formatDateTimeJSON(data[i].updatetime) + ']</span></a> </li>';
                            }
                        }
                        $("#type_list").html(type_list);
                    }
                });
            }

            var formatDateTimeJSON = function (value) {
                if (value == null || value == '') {
                    return '';
                }
                var dt;
                if (value instanceof Date) {
                    dt = value;
                }
                else {
                    dt = new Date(value);
                    if (isNaN(dt)) {
                        value = value.replace(/\/Date\((-?\d+)\)\//, '$1'); 
                        dt = new Date();
                        dt.setTime(value);
                    }
                }
                return dt.getFullYear() + "年" + (dt.getMonth() + 1) + "月" + dt.getDate() + "日";  
            }

        </script>
        
</head>
    <body>
        <div id="afui" class="myandroid">
            <div id="content">
                <!--头部-->
                <header id="headerui">
                   <div class="top_header">
                    <a onclick=" $.ui.goBack()" class="backButton" style="float:left;cursor:pointer;"></a>
                    <h1>校园小记者</h1>
                    <a onclick="af.ui.toggleSideMenu()" class="menuButton" style="float:right;cursor:pointer;"></a>
                   </div>
                     <div class="cate_top clearfix">
                    	<ul class="cate_top_ul clearfix" id="top_tab_ul">
                            <li id="bangdan_tab"><a href="#bangdan_panel"   data-transition="slideRight"  class="icon home">首页</a></li>
                            <li id="fenlei_tab"> <a href="#fenlei_panel"    data-transition="slideRight"  class="icon paper">文章分类</a></li>
                            <li id="wode_tab">   <a href="#wode_panel"      data-transition="slideRight"  class="icon user">个人中心</a></li> 
                            <li id="setting_tab"><a href="#setting_panel"   data-transition="slideRight"  class="icon settings">系统设置</a></li>                            
                        </ul>                   
               		 </div>                       
                </header>
                <!--侧边栏-->
                <nav>
                    <ul class="list">                   
                        <li><a href="#af26">默认风格</a></li>
                        <li><a href="#af27">Apple风格</a></li>
                        <li><a href="#af28">Android风格</a></li>
                        <li><a href="#af29">Win8风格</a></li>
                        <li><a href="#af30">BlackBerry风格</a></li>
                    </ul>
                </nav>            

                <!--小记者首页--->
                 <div title='首页' id="bangdan_panel" class="panel" data-header="headerui" data-load="load_bangdan_panel" data-unload="unload_bangdan_panel"> 
                    <!--图片轮播-->
                    <div id="carousel" style="display:block;height:100%;width:100%;margin-top:10px;">
					        <div><img alt="" src="../../Content/wap/novoslider/images/1.jpg" style="width:100%;height:100%;" /></div>
					        <div><img alt="" src="../../Content/wap/novoslider/images/2.jpg" style="width:100%;height:100%;" /></div>
					        <div><img alt="" src="../../Content/wap/novoslider/images/3.png" style="width:100%;height:100%;" /></div>
					        <div><img alt="" src="../../Content/wap/novoslider/images/4.jpg" style="width:100%;height:100%;" /></div>
			        </div>
                    <div id="carousel_dots" style="text-align: center; margin:auto;  display : table; clear: both; position: relative; top: 40%; z-index: 200"></div>
                    <!--文章列表-->             
                    <ul class="list mt10" id="bangdan_list"></ul>
                </div>

                 <!--文章分类--->
                 <div title='文章分类' id="fenlei_panel" class="panel" data-header="headerui" data-load="load_fenlei_panel" data-unload="unload_fenlei_panel">                   
                    <ul class="list mt10" id="fenlei_list"></ul>
                </div>
                
                 <!--个人中心--->
                 <div title='个人中心' id="wode_panel" class="panel" data-header="headerui" data-load="load_wode_panel" data-unload="unload_wode_panel">                   
                    <ul class="list mt10" id="wode_list">
                        <li><a href="#currentuserlogin" id="cuserlogin"  class='icon location'>当前用户登录</a></li>
                        <li><a href="#currentuserinfo"  id="cuserinfo" class='icon target'>个人基本信息</a></li>
                        <li><a href="#currentuserpublish"  class='icon tools'>文章发布信息</a></li>
                    </ul>
                </div>
                <!--系统设置-->
                 <div title='系统设置' id="setting_panel" class="panel" data-header="headerui" data-load="load_setting_panel" data-unload="unload_setting_panel">                   
                    <ul class="list mt10" id="setting_list">
                        <li><a href="#testcontent" >关于我们</a></li>
                        <li><a href="#testcontent" >检查版本</a></li>
                    </ul>
                </div>
                <!--当前用户登录--> 
                <div title='当前用户登录' id="currentuserlogin" class="panel" data-header="headerui" data-load="load_login_panel" data-unload="unload_login_panel" >                   
                </div>
                  <!--个人基本信息--> 
                <div title='个人基本信息' id="currentuserinfo" class="panel" data-header="headerui" data-load="load_info_panel" data-unload="unload_info_panel" >                   
                </div>

                  <!--文章分类页面--->
                 <div title='文章分类' id="type_panel" class="panel" data-header="headerui" data-load="load_type_panel" data-unload="unload_type_panel"> 
                    <ul class="list mt10" id="type_list"></ul>
                </div>

                 <!--新闻详细页面，需要加data-header="headerui"，否则会跳转到没有头部的页面-->
                 <div title="新闻详细页面" class="panel" id="news_detail_pannel" data-header="headerui">
                    <div id="newstitle" style="width:100%;font-size:18px;font-weight:bold;text-align:center;margin-top:10px;"></div>
                    <div id="newsattr" style="width:100%;font-size:13px;color:Gray; text-align:center;margin-top:10px;"></div>
                    <div id="newscontent" style="width:100%;height:100%;margin-top:15px;color:#575757;text-indent:2em;font-size:15px;font-family: 微软雅黑;line-height:2;"></div>
                </div>
    		</div>          
        </div>
    </body>
     <script type="text/javascript">
         //小记者首页
         $('#bangdan_list').bind("swipeLeft", function () {
             $.ui.loadContent("#fenlei_panel", false, false, "slide");
         })
         //文章分类
         $('#fenlei_list').bind("swipeLeft", function () {
             $.ui.loadContent("#wode_panel", false, false, "slide");
         });
         $('#fenlei_list').bind("swipeRight", function () {
             $.ui.loadContent("#bangdan_panel", false, true, "slideright");
         });
         //个人中心
         $('#wode_list').bind("swipeLeft", function () {
             $.ui.loadContent("#setting_panel", false, false, "slide");
         });
         $('#wode_list').bind("swipeRight", function () {
             $.ui.loadContent("#fenlei_panel", false, true, "slideright");
         });
         //系统设置
         $('#setting_list').bind("swipeRight", function () {
             $.ui.loadContent("#wode_panel", false, true, "slideright");
         });

         $('.showSide').bind("swipeRight", function () {
             af.ui.toggleSideMenu();
         });
        
        </script>
</html>