﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
        .soilwrapper{width:1000px;margin:0 auto;}
    </style>




<div class="soilwrapper">
<p>
    <strong><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px; line-height: 20.7999992370605px;">通辽市福农土地经营权交易咨询有限公司</span></strong>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px;">&nbsp; &nbsp; &nbsp; &nbsp; 通辽市福农土地经营权交易咨询有限公司是自治区首家面向农业农村农民的科技创新型服务企业，是由通辽农民专业合作社协会延伸而来的农村土地经营权流转交易平台，专业提供土地经纪、土地评估、土地投资、土地开发、土地融资等土地流转相关服务。我公司经通辽市工商行政管理局批准，于2015年2月4日正式成立，注册资本人民币一千零五十万元，集交易咨询、服务、农副产品加工、销售，农机租赁等于一体。</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px;">公司致力于成为于行业领先的土地流转综合服务机构，以互联网和遍布全国的信息采集网络为载体，将农民闲置的土地、需求土地的企业和个人、土地整理开发机构三者有机的联系到一起，实现了土地资源的流转和优化配置，使得资源利用更高效，土地和农业投资更安全、更便捷。</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px;">我们的工作宗旨是坚持依法自愿有偿和公平公正公开的原则，充分发挥市场对农村土地基础性配置作用，引导农村土地经营权有序流转，促进土地适度规模经营和农业产业化经营，实现农村经济的可持续发展。</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px;">&nbsp; &nbsp; &nbsp; &nbsp; 由我公司耗资千万，自主搭建的农村土地经营权交易咨询综合服务平台，能够组织开展农村土地经营权交易业务,这些业务包括土地的转包，出租，互换，转让，股份合作等；负责农村土地经营权流转交易评估工作，这些工作包括土地现场勘查评估，土地权属确认等；负责收集、整理、发布农村土地经营权流转供求信息等。平台在各级村镇提供流转工作点，工作点工作人员可以对该村镇的土地项目进行实地勘察，权属确认，发布供求信息的职能。同时平台本身亦提供一整套规范的流程来指导农户进行土地的流转，具体包括：委托申请，形式审查，确认权属，消息发布，征集意向受让方，组织交易，成交签约，费用收取，结算交割，出具交易鉴证书。该平台正式投入运营后，将有效推进我市农村土地经营权流转等业务。</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px;">&nbsp; &nbsp; &nbsp; &nbsp; 同时，我公司还将提供基于B2C，C2C模式的农用机械的销售与租赁、农副产品加工与销售，及农作物种植与农业技术推广培训，网站运营等项目，在这些项目中，用户可以通过网站平台向提供商品的个人或者商家购买所需要的农资商品，或者是向个人或者商家租赁所需要的农机等农业机械；农户或者是商家也可以通过网站平台开店，售卖或者租赁自己拥有的农副产品，农用机械等线上资源。我们的目标是通过努力，建立一个涵盖农村产权流转、基于B2C和C2C混合运作模式的农副产品等内容的交易租赁市场，在全市范围内营造一个良好的交易氛围，保障农民和农村集体经济组织的财产权益，提高农村要素资源配置和利用效率。</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px; line-height: 20.7999992370605px;"><br/></span>
</p>
<p>
    <strong><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px; line-height: 20.7999992370605px;">通辽市福农土地经营权交易咨询有限公司工作职能</span><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px; line-height: 20.7999992370605px;">&nbsp;</span></strong>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px;">1、宣传贯彻执行国家及本地区的农村土地承包经营权流转的法律、法规和政策等。</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px;">2、提供农村土地经营权交易咨询服务，协调农村土地经营权流转交易的农民、基层组织和企业之间的关系，维护交易双方的合法权益。</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px;">3、验证农村土地经营权交易主体的资格和交易条件，负责流转信息的收集、整理，市场调研、市场预测、市场分析，申请交易的客户档案建立和登记工作，发布农村土地经营权流转供求信息。</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px;">4、负责农村土地经营权流转交易评估工作。接受农村土地经营权的所有者和使用者的委托，为其寻找合作伙伴以及经营权交易的买方和卖方。</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px;">5、负责组织土地流转双方进行洽谈，指导签订流转合同。</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px;">6、负责农村土地经营权流转的交易数据库管理以及文字资料的整理、归档管理工作。</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px;">7、接受企业、镇、村以及其它组织或个人的委托，代理组织实施土地经营权的招投标、拍卖及挂牌转包、转让、租赁、抵押等交易活动。</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px;">8、销售农用机械及租赁；农副产品加工及销售。</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px;">9、销售化肥、蔬菜瓜果、花卉苗木。</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px;">10、农作物种植及农业技术推广、培训。</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px;">11、网站运营、电子商务。</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px;">12、广告发布及会议会展。</span>
</p>
<p>
    <br/>
</p>
<p>
    <strong style="font-family: MENKSOF0; font-size: 13px; line-height: 20.7999992370605px; white-space: normal;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px; line-height: 20.7999992370605px;">通辽市福农土地经营权交易咨询有限公司地址及联系方式</span></strong>
</p>
<p>
    <span style="line-height: 20.7999992370605px;">流转大厅名称：通辽市福农土地经营权交易咨询有限公司</span>
</p>
<p>
    流转大厅地址：通辽市科尔沁区建国路北段2349（市农牧业局人禾酒店一楼）（查看详细信息）
</p>
<p>
    流转大厅电话：0475-2792555
</p>
<p>
    <br/>
</p>
<p>
    <strong style="font-family: MENKSOF0; font-size: 13px; line-height: 20.7999992370605px; white-space: normal;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px; line-height: 20.7999992370605px;">通辽市福农土地经营权交易咨询有限公司概览</span></strong>
</p>
<p>
    <strong style="font-family: MENKSOF0; font-size: 13px; line-height: 20.7999992370605px; white-space: normal;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px; line-height: 20.7999992370605px;"></span></strong>
</p>
<p style="text-align: center">
    <img src="/UploadFile/NewsComponents/image/20150415/6356471236566511371459702.jpg" style="width: 779px; height: 500px;" width="779" height="500"/>
</p>
<p style="text-align: center">
    <img src="/UploadFile/NewsComponents/image/20150415/6356471265896288934157912.jpg" style="width: 779px; height: 500px;" width="779" height="500" border="0" vspace="0" title="" alt=""/>
</p>
<p style="text-align: center">
    <img src="/UploadFile/NewsComponents/image/20150415/6356471266052397864009323.jpg" style="width: 779px; height: 500px;" width="779" height="500" border="0" vspace="0" title="" alt=""/>
</p>
<p style="text-align: center">
    <img src="/UploadFile/NewsComponents/image/20150415/6356471266073899093007789.jpg" style="width: 779px; height: 500px;" width="779" height="500" border="0" vspace="0" title="" alt=""/>
</p>
<p style="text-align: center">
    <img src="/UploadFile/NewsComponents/image/20150415/6356471266118001615706550.jpg" style="width: 779px; height: 500px;" width="779" height="500" border="0" vspace="0" title="" alt=""/>
</p>
<p style="text-align: center">
    <img src="/UploadFile/NewsComponents/image/20150415/6356471266152003567433495.jpg" style="width: 779px; height: 500px;" width="779" height="500" border="0" vspace="0" title="" alt=""/>
</p>
<p style="text-align: center">
    <img src="/UploadFile/NewsComponents/image/20150415/6356471266155903784891986.jpg" style="width: 779px; height: 500px;" width="779" height="500" border="0" vspace="0" title="" alt=""/>
</p>
<p>
    <strong style="font-family: MENKSOF0; font-size: 13px; line-height: 20.7999992370605px; white-space: normal;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; font-size: 14px; line-height: 20.7999992370605px;"><br/></span></strong><br/>
</p>
</div>
<div style="clear:both"></div>