﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <link href="~/Content/front/css/collector.css" rel="stylesheet" type="text/css" />
    <!--BootStrap V3 Part-->
    <link href="~/Content/front/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/front/angular-ui-grid/ui-grid.css" rel="stylesheet" />
    <script src="~/Content/front/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <!--Jquery EasyUI Part-->
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/gray/easyuiedit.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/icon.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/locale/easyui-lang-zh_CN.js")" type="text/javascript"></script>
    <!--Flot Chart Part-->
    <script src="~/Content/front/flot/excanvas.js"></script>
    <script src="~/Content/front/flot/jquery.flot.js"></script>
    <script src="~/Content/front/flot/jquery.flot.time.js"></script>
    <script src="~/Content/front/flot/jquery.flot.resize.js"></script>
    <script src="~/Content/front/flot/jquery.flot.selection.min.js"></script>
     <!--AngularJS Part-->
    <script src="~/Content/front/angularjs/angular.min.js"></script>
    <script src="~/Content/front/angularjs/angular-cookies.min.js"></script>
    <!--UIGrid Part-->
    <script src="~/Content/front/angular-ui-grid/ui-grid.min.js"></script>
    <!--DateTimePicker Part(http://dalelotts.github.io/angular-bootstrap-datetimepicker/)-->
    <link href="~/Content/front/angular-datetimepicker/css/datetimepicker.css" rel="stylesheet" />
    <script src="~/Content/front/angular-datetimepicker/js/moment.js"></script>
    <script src="~/Content/front/angular-datetimepicker/js/zh-cn.js"></script>
    <script src="~/Content/front/angular-datetimepicker/js/datetimepicker.js"></script>
    <!--ArtDialog-->
    <link href="@Url.Content("~/Content/admin/js/artDialog/skins/green.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")" type="text/javascript"></script>
    <!--Player Part-->
    <script src="~/JLib/app.js"></script>
    <script src="~/JLib/BaseService.js"></script>
    <script src="~/JLib/CollectorFront/CollectorController.js"></script>
    <script src="~/JLib/CollectorFront/SelectorDirective.js"></script>
    <script src="~/JLib/CollectorFront/CollectorService.js"></script>
}

<div class="collectorcontainer"  ng-app="dsBootstrap" ng-controller="collectorController">
    <div class="searchcontainer">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">所属省份：</span>
                    <sector-part options="ProvinceData" ng-model="selectedProvince" ng-change="GetCityList()"></sector-part>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">所属市县：</span>
                    <sector-part options="CityData" ng-model="selectedCity" ng-change="GetDistrictList()"></sector-part>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">所属地区：</span>
                    <sector-part options="DistrictData" ng-model="selectedDistrict" ng-change="GetCompanyList()"></sector-part>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">所属公司：</span>
                    <sector-part options="CompanyData" ng-model="selectedCompany" ng-change="GetMachineList()"></sector-part>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">设备名称：</span>
                    <sector-machine options="MachineData" ng-model="selectedMachine"></sector-machine>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <button class="btn btn-success" type="submit" ng-click="GetRealTimeDataByMachine()" style="height:33px;line-height:16px;width:150px;">点击加载</button>
                    <button class="btn btn-info glyphicon glyphicon-calendar" type="submit" ng-click="ClickToShowTimePicker()" style="height:33px;line-height:16px;width:150px;margin-left:5px;">&nbsp;查看历史记录</button>
                </div>
            </div>
        </div>
        <div class="row" ng-show="visible">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">开始时间：</span>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="starttime" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group">
                                <input type="text" class="form-control" data-ng-model="starttime|date:'yyyy-MM-dd' "><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="starttime" data-on-set-time="onTimeSet(newDate, oldDate)" data-datetimepicker-config="{ dropdownSelector: '#starttime',startView:'day', minView:'day' }" />
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">结束时间：</span>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="endtime" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group">
                                <input type="text" class="form-control" data-ng-model="endtime|date:'yyyy-MM-dd' "><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" id="endContainer" role="menu" aria-labelledby="dLabel">
                            
                        </ul>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <!--实时数据-->
    <div class="datacontainer">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{selectedMachine.machine_name}}实时数据</div>
                    <div class="panel-body" style="height:auto;overflow:auto">
                        <real-data options="RealTimeData"></real-data>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--图表数据-->
    <div class="paramcontainer">
        <div class="panel panel-default">
            <div class="panel-heading">{{selectedMachine.machine_name}}图表数据</div>
            <div class="panel-body" style="padding:5px!important;">
                <div class="chartcontainer">
                    <div class="row">
                        <history-data ng-repeat="item in HistoryData" options="item"></history-data>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--列表数据-->
    <div class="datacontainer">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{selectedMachine.machine_name}}列表数据</div>
                    <div class="panel-body" style="height:auto;overflow:auto">
                        <div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
