﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
}

<div style="width:1000px;height:50px;margin:0 auto;text-align:center;margin-top:30px;">
<span style="font-weight:bold;font-size:15px;color:#444444">商务中心：二期内容...</span>
</div>