﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <link href="~/Content/front/css/collector.css" rel="stylesheet" type="text/css" />
    <!--Jquery Part-->
    <script src="~/Content/front/jqueryplugin/jquery.min.js"></script>
    <script src="~/Content/front/jqueryplugin/jquery.rte.js"></script>
    <!--BootStrap V3 Part-->
    <link href="~/Content/front/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/front/angular-ui-grid/ui-grid.css" rel="stylesheet" />
    <script src="~/Content/front/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <!--Signalr Part-->
    <script src="~/Scripts/jquery.signalR-1.1.4.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <!--AngularJS Part-->
    <script src="~/Content/front/angularjs/angular.min.js"></script>
    <script src="~/Content/front/angularjs/angular-cookies.min.js"></script>
    <!--UIGrid Part-->
    <script src="~/Content/front/angular-ui-grid/ui-grid.min.js"></script>
    <!--DateTimePicker Part(http://dalelotts.github.io/angular-bootstrap-datetimepicker/)-->
    <link href="~/Content/front/angular-datetimepicker/css/datetimepicker.css" rel="stylesheet" />
    <script src="~/Content/front/angular-datetimepicker/js/moment.js"></script>
    <script src="~/Content/front/angular-datetimepicker/js/zh-cn.js"></script>
    <script src="~/Content/front/angular-datetimepicker/js/datetimepicker.js"></script>
    <!--Player Part-->
    <script src="~/JLib/app.js"></script>
    <script src="~/JLib/BaseService.js"></script>
    <script src="~/JLib/CollectorFront/SelectorDirective.js"></script>
    <script src="~/JLib/CollectorFront/CollectorService.js"></script>

    <script src="~/JLib/ControllerFront/mainController.js"></script>
    <script src="~/JLib/ControllerFront/mainDirective.js"></script>
    <script src="~/JLib/ControllerFront/mainService.js"></script>
}

<div class="collectorcontainer" ng-app="dsBootstrap" ng-controller="mainController">
    <div class="searchcontainer">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">所属省份：</span>
                    <sector-part options="ProvinceData" ng-model="selectedProvince" ng-change="GetCityList()"></sector-part>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">所属市县：</span>
                    <sector-part options="CityData" ng-model="selectedCity" ng-change="GetDistrictList()"></sector-part>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">所属地区：</span>
                    <sector-part options="DistrictData" ng-model="selectedDistrict" ng-change="GetCompanyList()"></sector-part>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">所属公司：</span>
                    <sector-part options="CompanyData" ng-model="selectedCompany" ng-change="GetMachineList()"></sector-part>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">设备名称：</span>
                        <sector-machine options="MachineData" ng-model="selectedMachine" ng-change="RefreshPage()"></sector-machine>
                    </div>
                </div>
            <div class="col-md-4">
                <div class="input-group">
                    <button class="btn btn-success" ng-click="LoadControllerList()" style="height:33px;line-height:16px;width:315px;">点击加载</button>
                </div>
            </div>
        </div>
    </div>
    <div class="controllercontainer">
        <main-part options="controlData"></main-part>
    </div>
</div>

