﻿@model Dictionary<int, List<FuNong.DataContract.NewsResponse>>﻿
@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string linu = string.Empty;

    List<FuNong.DataContract.NewsResponse> todayHot = Model[-2];  //今日头条
    for (var i = 1; i < todayHot.Count; i++)
    {
        linu += "[<a href='../NewsDetail?menu=4&id=" + todayHot[i].id + "'>" + todayHot[i].newstitle + "</a>]";
    }
    linu = linu.Length > 120 ? linu.Substring(0, 120) : linu;

    List<FuNong.DataContract.NewsResponse> todayRecommand = Model[-1];  //今日推荐
    var newsNote = todayRecommand[0].newsnote;
    if (string.IsNullOrEmpty(newsNote))
    {
        newsNote = "";
    }
    else
    {
         if(newsNote.Length>120)
         {
             newsNote = newsNote.Substring(0, 120) + "...";
         }   
    }
    
    var index = 2;

    //绑定列表
    var mainList = ViewBag.main as Dictionary<FuNong.UserInterface.Models.IndexModel, List<FuNong.DataContract.SoilPublishMainResponse>>;
    var recommandShow = new FuNong.DataContract.SoilPublishMainResponse();
    if (mainList.Count > 0)
    {
        var key = new FuNong.UserInterface.Models.IndexModel();
        foreach (KeyValuePair<FuNong.UserInterface.Models.IndexModel, List<FuNong.DataContract.SoilPublishMainResponse>> kvp in mainList)
        {
            key = kvp.Key;
            break;
        }
        recommandShow = mainList[key][0];
    }
    var citylist = ViewBag.Citys as List<FuNong.DataContract.CityResponse>;
    var solitypelist = ViewBag.Soiltypes as List<FuNong.DataContract.SoilTypeResponse>;
    var changetypelist = ViewBag.Changetypes as List<FuNong.DataContract.ChangeTypeResponse>;

}
<link href="../../Content/front/css/index.css" rel="stylesheet" type="text/css" />
<script src="../../Content/front/jsrender/jsviews.js" type="text/javascript"></script>
<script src="../../Content/front/js/echarts/echarts-2.1.10/build/dist/echarts.js" type="text/javascript"></script>
 <script type="text/javascript">
        require.config({
            paths: {
                echarts: '../../Content/front/js/echarts/echarts-2.1.10/build/dist'
            }
        });

        option = {
            tooltip: {
                formatter: "{a} <br/>{b} : {c}%"
            },
            toolbox: {
                show: false,
                feature: {
                    mark: { show: true },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            series: [
        {
            name: '',
            type: 'gauge',
            splitNumber: 10,       // 分割段数，默认为5
            axisLine: {            // 坐标轴线
                lineStyle: {       // 属性lineStyle控制线条样式
                    color: [[0.2, '#228b22'], [0.8, '#48b'], [1, '#ff4500']],
                    width: 8
                }
            },
            axisTick: {            // 坐标轴小标记
                show:false,
                splitNumber: 10,   // 每份split细分多少段
                length: 12,        // 属性length控制线长
                lineStyle: {       // 属性lineStyle控制线条样式
                    color: 'auto'
                }
            },
            axisLabel: {           // 坐标轴文本标签，详见axis.axisLabel
                show:false,
                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                    color: 'auto'
                }
            },
            splitLine: {           // 分隔线
                show: false,        // 默认显示，属性show控制显示与否
                length: 30,         // 属性length控制线长
                lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                    color: 'auto'
                }
            },
            pointer: {
                width: 5
            },
            title: {
                show: true,
                offsetCenter: [0, '-40%'],       // x, y，单位px
                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                    fontWeight: 'bolder'
                }
            },
            detail: {
                show:false,
                formatter: '{value}%',
                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                    color: 'auto',
                    fontWeight: 'normal'
                }
            },
            data: [{ value: 50, name: ''}]
        }
    ]
        };

      

require(
    [
        'echarts',
        'echarts/chart/pie',   // 按需加载所需图表，如需动态类型切换功能，别忘了同时加载相应图表
        'echarts/chart/line',
        'echarts/chart/bar',
        'echarts/chart/gauge',
        'echarts/chart/map'
    ],
    function (ec) {
        var myChart = ec.init(document.getElementById('flushmap'));
        option.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;
        myChart.setOption(option, true);

    }
);
    </script>
<div class="contentinfo">
    <div class="contentfirst">
        <div class="divleft1">
            <div class="tdzs">
                <div style="width: 132px; float: left">
                    <div style="margin-top: 80px; padding-left: 15px">
                        <span>比前一天：-9.30</span><br />
                        <span>平均指数：-0.73%</span></div>
                </div>
                <div style="width: auto; float: left; padding-top: 13px">
                    <span style="margin-left: 19px"><b>@DateTime.Now.ToString("yyyy年MM月dd日")</b></span>
                    <br />
                    <div style="padding-left:30px;padding-top:10px;float:left;height:100px;width:100px;" id="flushmap"></div>
                </div>
            </div>
            <ul>
                <li><a><img src="../../Content/front/images/fn_index_09.png" /></a> </li>
                <li><a href="../../home/soilmarket/?menu=2"><img src="../../Content/front/images/fn_index_11.png" /></a> </li>
                <li><a href="../../home/financecenter/?menu=5"><img src="../../Content/front/images/fn_index_13.png" /></a> </li>
                <li><a href="../../home/tradingmarket/?menu=3"><img src="../../Content/front/images/fn_index_15.png" /></a> </li>
                <li><a href="../../home/commercecenter/?menu=6"><img src="../../Content/front/images/fn_index_17.png" /></a> </li>
            </ul>
        </div>
        <div class="divcenter1">
            <div class="centerfirst">
                <div class="selectdiv">
                    <select id="searchtype">
                        <option>土地信息</option>
                    </select></div>
                <div class="divsearchtxt">
                    <input placeholder="请输入地名、土地类型或信息编号.." id="searchtxt" type="text" name="searchtxt" />
                    <a name="searchbtn" id="serachbtn"></a>
                </div>
            </div>
            <div class="jrttinfo">
                <div class="divjrtt1">
                    <div class="divjrtt2">
                        <span class="jrttstyle">今日头条</span> <span class="spanjrtt2">更多 <b></b></span>
                    </div>
                    <div class="jrtitle">
                        <div><a  href='../Home/NewsDetail?menu=1&id=@todayHot[0].id'>@todayHot[0].newstitle</a></div>
                        <div class="jrtext"><a  style="color: #6E6E6E" href='../Home/NewsDetail?menu=1&id=@todayHot[1].id'>@todayHot[1].newstitle</a></div>
                    </div>
                    <div class="dotdiv"></div>
                    <div style="height: 205px;">
                        <div class="jrttstyle">今日推荐</div>
                        <div class="jrtjtw">
                            <dl>
                                <dt><a href="" target="_blank"><img src="../../Content/front/images/sy.png" /></a></dt>
                                <dd class="box-text"><a style="color: #535353" href='../Home/NewsDetail?menu=1&id=@todayRecommand[0].id'>@todayRecommand[0].newstitle</a></dd>
                                <dd class="box-shuoming"><a style="color: #767676" href='../Home/NewsDetail?menu=1&id=@todayRecommand[0].id'>@DotNet.Utilities.HTMLHelper.NoHTML(newsNote)</a></dd>
                            </dl>
                        </div>
                        <div class="jrtjxw">
                            <ul>
                                @for (int i = 1; i < 3; i++)
                                {
                                    <li><a style="color: #767676" href='../Home/NewsDetail?menu=1&id=@todayRecommand[i].id'>
                                        <span>[@todayRecommand[i].typename]</span>@todayRecommand[i].newstitle</a><span style="color: Gray;">@todayRecommand[i].updatetime</span></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="dotdiv"></div>
                    <div class="jrtjtw2">
                        <dl>
                        @{
                            var imgList = recommandShow.indeximg;
                            var defaultImg = "../UploadFile/SoilImages/default.jpg";
                            if(string.IsNullOrEmpty(imgList))
                            {
                                imgList = defaultImg;
                            }
                            else
                            {
                                if(imgList.Contains(','))
                                {
                                    string[] imgArray = imgList.Split(',');
                                    imgArray.ToList().ForEach(item =>
                                    {
                                        if (!string.IsNullOrEmpty(item))
                                        {
                                            imgList = "../Process/" + item;
                                        }
                                    });       
                                }
                                else
                                {
                                    imgList = "../Process/" + imgList;
                                }
                            }
                            
                            var path = Server.MapPath(imgList.Substring(2));
                            
                            if(!File.Exists(path))
                            {
                                imgList = defaultImg ;
                            }
                         }
                            <dt><a href='../Home/SoilDetail?menu=1&id=@recommandShow.id'><img src="@imgList" /></a></dt>
                            <dd class="lzxxInfotitle" style="color: #17111B"><a href='../Home/SoilDetail?menu=1&id=@recommandShow.id'>@recommandShow.publishtitle</a></dd>
                            <dd>
                                <ul style="color: #5d5d5d;">
                                    <li>更新时间:@recommandShow.updatetime.GetValueOrDefault().ToString("yyyy-MM-dd") </li>
                                    <li>土地面积:@recommandShow.soilarea 亩 </li>
                                    <li>使用年限:@recommandShow.sparechangeyear 年 </li>
                                    @{
                                        var price = recommandShow.chargefee;
                                        if (string.IsNullOrEmpty(price))
                                        {
                                            price = "面议";
                                        }
                                    }
                                    <li>价格：@price 万元</li>
                                    <li>土地类型:@recommandShow.soiltypename</li>
                                    <li>流转性质:@recommandShow.changetypename</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="divright1">
            <div id="tdzyfltop">
            </div>
            <div class="tdzyfl">
                <!--font:italic small-caps bold 12px/1.5em arial,verdana;font: 14pt/2.0em 微软雅黑  简写必须有这两个 -->
                <span>土地资源分类 </span>
            </div>
            <div>
                <div class="zyfltitlediv">
                    <span class="zyfltitleSelect">内蒙古 </span>
                    <hr style="border: 1px solid #DEDEDE" />
                </div>
                <div class="qgcity" id="qgcity1">
                    <ul>
                        @foreach (var item in citylist)
                        {
                            <a href="/home/SoilMarket?menu=2&cityid=@item.id"><li>@item.name</li></a>
                        }</ul>
                </div>
            </div>
            <div class="zyfltitlediv">
                <span class="zyfltitleSelect">流转 </span>
                <hr style="border: 1px solid #DEDEDE" />
            </div>
            <div class="qgcity" id="qgcity2">
                <ul>
                    @foreach (var item in solitypelist)
                    {
                        <a href="/home/SoilMarket?menu=2&typeid=@item.id"><li>@item.typename</li></a>
                    }</ul>
            </div>
            <div class="zyfltitlediv">
                <span class="zyfltitleSelect">类型 </span>
                <hr style="border: 1px solid #DEDEDE" />
            </div>
            <div class="qgcity" id="qgcity3">
                <ul>
                    @foreach (var item in changetypelist)
                    {
                        <a href="/home/SoilMarket?menu=2&changeid=@item.id"><li>@item.changetitle</li></a>
                    }</ul>
            </div>
        </div>
    </div>
    <div class="contentbetween">
        <ul>
            <li><a><img alt="img" src="../../Content/front/images/bar1_1.jpg" /></a></li>
            <li><a><img alt="img" src="../../Content/front/images/bar1_2.jpg" /></a></li>
            <li><a><img alt="img" src="../../Content/front/images/bar1_3.jpg" /></a></li>
            <li><a><img alt="img" src="../../Content/front/images/bar1_4.jpg" /></a></li>
            <li><a><img alt="img" src="../../Content/front/images/bar1_5.jpg" /></a></li>
        </ul>
    </div>
    @foreach (KeyValuePair<FuNong.UserInterface.Models.IndexModel, List<FuNong.DataContract.SoilPublishMainResponse>> kvp in mainList)
    {
        var indextemp = index++;
        var adimg = "../../Content/front/images/bar" + indextemp + ".gif";

        FuNong.UserInterface.Models.IndexModel key = kvp.Key;
        List<FuNong.DataContract.SoilPublishMainResponse> value = kvp.Value;
        <div class="content5">
            <div class="liuzhuantitle">
                <b>@key.SoilTypeParent.typename </b>
                <div class="liuzhuuantype">
                    <ul>
                        @foreach (var SoilTypeRsponse in key.SoilTypeChildren)
                        {
                            <li><a style='color: #727272' href="../../home/SoilMarket?menu=2&typeid=@SoilTypeRsponse.id">&nbsp;@SoilTypeRsponse.typename</a>&nbsp;|</li>
                        }
                      @*  <li><a style='color: #727272'>&nbsp;更多</a> </li>*@
                    </ul>
                </div>
            </div>
            <div class="clearbothdiv">
            </div>
            <div class="liuzhuaninfo" style="height: 436px">
                <div class="productinfo">
                    <ul>
                        @foreach (var SoilPMResponse in value)
                        {

                            //标志
                            var id = SoilPMResponse.id;

                            //土地类别
                            var soiltypeid = SoilPMResponse.soiltypeid;

                            //标题
                            var title = SoilPMResponse.publishtitle;
                            if (title.Length > 25)
                            {
                                title = title.Substring(0, 25) + "...";
                            }

                            //展示图片
                            var img = SoilPMResponse.indeximg;
                            if (string.IsNullOrEmpty(img))
                            {
                                img = defaultImg;
                            }
                            if (img.Contains(','))
                            {
                                string[] imgArray = img.Split(',');
                                imgArray.ToList().ForEach(item =>
                                {
                                    if (!string.IsNullOrEmpty(item))
                                    {
                                        img = "../Process/" + item;
                                    }
                                });       
                            }
                            else
                            {
                                img = "../Process/" + img;
                            }

                            var p = Server.MapPath(img.Substring(2));

                            if (!File.Exists(p))
                            {
                                img = defaultImg;
                            }

                            //费用
                            var chargefee = SoilPMResponse.chargefee;
                            if (string.IsNullOrEmpty(chargefee))
                            {
                                chargefee = "面议";
                            }
                            else
                            {
                                chargefee = chargefee + "万元";
                            }

                            <li><a href='../Home/SoilDetail?menu=1&id=@id'><img alt="tupian" src="@img" /><span>@title</span></a>
                                <div>@chargefee</div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="liuzhuanright">
                    @{List<FuNong.DataContract.NewsResponse> newlist = kvp.Key.NewsToplist;}
                    @if (newlist.Count < 1)
                    {
                        Write("暂无新闻");
                    }
                    else
                    {
                        string titleFirst = DotNet.Utilities.HTMLHelper.NoHTML(newlist[0].newstitle);
                        string contentFirst = DotNet.Utilities.HTMLHelper.NoHTML(newlist[0].newscontent);
                        titleFirst = titleFirst.Length > 14 ? titleFirst.Substring(0, 14) + "..." : titleFirst;
                        contentFirst = contentFirst.Length > 30 ? contentFirst.Substring(0, 30) + "..." : contentFirst;
                        for (int i = 1; i < newlist.Count; i++)
                        {
                            var newstitle = newlist[i].newstitle;
                            if (string.IsNullOrEmpty(newstitle))
                            {
                                newstitle = string.Empty;
                            }
                            else
                            {
                                if (newstitle.Length > 12)
                                {
                                    newstitle = newstitle.Substring(0, 12) + "...";
                                }
                            }
                            newlist[i].newstitle = newstitle;
                        }
                        <b><a href='../Home/NewsDetail?menu=4&id=@newlist[0].id'>@titleFirst</a></b>
                        <div class="liuzhuanrightdiv">@contentFirst<a href='../Home/NewsDetail?menu=4&id=@newlist[0].id' style="color:#FF7803;"><span>[详情]</span></a></div>
                        <div class="liuzhuanRinfo">
                            <ul class="liuzhuanlist1">
                                @for (int i = 1; i < newlist.Count; i++)
                                {
                                    string title = DotNet.Utilities.HTMLHelper.NoHTML(newlist[i].newstitle);
                                    title = title.Length>12?title.Substring(0,12)+"...":title;
                                    <li><a href='../Home/NewsDetail?menu=4&id=@newlist[i].id'><span>[@newlist[i].typename]</span><span>@title</span></a></li>
                                }
                            </ul>
                          @*  <ul class="liuzhuanimglist2">
                                <li><img src="../../Content/front/images/slider1.jpg" alt="img" /></li>
                                <li><img src="../../Content/front/images/slider1.jpg" alt="img" /></li>
                            </ul>*@
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="content6"><img alt="tupian" src="@adimg" /></div>

    }
    <!--  热门专题-->
@*    <div class="rmzt">
        <div class="rmztleft">
            <div class="rmzttitle">
                <b>热门专题</b><span>更多>></span></div>
            <div>
                <div class="rmzttuwen">
                    <dl>
                        <dt>
                            <img alt="tupian" src="../../Content/front/images/slider1.jpg" /></dt>
                        <dd class="tuwentitle">
                            <a>易农宝-让你的农业拥抱互...</a></dd>
                        <dd class="tuwentext">
                            易农宝-让你的农业拥抱互 易农宝-让你的农业拥抱互 易农宝-让你的农业拥抱互</dd>
                    </dl>
                    <dl>
                        <dt>
                            <img alt="tupian" src="../../Content/front/images/slider1.jpg" /></dt>
                        <dd class="tuwentitle">
                            <a>易农宝-让你的农业拥抱互...</a></dd>
                        <dd class="tuwentext">
                            易农宝-让你的农业拥抱互 易农宝-让你的农业拥抱互 易农宝-让你的农业拥抱互</dd>
                    </dl>
                </div>
                <div class="rmztnews">
                    <ul>
                        <li><a>新闻列表</a></li>
                        <li><a>新闻列表</a></li>
                        <li><a>新闻列表</a></li>
                        <li><a>新闻列表</a></li>
                        <li><a>新闻列表</a></li>
                        <li><a>新闻列表</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="rmztright">
            <div class="tdtools">
                <div><b>土地工具</b> <span>更多>></span></div>
                <ul>
                    <li><a><img alt="tupian" src="../../Content/front/images/tdtool1.gif" />征地补偿查询</a></li>
                    <li><a><img alt="tupian" src="../../Content/front/images/tdtool2.gif" />征地补偿查询</a></li>
                    <li><a><img alt="tupian" src="../../Content/front/images/tdtool3.gif" />征地补偿查询</a></li>
                    <li><a><img alt="tupian" src="../../Content/front/images/tdtool4.gif" />征地补偿查询</a></li>
                </ul>
            </div>
            <div class="cpycdiv"><a><img alt="tupian" src="../../Content/front/images/fn_index_86.png" /></a></div>
        </div>
    </div>*@
</div>
<div style="clear: both">
</div>
@*  获取内蒙古所有市并绑定*@ @*<script type="text/x-jsrender" id="qgcityTemplate">
<ul>
{{for #data}}
 <a alt="" href="{{:id}}"> <li>{{:name}}</li></a>
 {{/for}}
</ul>
</script>*@ @*类型*@ @*<script type="text/x-jsrender" id="qgtypeTemplate">
<ul>
{{for #data}}
 <a alt="" href="{{:id}}"> <li>{{:typename}}</li></a>
 {{/for}}
</ul>
</script>*@ @*流转*@ @*<script type="text/x-jsrender" id="qgchangeTemplate">
<ul>
{{for #data}}
 <a alt="" href="{{:id}}"> <li>{{:changetitle}}</li></a>
 {{/for}}
</ul>
</script>
<script type="text/javascript">
    $.templates("qgcityTmp", "#qgcityTemplate");
    $.templates("qgtype", "#qgtypeTemplate");
    $.templates("qgchange", "#qgchangeTemplate");
    $.post("../Home/GetCityList", { provinceid: 5 }, function (result, status) {
        if (result.success) {
            var html = $.render.qgcityTmp(result.data);
            $('#qgcity1').html(html);
            var html1 = $.render.qgtype(result.data1);
            $('#qgcity3').html(html1);
            var htmlchange = $.render.qgchange(result.data2);
            $('#qgcity2').html(htmlchange);
        }
    });
</script>*@