﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <link href="@Url.Content("~/Content/front/css/news.css")"                                 rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/front/novoslider/themes/default/default.css")"        rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/front/novoslider/css/nivo-slider.css")"               rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/metro/easyui.css")"      rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/icon.css")"              rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/jquery-1.7.2.min.js")"         type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/jquery.easyui.min.js")"        type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemonFront.js")"      type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/locale/easyui-lang-zh_CN.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/front/novoslider/js/jquery.nivo.slider.pack.js")"    type="text/javascript"></script>

    <style type="text/css">
    .nnnitem{font-size:13px;height:25px;line-height:25px;padding-left:3px;color:#2B2B2B;}
    .nnntop{height:55px;}
    .nnncontainer{width:100%;height:100%;float:left;margin-left:3px;margin-top:3px;}
    .nnnimg{float:left;height:100%;width:100px;background-color:wheat;}
    .nnntitle{float:right;height:20px;width:213px;font-weight:bold;font-size:13px;color:#575757;padding-right:3px;}
    .nnntitlex{float:right;height:20px;width:293px;font-weight:bold;font-size:13px;color:#575757;padding-right:3px;}
    .nnncontent{float:right;height:35px;width:213px;color:#797979;padding-right:3px;}
    .nnncontentx{float:right;height:35px;width:293px;color:#797979;padding-right:3px;}
    a:hover{color:#FFA61B}
    .soillist{width:1000px;height:800px;float:left;border:1px solid #dddddd;margin-top:10px;margin-bottom:10px;}
    </style>
    <script type="text/javascript">

        var pageSize = 9;
        var pageList = [9, 15, 30];

        var tid = GetQueryString("typeid");
        var DataURL = "GetNewsList?typeid=" + tid;
        var ColumnData = [[
                        { field: 'id', hidden: true },
                        { field: 'newstitle', title: '', width: 775, formatter: function (value, row, index) {
                            var attr = "";
                            if (row.schoolname != "" || row.uname != "") {
                                attr = "<div  style='float:left;font-size:12px;color:gray;height:80px;'>[发布时间："
                                         + formatDateTimeJSON(row.updatetime)
                                         + "]</div>";
                                return "<div style='height:80px;float:left;width:100%;border-bottom:1px dashed #CCCCCC;padding-left:10px;font-size:14px;'>"
                                 + "<div style='width:100px;float:left;'><img src='" + row.pageimg.replace(/[,]/g, "") + "' style='width:90px;height:60px;position:relative;top:10px;left:0px;'></img></div>"
                                 + "<div style='width:650px;height:80px;float:left;'><div style='float:left;height:30px;line-height:30px;'><a href='../Home/NewsDetail?menu=" + GetQueryString("menu") + "&id=" + row.id + "'>" + row.newstitle + "</a></div><div style='float:left;width:870px;height:50px;color:gray;font-size:13px;border-top:1px dashed #DDDDDD;'>" + row.newsnote + "</div></div>"
                                 + attr + "</div>";
                            }
                            else {
                                return "<div style='height:80px;float:left;width:100%;border-bottom:1px dashed #CCCCCC;padding-left:10px;font-size:14px;line-height:80px;'>"+row.newstitle+"</div>";
                            }
                        }
                        }
                      ]];

        
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return (r[2]); return null;
        }

    </script>
}
@{
  
}
<div style="width:1000px;height:auto;margin:0 auto;margin-bottom:10px;">
   <div class="soillist"><table id="dg"></table></div>
</div>
<div style="clear:both"></div>