﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <link href="../../Content/front/css/news.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/front/novoslider/themes/default/default.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/front/novoslider/css/nivo-slider.css" rel="stylesheet" type="text/css" />
    <script src="../../Content/front/novoslider/js/jquery.nivo.slider.pack.js" type="text/javascript"></script>
    <style type="text/css">
    .nnnitem{font-size:13px;height:25px;line-height:25px;padding-left:3px;color:#2B2B2B;}
    .nnntop{height:55px;}
    .nnncontainer{width:100%;height:100%;float:left;margin-left:3px;margin-top:3px;}
    .nnnimg{float:left;height:100%;width:100px;background-color:wheat;}
    .nnntitle{float:right;height:20px;width:213px;font-weight:bold;font-size:13px;color:#575757;padding-right:3px;}
    .nnntitlex{float:right;height:20px;width:293px;font-weight:bold;font-size:13px;color:#575757;padding-right:3px;}
    .nnncontent{float:right;height:35px;width:213px;color:#797979;padding-right:3px;}
    .nnncontentx{float:right;height:35px;width:293px;color:#797979;padding-right:3px;}
    a:hover{color:#FFA61B}
    
    .videocontainer{float:left;height:100px;width:120px;margin-top:5px;margin-left:5px;}
    .videoimg{float:left;width:100%;height:80px;}
    .videotxt{float:left;width:100%;height:20px;text-align:center;}
    </style>
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider({ pauseTime: 3000 });
            $(".nivo-controlNav").hide();
        });
    </script>
}
@{
    FuNong.DataContract.NewsResponse newsdetail = ViewBag.message as FuNong.DataContract.NewsResponse;
    newsdetail.newscontent = newsdetail.newscontent.Replace("div", "span");
}

<div style="width:1000px;height:auto;margin:0 auto;margin-bottom:10px;">
  <div style="width:100%;height:100%;float:left;">
    <div style="width:100%;height:30px;line-height:30px">&nbsp;&nbsp;&nbsp;&nbsp;当前位置：资讯首页 > 查看详细信息</div>
    <div style="width:100%;height:80px;line-height:80px;font-size:18px;font-weight:bold;text-align:center;">@newsdetail.newstitle</div>
    <div style="width:100%;height:20px;line-height:20px;font-size:13px;color:Gray; text-align:center;">更新时间：@newsdetail.updatetime 资讯来源：德森科技 浏览次数：1000 </div>
    <div style="width:100%;height:100%;margin-top:15px;color:#575757;min-height:550px;text-indent:2em;font-size:15px;font-family: 微软雅黑;line-height:2;">@Html.Raw(@newsdetail.newscontent)</div>
  @*  <div style="width:100%;height:20px;font-size:13px;color:gray;font-family:微软雅黑;line-height: 1.7;margin-bottom:15px;">
    文章关键词:土地预流转 土地挂牌 农村产权流转交易 
    </div>*@
  </div>
@*  <div style="width:260px;height:650px;float:right;">
        <div class="newsthirdrightone">
          <ul class="newslistul">
            <li class="newslisttitle">
            <span class="newslisttitletext">视频新闻</span>
            <span class="newslisttitlemore">更多>></span>
            </li>
        </ul>
        @for (var i = 0; i < videoCount; i++)
        {
            string videoTitle = videoMarket[i].newstitle;
            if (videoTitle.Length > 8)
            {
                videoTitle = videoTitle.Substring(0, 8) + "...";
            }

            string imgsrc = "../../Content/front/images/video/videoimg"+i+".jpg";
            
            <div class="videocontainer">
                <div class="videoimg"><img src=@imgsrc style="width:120px;height:80px;" /></div>
                <div class="videotxt"><a href='#'>@videoTitle</a></div>
            </div>
        }
        </div>
        <div class="newsthirdrighttwo"><img alt="" src="../../Content/front/images/banner_260.jpg" /></div>
  </div>*@
</div>
<div style="clear:both"></div>