﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <link href="@Url.Content("~/Content/admin/js/artDialog/skins/blue.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/admin/js/jquery.validationEngine/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/jquery.validationEngine/jquery.validationEngine.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jquery.validationEngine/jquery.validationEngine-zh_CN.js")" type="text/javascript"></script>

    <style type="text/css">
        .username{border:1px solid #BFC1C0;height:25px;width:250px;}
        #clicktoregister{cursor:pointer;}
    </style>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#uregister").validationEngine();

            $("#valiCode").bind("click", function () {
                this.src = "/Home/ValidateCode?time=" + (new Date()).getTime();
            });

            $("#username").bind("blur", function () {

                var username = $("#username").val();

                var formattedJSON = { inamex: username };

                $.ajax({
                    url: "Checkuser",
                    type: "post",
                    data: formattedJSON,
                    dataType: "json",
                    success: function (result) {
                        if (result.success) {
                            $("#usernamenoti").html("<span style='color:green'>" + result.message + "</span>");
                        }
                        else {
                            $("#usernamenoti").html(result.message);
                            return false;
                        }
                    },
                    error: function (a, b, c) { }
                });
            });
        });


        function ClickToSubmit() {
            var username = $("#username").val();
            var pwd = $("#pwd").val();
            var cpwd = $("#cpwd").val();
            var phone = $("#phone").val();

            var formattedJSON = { usernamex: username, pwdx: pwd, cpwdx: cpwd, phonex: phone};

            $.ajax({
                url: "RegisterUser",
                type: "post",
                data: formattedJSON,
                dataType: "json",
                success: function (result) {
                    $(".infocenter").html("");
                    if (result.success) {
                        art.dialog({ title: '提示', icon: 'succeed', time: 4, content:result.message, padding: 0 });
                    }
                    else {
                        art.dialog({ title: '提示', icon: 'error', time: 4, content: result.message, padding: 0 });
                    }
                },
                error: function (a, b, c) {}
            });
        }
    </script>
}

<div  style="width:1000px;height:auto;margin:0 auto; background:#F1F7F5 url(../../Content/front/images/福农网-用户注册_03.jpg) no-repeat 100px 100px ;height:455px; margin-bottom:10px;margin-top:10px;border-top:2px solid #168C1C;">
    <form id="uregister">
        <table style="margin-left:400px;margin-top:100px;">
            <tbody>
                <tr>
                    <td style="height:40px;text-align:right;">用户名&nbsp;&nbsp;</td>
                    <td><input type="text" name="username" id="username" class="username validate[required]" /></td>
                    <td style="color:#FE7B0F" id="usernamenoti">用户名必须在2～24个字符之间</td>
                </tr>
                <tr>
                    <td style="height:40px;text-align:right;">密 码&nbsp;&nbsp;</td>
                    <td><input type="password" id="pwd" name="password" class="username validate[required]" /></td>
                    <td style="color:#FE7B0F" id="pwdnoti"></td>
                </tr>
                <tr>
                    <td style="height:40px;text-align:right;">确认密码&nbsp;&nbsp;</td>
                    <td><input type="password" id="cpwd" name="confirmpwd" class="username validate[required,equals[pwd]]" /></td>
                    <td style="color:#FE7B0F" id="cpwdnoti"></td>
                </tr>
                <tr>
                    <td style="height:40px;text-align:right;">手机号码&nbsp;&nbsp;</td>
                    <td><input type="text" name="phone" id="phone" class="username validate[required,custom[phone]]" /></td>
                    <td style="color:#FE7B0F" id="phonenoti"></td>
                </tr>
                <tr>
                    <td style="height:80px;text-align:center;fontsize:12px;" colspan="3">
                        <img id="clicktoregister" onclick="ClickToSubmit();" src="../../Content/front/images/福农网-用户注册_07.jpg" />
                        &nbsp;&nbsp;&nbsp;&nbsp;当前已有账号？ <a href="/Home/Login">立即登陆</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div style="clear:both"></div>