﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
}

@section scripts
{
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/metro/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/icon.css")"             rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/jquery-1.7.2.min.js")"        type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/jquery.easyui.min.js")"       type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemonFront.js")"     type="text/javascript"></script>
    <style type="text/css">
        .tradewrapper{width:1000px;margin:0 auto;text-align:center;margin-top:10px;margin-bottom:10px;}
        .tradesearch{width:100%;height:40px;border:1px solid #DDDDDD;float:left; padding-top:5px;}
        .tradesearch ul{list-style:none;padding:0;margin:0;margin-left:5px;}
        .tradesearch .lititle{float:left;font-weight:bold;height:40px;line-height:40px;}
        .tradesearch .liitem{float:left;height:40px;line-height:40px;}
        .tradesearch .lititle1{float:left;text-align:right;width:100px;font-weight:bold;height:40px;line-height:40px;}
        
        .tradecontent{width:100%;height:1650px;float:left;margin-top:10px;margin-bottom:10px;}
        
        .tradecontainer{float:left;width:239px;height:300px;margin-bottom:10px;}
        /*.tradecontainer{float:left;width:240px;height:270px;border:1px solid #DDDDDD;background:url(../../Content/front/images/bg.png);-webkit-box-shadow: 10px 10px 14px #737373;-moz-box-shadow: 10px 10px 14px #737373;box-shadow: 10px 10px 14px #737373;margin-bottom:10px;}*/
        .tradecontainertitle{width:190px;height:60px;line-height:30px;border-top:3px solid #4BA44A;color:#454545;font-size:14px;float:left;font-weight:bold;}
        .tradecontainerstate{float:left;width:48px;height:52px;}
        .tradecontainercontent{width:100%;height:240px;float:left;position:relative;}
        .tradecontainercontent ul{list-style:none;padding:0;margin:0;}
        .tradecontainercontent li{float:left;width:100%;height:30px;line-height:30px;text-align:left;}
        .seekbtn{cursor:pointer;height:41px;width:146px;margin:0 auto;display:block;background:url(../../Content/front/images/按钮.png) no-repeat;margin-top:10px;font-weight:bold;color:White;text-align:center;font-size:14px;line-height:35px;}
        .seekinfo{position:absolute;height:54px;width:80px;right:10px;bottom:50px}
    </style>

    <script type="text/javascript">
        var DataURL = "../../Home/GetTardeingMarketList";
        var ColumnData = [[
                        { field: '0', title: '', formatter: function (value, row, index) {

                            var fee1 = getfee(row.sr1.chargefee);
                            var fee2 = getfee(row.sr2.chargefee);
                            var fee3 = getfee(row.sr3.chargefee);
                            var fee4 = getfee(row.sr4.chargefee);

                            var title1 = row.sr1.publishtitle;
                            var title2 = row.sr2.publishtitle;
                            var title3 = row.sr3.publishtitle;
                            var title4 = row.sr4.publishtitle;

                            if (title1.length > 25) title1 = title1.substring(0, 25) + "...";
                            if (title2.length > 25) title2 = title2.substring(0, 25) + "...";
                            if (title3.length > 25) title3 = title3.substring(0, 25) + "...";
                            if (title4.length > 25) title4 = title4.substring(0, 25) + "...";


                            return "<div class='tradecontainer'>"
                                  + "     <div class='tradecontainertitle'>" + title1 + "</div>"
                                  + "         <div class='tradecontainerstate'><img src='../../Content/front/images/state/ongoing.jpg' /></div>"
                                  + "         <div class='tradecontainercontent'>"
                                  + "             <ul>"
                                  + "             <li>所在区域：" + row.sr1.provincename + "-" + row.sr1.cityname + "-" + row.sr1.districtname + "</li>"
                                  + "             <li>土地用途：" + row.sr1.changetypename + ">" + row.sr1.soiltypename + "</li>"
                                  + "             <li>流转方式：" + row.sr1.changetypename + "</li>"
                                  + "             <li>面积总计：" + row.sr1.soilarea + "亩</li>"
                                  + "             <li>总计价格：" + fee1 + "</li>"
                                  + "             <li>更新时间：" + formatDateTimeJSON(row.sr1.updatetime) + "</li>"
                                  + "             <li style='float:left;width:100%;height:50px;line-height:30px;text-align:left;'>"
                                  + "                 <a href='../../home/SoilDetail?menu=1&id=" + row.sr1.id + "'><span class='seekbtn'>地块详情</span></a>"
                                  + "             </li>"
                                  + "             </ul>"
                                  + "         </div>"
                                  + "     </div>"
                                  + "     <div class='tradecontainer' style='margin-left:5px;'>"
                                  + "         <div class='tradecontainertitle'>" + title2 + "</div>"
                                  + "           <div class='tradecontainerstate'><img src='../../Content/front/images/state/ongoing.jpg' /></div>"
                                  + "         <div class='tradecontainercontent'>"
                                  + "             <ul>"
                                  + "             <li>所在区域：" + row.sr2.provincename + "-" + row.sr2.cityname + "-" + row.sr2.districtname + "</li>"
                                  + "             <li>土地用途：" + row.sr2.changetypename + ">" + row.sr2.soiltypename + "</li>"
                                  + "             <li>流转方式：" + row.sr2.changetypename + "</li>"
                                  + "             <li>面积总计：" + row.sr2.soilarea + "亩</li>"
                                  + "             <li>总计价格：" + fee2 + "</li>"
                                  + "             <li>更新时间：" + formatDateTimeJSON(row.sr2.updatetime) + "</li>"
                                  + "             <li style='float:left;width:100%;height:50px;line-height:30px;text-align:left;'>"
                                  + "                 <a href='../../home/SoilDetail?menu=1&id=" + row.sr2.id + "'><span class='seekbtn'>地块详情</span></a>"
                                  + "             </li>"
                                  + "             </ul>  "
                                  + "         </div>"
                                  + "     </div>"
                                  + "     <div class='tradecontainer' style='margin-left:5px;'>"
                                  + "         <div class='tradecontainertitle'>" + title3 + "</div>"
                                  + "         <div class='tradecontainerstate'><img src='../../Content/front/images/state/ongoing.jpg' /></div>"
                                  + "         <div class='tradecontainercontent'>"
                                  + "               <ul>"
                                  + "             <li>所在区域：" + row.sr3.provincename + "-" + row.sr3.cityname + "-" + row.sr3.districtname + "</li>"
                                  + "             <li>土地用途：" + row.sr3.changetypename + ">" + row.sr3.soiltypename + "</li>"
                                  + "             <li>流转方式：" + row.sr3.changetypename + "</li>"
                                  + "             <li>面积总计：" + row.sr3.soilarea + "亩</li>"
                                  + "             <li>总计价格：" + fee3 + "</li>"
                                  + "             <li>更新时间：" + formatDateTimeJSON(row.sr3.updatetime) + "</li>"
                                  + "             <li style='float:left;width:100%;height:50px;line-height:30px;text-align:left;'>"
                                  + "                 <a href='../../home/SoilDetail?menu=1&id=" + row.sr3.id + "'><span class='seekbtn'>地块详情</span></a>"
                                  + "             </li>"
                                  + "             </ul>"
                                  + "         </div>"
                                  + "     </div>"
                                  + "     <div class='tradecontainer' style='margin-left:5px;'>"
                                  + "         <div class='tradecontainertitle'>" + title4 + "</div>"
                                  + "         <div class='tradecontainerstate'><img src='../../Content/front/images/state/ongoing.jpg' /></div>"
                                  + "         <div class='tradecontainercontent'>"
                                  + "               <ul>"
                                  + "             <li>所在区域：" + row.sr4.provincename + "-" + row.sr4.cityname + "-" + row.sr4.districtname + "</li>"
                                  + "             <li>土地用途：" + row.sr4.changetypename + ">" + row.sr4.soiltypename + "</li>"
                                  + "             <li>流转方式：" + row.sr4.changetypename + "</li>"
                                  + "             <li>面积总计：" + row.sr4.soilarea + "亩</li>"
                                  + "             <li>总计价格：" + fee4 + "</li>"
                                  + "             <li>更新时间：" + formatDateTimeJSON(row.sr4.updatetime) + "</li>"
                                  + "             <li style='float:left;width:100%;height:50px;line-height:30px;text-align:left;'>"
                                  + "                 <a href='../../home/SoilDetail?menu=1&id=" + row.sr4.id + "'><span class='seekbtn'>地块详情</span></a>"
                                  + "             </li>"
                                  + "             </ul>"
                                  + "         </div>"
                                  + "     </div>";
                        }, width: 200
                        }
                      ]];

          var cityList, soilList, changeList;
          $(document).ready(function () {
              //获取城市，土地类型，流转类型列表
              $.ajaxWebService("../../Home/GetCityList", "{ provinceid: '5' }", function (data) {
                  if (data.success) {
                      cityList = data.data;
                      soilList = data.data1;
                      changeList = data.data2;
                  }
              });
          });

          $.ajaxWebService = function (url, dataparam, datasuccess) {
              $.ajax({
                  type: "POST",
                  dataType: "json",
                  contentType: "application/json",
                  url: url,
                  data: dataparam,
                  success: datasuccess,
                  error: function (a, b, c) { }
              });
          }

          function getfee(data) {
              var fee1 = data;
              if (fee1 == "" || fee1 == undefined || fee1 == null) fee1 = "面议";
              else fee1 = fee1 + "万元";

              return fee1;
          }

          function submitquery() {

              var soiltypeid = new Array();
              var changetypeid = new Array();
              var districtid = new Array();
              var cityid = new Array();

              $("#paramList span[class='removeoption']").each(function () {
                  var tag1 = $(this).attr("tag1");
                  var tag = $(this).attr("tag");
                  if (tag1 == "soildetail") soiltypeid.push(tag);
                  if (tag1 == "change") changetypeid.push(tag);
                  if (tag1 == "district") districtid.push(tag);
                  //if (tag1 == "city") cityid.push(tag);
              });

              var query = { soiltypelist: '' + soiltypeid + ''
                            , changetypelist: '' + changetypeid + ''
                            , districtlist: '' + districtid + ''
                  // , citylist: '' + cityid + ''
              };

              $("#dg").datagrid('options').queryParams = query; //把查询条件赋值给datagrid内部变量
              $("#dg").datagrid('reload'); //重新加载
          }

    </script>
}

<div class="tradewrapper">
<!--搜索-->
<div class="tradesearch">
<ul>
<li class="lititle">交易状态：</li>
<li class="liitem"><a href="#">最新发布</a> <a href="#">正在进行</a> <a href="#">流转成功</a></li>
<li class="lititle1">流转方式：</li>
<li class="liitem"><a href="#">转包</a> <a href="#">出租</a> <a href="#">互换</a> <a href="#">转让</a> <a href="#">股份合作(入股)</a> </li>
</ul>
</div>
<!--内容-->
<div class="tradecontent">
    <table id="dg"></table>

   @* <div class="tradecontainer">
        <div class="tradecontainertitle">湖南人口大县新邵县老城区极佳地段315亩旧城改造项...</div>
        <div class="tradecontainerstate"><img src="../../Content/front/images/state/ongoing.jpg" /></div>
        <div class="tradecontainercontent">
            <ul>
            <li>所在区域：湖南-邵阳-新邵县</li>
            <li>土地用途：住宅地>商住地</li>
            <li>流转方式：转包</li>
            <li>面积总计：2000亩</li>
            <li>总计价格：20.06万元</li>
            <li>更新时间：2015-03-16</li>
            <li style="float:left;width:100%;height:50px;line-height:30px;text-align:left;">
                <span class="seekbtn">地块详情</span>
            </li>
            </ul>
        </div>
    </div>
    <div class="tradecontainer" style="margin-left:10px;">
        <div class="tradecontainertitle">这里是测试部分</div>
          <div class="tradecontainerstate"><img src="../../Content/front/images/state/ongoing.jpg" /></div>
        <div class="tradecontainercontent">
            <ul>
            <li>所在区域：湖南-邵阳-新邵县</li>
            <li>土地用途：住宅地>商住地</li>
            <li>流转方式：转包</li>
            <li>面积总计：2000亩</li>
            <li>总计价格：20.06万元</li>
            <li>更新时间：2015-03-16</li>
            <li style="float:left;width:100%;height:50px;line-height:30px;text-align:left;">
                <span class="seekbtn">地块详情</span>
            </li>
            </ul>  
        </div>
    </div>
    <div class="tradecontainer" style="margin-left:10px;">
        <div class="tradecontainertitle">这里是测试部分</div>
        <div class="tradecontainerstate"><img src="../../Content/front/images/state/ongoing.jpg" /></div>
        <div class="tradecontainercontent">
              <ul>
            <li>所在区域：湖南-邵阳-新邵县</li>
            <li>土地用途：住宅地>商住地</li>
            <li>流转方式：转包</li>
            <li>面积总计：2000亩</li>
            <li>总计价格：20.06万元</li>
            <li>更新时间：2015-03-16</li>
            <li style="float:left;width:100%;height:50px;line-height:30px;text-align:left;">
                <span class="seekbtn">地块详情</span>
            </li>
            </ul>
        </div>
    </div>
    <div class="tradecontainer" style="margin-left:10px;">
        <div class="tradecontainertitle">这里是测试部分</div>
        <div class="tradecontainerstate"><img src="../../Content/front/images/state/ongoing.jpg" /></div>
        <div class="tradecontainercontent">
              <ul>
            <li>所在区域：湖南-邵阳-新邵县</li>
            <li>土地用途：住宅地>商住地</li>
            <li>流转方式：转包</li>
            <li>面积总计：2000亩</li>
            <li>总计价格：20.06万元</li>
            <li>更新时间：2015-03-16</li>
            <li style="float:left;width:100%;height:50px;line-height:30px;text-align:left;">
                <span class="seekbtn">地块详情</span>
            </li>
            </ul>
        </div>
    </div>
    <div class="tradecontainer">
        <div class="tradecontainertitle">这里是测试部分</div>
        <div class="tradecontainerstate"><img src="../../Content/front/images/state/ongoing.jpg" /></div>
        <div class="tradecontainercontent">
              <ul>
            <li>所在区域：湖南-邵阳-新邵县</li>
            <li>土地用途：住宅地>商住地</li>
            <li>流转方式：转包</li>
            <li>面积总计：2000亩</li>
            <li>总计价格：20.06万元</li>
            <li>更新时间：2015-03-16</li>
            <li style="float:left;width:100%;height:50px;line-height:30px;text-align:left;">
                <span class="seekbtn">地块详情</span>
            </li>
            </ul>
        </div>
    </div>
    <div class="tradecontainer" style="margin-left:10px;">
        <div class="tradecontainertitle">这里是测试部分</div>
        <div class="tradecontainerstate"><img src="../../Content/front/images/state/ongoing.jpg" /></div>
        <div class="tradecontainercontent">
              <ul>
            <li>所在区域：湖南-邵阳-新邵县</li>
            <li>土地用途：住宅地>商住地</li>
            <li>流转方式：转包</li>
            <li>面积总计：2000亩</li>
            <li>总计价格：20.06万元</li>
            <li>更新时间：2015-03-16</li>
            <li style="float:left;width:100%;height:50px;line-height:30px;text-align:left;">
                <span class="seekbtn">地块详情</span>
            </li>
            </ul>
        </div>
    </div>
    <div class="tradecontainer" style="margin-left:10px;">
        <div class="tradecontainertitle">这里是测试部分</div>
        <div class="tradecontainerstate"><img src="../../Content/front/images/state/success.jpg" /></div>
        <div class="tradecontainercontent">
              <ul>
            <li>所在区域：湖南-邵阳-新邵县</li>
            <li>土地用途：住宅地>商住地</li>
            <li>流转方式：转包</li>
            <li>面积总计：2000亩</li>
            <li>总计价格：20.06万元</li>
            <li>更新时间：2015-03-16</li>
            <li style="float:left;width:100%;height:50px;line-height:30px;text-align:left;">
                <span class="seekbtn">地块详情</span>
            </li>
            </ul>
        </div>
    </div>
    <div class="tradecontainer" style="margin-left:10px;">
        <div class="tradecontainertitle">这里是测试部分</div>
        <div class="tradecontainerstate"><img src="../../Content/front/images/state/fail.jpg" /></div>
        <div class="tradecontainercontent">
              <ul>
            <li>所在区域：湖南-邵阳-新邵县</li>
            <li>土地用途：住宅地>商住地</li>
            <li>流转方式：转包</li>
            <li>面积总计：2000亩</li>
            <li>总计价格：20.06万元</li>
            <li>更新时间：2015-03-16</li>
            <li style="float:left;width:100%;height:50px;line-height:30px;text-align:left;">
                <span class="seekbtn">地块详情</span>
            </li>
            </ul>
        </div>
    </div>
    <div class="tradecontainer">
        <div class="tradecontainertitle">这里是测试部分</div>
        <div class="tradecontainerstate"><img src="../../Content/front/images/state/new.jpg" /></div>
        <div class="tradecontainercontent">
              <ul>
            <li>所在区域：湖南-邵阳-新邵县</li>
            <li>土地用途：住宅地>商住地</li>
            <li>流转方式：转包</li>
            <li>面积总计：2000亩</li>
            <li>总计价格：20.06万元</li>
            <li>更新时间：2015-03-16</li>
            <li style="float:left;width:100%;height:50px;line-height:30px;text-align:left;">
                <span class="seekbtn">地块详情</span>
            </li>
            </ul>
        </div>
    </div>
    <div class="tradecontainer" style="margin-left:10px;">
        <div class="tradecontainertitle">这里是测试部分</div>
        <div class="tradecontainerstate"><img src="../../Content/front/images/state/new.jpg" /></div>
        <div class="tradecontainercontent">
              <ul>
            <li>所在区域：湖南-邵阳-新邵县</li>
            <li>土地用途：住宅地>商住地</li>
            <li>流转方式：转包</li>
            <li>面积总计：2000亩</li>
            <li>总计价格：20.06万元</li>
            <li>更新时间：2015-03-16</li>
            <li style="float:left;width:100%;height:50px;line-height:30px;text-align:left;">
                <span class="seekbtn">地块详情</span>
            </li>
            </ul>
        </div>
    </div>
    <div class="tradecontainer" style="margin-left:10px;">
        <div class="tradecontainertitle">这里是测试部分</div>
        <div class="tradecontainerstate"><img src="../../Content/front/images/state/new.jpg" /></div>
        <div class="tradecontainercontent">
              <ul>
            <li>所在区域：湖南-邵阳-新邵县</li>
            <li>土地用途：住宅地>商住地</li>
            <li>流转方式：转包</li>
            <li>面积总计：2000亩</li>
            <li>总计价格：20.06万元</li>
            <li>更新时间：2015-03-16</li>
            <li style="float:left;width:100%;height:50px;line-height:30px;text-align:left;">
                <span class="seekbtn">地块详情</span>
            </li>
            </ul>
        </div>
    </div>
    <div class="tradecontainer" style="margin-left:10px;">
        <div class="tradecontainertitle">这里是测试部分</div>
        <div class="tradecontainerstate"><img src="../../Content/front/images/state/fail.jpg" /></div>
        <div class="tradecontainercontent">
              <ul>
            <li>所在区域：湖南-邵阳-新邵县</li>
            <li>土地用途：住宅地>商住地</li>
            <li>流转方式：转包</li>
            <li>面积总计：2000亩</li>
            <li>总计价格：20.06万元</li>
            <li>更新时间：2015-03-16</li>
            <li style="float:left;width:100%;height:50px;line-height:30px;text-align:left;">
                <span class="seekbtn">地块详情</span>
            </li>
            </ul>
        </div>
    </div>
    <div class="tradecontainer">
        <div class="tradecontainertitle">这里是测试部分</div>
        <div class="tradecontainerstate"><img src="../../Content/front/images/state/fail.jpg" /></div>
        <div class="tradecontainercontent">
              <ul>
            <li>所在区域：湖南-邵阳-新邵县</li>
            <li>土地用途：住宅地>商住地</li>
            <li>流转方式：转包</li>
            <li>面积总计：2000亩</li>
            <li>总计价格：20.06万元</li>
            <li>更新时间：2015-03-16</li>
            <li style="float:left;width:100%;height:50px;line-height:30px;text-align:left;">
                <span class="seekbtn">地块详情</span>
            </li>
            </ul>
        </div>
    </div>
    <div class="tradecontainer" style="margin-left:10px;">
        <div class="tradecontainertitle">这里是测试部分</div>
        <div class="tradecontainerstate"><img src="../../Content/front/images/state/success.jpg" /></div>
        <div class="tradecontainercontent">
              <ul>
            <li>所在区域：湖南-邵阳-新邵县</li>
            <li>土地用途：住宅地>商住地</li>
            <li>流转方式：转包</li>
            <li>面积总计：2000亩</li>
            <li>总计价格：20.06万元</li>
            <li>更新时间：2015-03-16</li>
            <li style="float:left;width:100%;height:50px;line-height:30px;text-align:left;">
                <span class="seekbtn">地块详情</span>
            </li>
            </ul>
        </div>
    </div>
    <div class="tradecontainer" style="margin-left:10px;">
        <div class="tradecontainertitle">这里是测试部分</div>
        <div class="tradecontainerstate"><img src="../../Content/front/images/state/success.jpg" /></div>
        <div class="tradecontainercontent">
              <ul>
            <li>所在区域：湖南-邵阳-新邵县</li>
            <li>土地用途：住宅地>商住地</li>
            <li>流转方式：转包</li>
            <li>面积总计：2000亩</li>
            <li>总计价格：20.06万元</li>
            <li>更新时间：2015-03-16</li>
            <li style="float:left;width:100%;height:50px;line-height:30px;text-align:left;">
                <span class="seekbtn">地块详情</span>
            </li>
            </ul>
        </div>
    </div>
    <div class="tradecontainer" style="margin-left:10px;">
        <div class="tradecontainertitle">这里是测试部分</div>
        <div class="tradecontainerstate"><img src="../../Content/front/images/state/ongoing.jpg" /></div>
        <div class="tradecontainercontent">
              <ul>
            <li>所在区域：湖南-邵阳-新邵县</li>
            <li>土地用途：住宅地>商住地</li>
            <li>流转方式：转包</li>
            <li>面积总计：2000亩</li>
            <li>总计价格：20.06万元</li>
            <li>更新时间：2015-03-16</li>
            <li style="float:left;width:100%;height:50px;line-height:30px;text-align:left;">
                <span class="seekbtn">地块详情</span>
            </li>
            </ul>
        </div>
    </div>*@
</div>
</div>
<div style="clear:both"></div>