﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <link href="~/Content/front/css/collector.css" rel="stylesheet" type="text/css" />
    <!--BootStrap V3 Part-->
    <link href="~/Content/front/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/front/angular-ui-grid/ui-grid.css" rel="stylesheet" />
    <script src="~/Content/front/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <!--Jquery EasyUI Part-->
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/gray/easyuiedit.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/icon.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/locale/easyui-lang-zh_CN.js")" type="text/javascript"></script>
    <!--ArtDialog-->
    <link href="@Url.Content("~/Content/admin/js/artDialog/skins/green.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")" type="text/javascript"></script>
    <!--AngularJS Part-->
    <script src="~/Content/front/angularjs/angular.min.js"></script>
    <script src="~/Content/front/angularjs/angular-cookies.min.js"></script>
    <!--UIGrid Part-->
    <script src="~/Content/front/angular-ui-grid/ui-grid.min.js"></script>  
    <!--DateTimePicker Part(http://dalelotts.github.io/angular-bootstrap-datetimepicker/)-->
    <link href="~/Content/front/angular-datetimepicker/css/datetimepicker.css" rel="stylesheet" />
    <script src="~/Content/front/angular-datetimepicker/js/moment.js"></script>
    <script src="~/Content/front/angular-datetimepicker/js/zh-cn.js"></script>
    <script src="~/Content/front/angular-datetimepicker/js/datetimepicker.js"></script>
    <!--Map Part-->
    <script src=" http://api.tianditu.com/js/maps.js" type="text/javascript"></script>
    <!--Player Part-->
    <script src="~/JLib/app.js"></script>
    <script src="~/JLib/BaseService.js"></script>
    <script src="~/JLib/VideoFront/VideoController.js"></script>
    <script src="~/JLib/CollectorFront/SelectorDirective.js"></script>
    <script src="~/JLib/VideoFront/VideoService.js"></script>
 
}

<div class="collectorcontainer" ng-app="dsBootstrap" ng-controller="videoController">
    <div class="searchcontainer">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">所属省份：</span>
                    <sector-part options="ProvinceData" ng-model="selectedProvince" ng-change="GetCityList()"></sector-part>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">所属市县：</span>
                    <sector-part options="CityData" ng-model="selectedCity" ng-change="GetDistrictList()"></sector-part>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">所属地区：</span>
                    <sector-part options="DistrictData" ng-model="selectedDistrict" ng-change="GetCompanyList()"></sector-part>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">所属公司：</span>
                    <sector-part options="CompanyData" ng-model="selectedCompany" ng-change="GetVideoList()"></sector-part>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">监控名称：</span>
                    <sector-video options="MonitorData" ng-model="selectedMonitor"></sector-video>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <button class="btn btn-success" type="submit" ng-click="GetRealTimeMonitorByVideo()" style="height:33px;line-height:16px;width:315px;">点击加载</button>
                </div>
            </div>
        </div>
    </div>

    <div class="datacontainer">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">{{selectedMachine.machine_name}}视频监控</div>
                    <div class="panel-body" id="loaderContainer" style="padding:5px!important;">
                        <div style="width:100%;height:460px;background-color:gray;">
                            @*<iframe sandbox="allow-same-origin allow-scripts a llow-popups allow-forms allow-top-navigation" src="{{frameSrc}}" frameborder="0" style="background-color:white;" scrolling="auto" width="100%" height="100%"></iframe>*@
                            <div id="mapDiv" style="position:absolute;width:990px; height:460px"></div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
