﻿@{
    ViewBag.Title = "这是控制器的Angularjs实现界面";
}

@section scripts{
    <link href="~/Content/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Content/jqueryplugin/jquery.min.js"></script>  

    <script src="~/Content/jqueryplugin/jquery.rte.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.signalR-1.1.4.min.js" type="text/javascript"></script>
    <script src="~/signalr/hubs"></script>
    
  
    <script src="~/Content/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/angularjs/angular.min.js"></script>
    
    <script src="~/JSLib/app.js"></script>
    <script src="~/JSLib/mainController.js"></script>
    <script src="~/JSLib/mainDirective.js"></script>
    <script src="~/JSLib/mainService.js"></script>

<script>
    //$(function () {

    //    //添加对自动生成的Hub的引用
    //    var chat = $.connection.chatHub;

    //    //调用Hub的callback回调方法

    //    //后端SendChat调用后，产生的addNewMessageToPage回调
    //    //chat.client.addNewMessageToPage = function (id, name, message) {
    //    //    $('#discussion').append('<li style="color:blue;">' + htmlEncode(name) + '</li><li> ' + htmlEncode(message) + '</li>')
    //    //};

    //    //后端SendLogin调用后，产生的loginUser回调
    //    //chat.client.loginUser = function (userlist) {
    //    //    reloadUser(userlist);
    //    //};

    //    chat.client.printCommand = function (command) {
    //        //$scope.controllerData.controller[1].functionlist[1].state = true;
    //        debugger;
    //    }

    //    //后端SendLogoff调用后，产生的logoffUser回调
    //    //chat.client.logoffUser = function (userlist) {
    //    //    reloadUser(userlist);
    //    //};

    //    //启动链接
    //    $.connection.hub.start().done(function () {
           
    //    });

    //});
</script>

}

<div ng-controller="dsController">
    <main-part options="controllerData"></main-part>
</div>
