﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@section scripts{
<script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemon.js")" type="text/javascript"></script>
<script type="text/javascript">
    var DataURL = "GetDepartmentDetailByPage";
    var ColumnData = [[
                        { field: 'ck', checkbox: true },
                        { field: 'id', hidden: true },
                        { field: 'departmentname', title: '部门名称', editor: 'text', width: 100 },
                        { field: 'departmentnote', title: '部门备注', editor: 'text', width: 200 },
                        { field: 'recordorder', title: '排序', editor: 'numberbox', width: 50 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

    var SaveRecords = function () {
        //只有先endedit之后，值才会传到后台。
        endEdit();
        var inserted = $('#dg').datagrid('getChanges', "inserted");
        var deleted = $('#dg').datagrid('getChanges', "deleted");
        var updated = $('#dg').datagrid('getChanges', "updated");
        var effectRow = new Object();
        if (inserted.length) {
            effectRow["inserted"] = JSON.stringify(inserted);
        }
        if (deleted.length) {
            effectRow["deleted"] = JSON.stringify(deleted);
        }
        if (updated.length) {
            effectRow["updated"] = JSON.stringify(updated);
        }
        $.post("CommitDepartmentDetails", effectRow, function (response) {
            if (response.success) 
                $.messager.show({ title: '操作成功', msg: response.success });
            else 
                $.messager.show({ title: '操作失败', msg: response.error });

            $('#dg').datagrid('reload'); 
        }, "JSON");
    }
</script>
}
<table id="dg" title="设备参数配置"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />
