﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts
{
    <link   href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/gray/tree.css")"   type="text/css" rel="stylesheet" />
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/plugins/jquery.tree.js")"  type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            
        });
    </script>
}

<div style="width:100%;height:auto;">
    <div style="width:500px;height:100%;float:left;">
    <div style="margin:20px 0;">
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="edit()">Edit</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="save()">Save</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="cancel()">Cancel</a>
	</div>
    <table id="tg" class="easyui-treegrid" style="width:700px;height:250px"
			data-options="
				iconCls: 'icon-ok',
				rownumbers: true,
				animate: true,
				collapsible: true,
				fitColumns: true,
				url: 'GetModels',
				method: 'post',
				idField: 'id',
				treeField: 'modelname',
				showFooter: true
			">
		<thead>
			<tr>
				<th data-options="field:'modelname',width:180,editor:'text'">Task Name</th>
				<th data-options="field:'modelpath',width:60,align:'right',editor:'numberbox'">Persons</th>
				<th data-options="field:'updatetime',width:80,editor:'datebox'">Begin Date</th>
				<th data-options="field:'progress',width:120,formatter:formatProgress,editor:'numberbox'">Progress</th>
			</tr>
		</thead>
	</table>
	<script type="text/javascript">
	    function formatProgress(value) {
	        if (value) {
	            var s = '<div style="width:100%;border:1px solid #ccc">' +
		    			'<div style="width:' + value + '%;background:#cc0000;color:#fff">' + value + '%' + '</div>'
	            '</div>';
	            return s;
	        } else {
	            return '';
	        }
	    }
	    var editingId;
	    function edit() {
	        if (editingId != undefined) {
	            $('#tg').treegrid('select', editingId);
	            return;
	        }
	        var row = $('#tg').treegrid('getSelected');
	        if (row) {
	            editingId = row.id
	            $('#tg').treegrid('beginEdit', editingId);
	        }
	    }
	    function save() {
	        if (editingId != undefined) {
	            var t = $('#tg');
	            t.treegrid('endEdit', editingId);
	            editingId = undefined;
	            var persons = 0;
	            var rows = t.treegrid('getChildren');
	            for (var i = 0; i < rows.length; i++) {
	                var p = parseInt(rows[i].persons);
	                if (!isNaN(p)) {
	                    persons += p;
	                }
	            }
	            var frow = t.treegrid('getFooterRows')[0];
	            frow.persons = persons;
	            t.treegrid('reloadFooter');
	        }
	    }
	    function cancel() {
	        if (editingId != undefined) {
	            $('#tg').treegrid('cancelEdit', editingId);
	            editingId = undefined;
	        }
	    }
	</script>
 

    </div>
</div>