﻿@{
    Layout = null;
}
@{
    var cookie = new FuNong.Framework.Cookie.CookieWrapper();
    var nv = cookie.GetCookieCollection("FuNong.UserInfo.Login");
    string userid = string.Empty;
    string username = string.Empty;
    string roleid = string.Empty;
    string userrole = string.Empty;
    string nickname = string.Empty;
    if (nv != null)
    {
        userid          = nv["FuNong.Login.UserID"];
        username        = nv["FuNong.Login.UserName"].Trim();
        roleid          = nv["FuNong.Login.RoleID"];
        userrole        = HttpUtility.UrlDecode(nv["FuNong.Login.RoleName"]).Trim();
        nickname        = HttpUtility.UrlDecode(nv["FuNong.Login.NickName"]).Trim();
    }
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="@Url.Content("~/Content/admin/css/default.css"                          )"  rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/default/easyui.css")"  rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/icon.css"          )"  rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/jquery-1.7.2.min.js"     )"  type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/jquery.easyui.min.js"    )"  type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jquery.cookie.js"                     )"  type="text/javascript"></script>

    <style type="text/css">
    a,a:hover{text-decoration:none;color:White;}
    a:hover{color:wheat;font-weight:bold;}
    .imgicon{width:36px;height:36px;}
    .imgbanner{position: absolute; left: 90px; z-index: 9999; top: 5px; display: none; cursor: pointer;}
    .bodystyle{overflow-y: hidden; overflow-x: hidden;}
    </style>
    <script type="text/javascript">
        var slide = false;
        $(function () {
            //头部收缩
            $("#titleico").find(".i1").click(function () {
                slide = true;
                $("#a").css("height", $("#a").height() + 70 + "px");
                $("#north").css("display", "none");
                setTimeout(function () { $("#slidedown").css("display", "block"); }, 350);
            })
            $("#slidedown").click(function () {
                slide = false;
                $("#north").css("display", "block");
                $("#a").css("height", $("#a").height() - 70 + "px");
                $("#slidedown").css("display", "none");

            })

            $(window).resize(function () {
                var width = $(this).width();
                var height = $(this).height();
                var cut = slide == true ? 0 : 70;
                $("#a").css("height", height - cut + "px").css("width", width + "px");
                if (!slide)
                    $("#north").css("width", width + "px");
            });



            $("#a").css("height", document.documentElement.clientHeight - 70 + "px");

            //去掉链接的边框
            $("a").live("focus", function () {
                $(this).blur();
            })
            //鼠标移到图标时切换图片
            $("#titleico").find("a").hover(function () {
                $(this).find("img").attr("src", "../../Content/admin/images/ef_skin/system/" + $(this).attr("class") + "_1.png");
            }, function () {
                $(this).find("img").attr("src", "../../Content/admin/images/ef_skin/system/" + $(this).attr("class") + ".png");
            })

            clockon();
            changeSkin();
        })

        //本地时钟
        function clockon() {
            var now = new Date();
            var year = now.getFullYear(); //getFullYear getYear
            var month = now.getMonth();
            var date = now.getDate();
            var day = now.getDay();
            var hour = now.getHours();
            var minu = now.getMinutes();
            var sec = now.getSeconds();
            var week;
            month = month + 1;
            if (month < 10) month = "0" + month;
            if (date < 10) date = "0" + date;
            if (hour < 10) hour = "0" + hour;
            if (minu < 10) minu = "0" + minu;
            if (sec < 10) sec = "0" + sec;
            var arr_week = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
            week = arr_week[day];
            var time = "";
            time = year + "年" + month + "月" + date + "日&nbsp" + week;

            $("#bgclock").html(time);
        }

        function changeSkin() {
            var skin = $.cookie('sd_system_skin_color');
            if (skin == undefined) {
                $("#north").css("background-image", "url(../../Content/admin/images/title_bg.gif)");
            }
            else {
                $("#north").css("background-image", skin);
            }
        }

        function logout() {
            $.ajax({
                url: "../Admin/Logout",
                type: "get",
                dataType: "json",
                success: function (result) {
                    $(".infocenter").html("");
                    if (result.success) {   //注销成功
                        $("#noty").append("<span style='color:red;'>用户注销成功，准备跳转...</span>");
                    }
                    else {                  //用户本身为Null，所以无需注销
                        $(".infocenter").html(result.message);
                    }
                    setTimeout(function () {
                        window.location.href = "../?menu=1";
                    }, 1000);
                },
                error: function (a, b, c) {
                }
            });
        }
    </script>

</head>
<body class="bodystyle" scroll="no">
    <img alt="" src="../../Content/admin/images/ef_skin/slidedown.png" class="imgbanner" id="slidedown" />
    <div id="north" style="overflow: hidden; height: 70px; color: #ffffff;">
        <img style="height: 70px; float: left;" src="../../Content/admin/images/logo.png" alt="" />
        <table style="height: 70px;position:fixed;margin-left:225px;width:80% ">
            <tr>
                <td>
                 <table style="height: 70px; width: 100%;margin-left:150px;color:#54595C">
                    <tr><td>
                        <p>欢迎[<font color="red">@userrole：@nickname</font>]登陆本系统,您的登录用户名为[@username]</p>
                        <p id="noty">现在时间是<span id="bgclock"></span></p>
                    </td></tr>
                    <tr><td class="infocenter"></td></tr>
                 </table>
                </td>
                 <td style="width: 600px;"  id="titleico">
                 <table style="margin-left:50px;color:#54595C">
                     <tr>
                     <td style="width:200px;"><a href="#"                             class="i1"><img alt="" class="imgicon" src="../../Content/admin/images/ef_skin/system/i1.png" /></a> </td>
                     <td style="width:200px;"><a href="../home/newscenter?menu=1"        class="i5"><img alt="" class="imgicon" src="../../Content/admin/images/ef_skin/system/i5.png" /></a></td>
                     <td style="width:200px;"><a href="javascript:location.reload();" class="i7"><img alt="" class="imgicon" src="../../Content/admin/images/ef_skin/system/i7.png" /></a></td>
                     <td style="width:200px;"><a href="/Admin/ModifyPwd"              class="i8"><img alt="" class="imgicon" src="../../Content/admin/images/ef_skin/system/i8.png" /></a></td>
                     <td style="width:200px;"><a href="javascript:logout();"          class="i2"><img alt="" class="imgicon" src="../../Content/admin/images/ef_skin/system/i2.png" /></a></td>
                     <td style="width:200px;"><a href="#" class="i9"><img alt="" class="imgicon" src="../../Content/admin/images/ef_skin/system/i9.png" /></a></td>
                     </tr><tr>
                     <td>收缩头部</td>
                     <td>返回首页</td>
                     <td>刷新数据</td>
                     <td>密码修改</td>
                     <td>退出登录</td>
                     <td>平台帮助</td>
                     </tr>
                 </table>
                </td>
            </tr>
        </table>
    </div>
    <iframe frameborder="0" name="a" id="a" src="@Url.Action("A", "Admin")" width="100%" scrolling="no">
    </iframe>
</body>
</html>
