﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@section scripts{
<link href="@Url.Content("~/Content/admin/js/artDialog/skins/blue.css")"               rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemonSetIcon.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")"         type="text/javascript"></script>
<script type="text/javascript">
    var DataURL = "GetModelDetailByPage";
    var ColumnData = [[
                        { field: 'ck', checkbox: true },
                        { field: 'id', hidden: true },
                        { field: 'modelicon', title: '模块图标', formatter: function (value, row, index) {
                            return '<span class=' + row.modelicon + ' style="height:16px;display:block;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                        }, width: 40
                        },
                        { field: 'modelname', title: '模块名称', editor: 'text', width: 100 },
                        { field: 'modelpath', title: '模块路径', editor: 'text', width: 150 },
                        { field: 'modelaction', title: '模块动作', editor: 'text', width: 50 },
                        { field: 'modelnote', title: '模块备注', editor: 'text', width: 200 },
                        { field: 'parentid', title: '所属栏目',
                            formatter: function (value, row, index) {
                                return "<span style='color:red;'>" + row.parentname + "</span>";
                            },
                            editor: { type: 'combobox',
                                options: {
                                    valueField: 'id',
                                    textField: 'modelname',
                                    url: 'GetParentModels',
                                    required: true
                                }
                            }, width: 120
                        },
                        { field: 'recordorder', title: '排序', editor: 'numberbox', width: 50 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

    var SaveRecords = function () {
        //只有先endedit之后，值才会传到后台。
        endEdit();
        var inserted = $('#dg').datagrid('getChanges', "inserted");
        var deleted = $('#dg').datagrid('getChanges', "deleted");
        var updated = $('#dg').datagrid('getChanges', "updated");
        var effectRow = new Object();
        if (inserted.length) {
            effectRow["inserted"] = JSON.stringify(inserted);
        }
        if (deleted.length) {
            effectRow["deleted"] = JSON.stringify(deleted);
        }
        if (updated.length) {
            effectRow["updated"] = JSON.stringify(updated);
        }
        $.post("CommitModelDetails", effectRow, function (response) {
            if (response.success) 
                $.messager.show({ title: '操作成功', msg: response.success });
            else 
                $.messager.show({ title: '操作失败', msg: response.error });

            $('#dg').datagrid('reload'); 
        }, "JSON");
    }

    var clickToSetIcon = function (val) {
        var row = $('#dg').datagrid('getSelected');
        var json = "{modelid:" + row.id + ",icon:'" + val + "'}";
        debugger;
        $.ajaxWebService("SetIcon", json, function (data) {
            if (data.success) {
                $.messager.show({ title: '操作成功', msg: data.message });
                $('#dg').datagrid('reload'); 
            }
            else
                $.messager.show({ title: '操作失败', msg: data.message });
        });
    }

    var SetIcon = function () {
        var row = $('#dg').datagrid('getSelections');
        if (row == "" || row == undefined) {
            alert('请选择需要设置图标的模块！');
        }
        else {

            $.ajaxWebService("GetIconList", "{}", function (data) {
                if (data.success) {
                    var content = "";
                    for (var i = 0; i < data.data.length; i++) {
                        content = content + data.data[i].iconcontent;
                    }
                    art.dialog({ title: "图标列表", content: content, width: 600, height: 400,padding:0 });
                }
                else {
                    art.dialog({ title: '提示', icon: 'error', time: 4, content: data.message, padding: 0 });
                }
            });
        }
    }

    $.ajaxWebService = function (url, dataparam, datasuccess) {
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            url: url,
            data: dataparam,
            success: datasuccess,
            error: function (a, b, c) { }
        });
    }
</script>
}
<table id="dg" title="模块参数配置"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />
