﻿@model FuNong.DataContract.UserResponse
@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    string scriptwarning = string.Empty;
    string message = string.Empty;
    if(Model!=null)
    {
        message = Model.Message;
        if(!string.IsNullOrEmpty(message))
        {
            if (Model.Success)
            {
                scriptwarning = "<script type='text/javascript'>art.dialog({ title: '提示', icon: 'succeed', time: 4, content:'" + message + "', padding: 0 });</script>";
            }
            else
            {
                scriptwarning = "<script type='text/javascript'>art.dialog({ title: '提示', icon: 'error', time: 4, content:'" + message + "', padding: 0 });</script>";
            }
        }
    }
 }

@section scripts
{
    <link href="@Url.Content("~/Content/admin/js/jquery.validationEngine/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/artDialog/skins/blue.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Content/admin/js/jquery.validationEngine/jquery.validationEngine.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jquery.validationEngine/jquery.validationEngine-zh_CN.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#form0").validationEngine();
        });
    </script>
}

<div  style="width:800px;height:auto;text-align:center;margin:0 auto;font-size:13px;" class="print_show">
    <div style="width:100%;height:40px;line-height:40px;border-bottom:5px solid #0092DC;font-size:15px;font-weight:bold;">修改当前登录用户密码</div>
    <form id="form0" method="post" action="ModifyPwd">
     @Html.Raw(scriptwarning)
    <table cellpadding="0" cellspacing="0" style="width:800px;height:auto;margin-top:20px;border:1px solid #CCCCCC">
    <thead>
    <th colspan="2" style="border-bottom:1px solid #CCCCCC;text-align:left;line-height:30px;height:30px;color:#0092DC">&nbsp;&nbsp;修改密码</th>
    </thead>
    <tbody>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">登录名称：</td>
    <td style="text-align:left;">@Model.username</td>
    </tr>
    <tr>
    <td style="width:150px;height:40px;text-align:right;">请输入原来的登录密码：</td>
    <td style="text-align:left;"><input type="password" id="oldpwd" name="oldpwd" style="width:250px;height:25px;" class="validate[required]" /></td>
    </tr>
    <tr>
     <td style="width:150px;height:40px;text-align:right;">请输入新的登录密码：</td>
     <td style="text-align:left;"><input type="password" id="newpwd" name="newpwd" style="width:250px;height:25px;" class="validate[required]"  /></td>
    </tr>
     <tr>
     <td style="width:150px;height:40px;text-align:right;">请确认新的登录密码：</td>
     <td style="text-align:left;"><input type="password" id="confirmpwd" name="confirmpwd" style="width:250px;height:25px;" class="validate[required,equals[newpwd]]"  /></td>
    </tr>
      <tr>
     <td colspan="2" style="height:60px;">
     <input type="submit" style="width:150px;height:30px;" value="确认修改密码" />
     </td>
    </tr>
    </tbody>
    </table>
    </form>
</div>

