﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts
{
    <link href="@Url.Content("~/Content/admin/js/jqueryeasyui/themes/gray/tree.css")" rel="stylesheet"type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/plugins/jquery.tree.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#search").click(function () {
                treeRefresh();
            });

            //为当前角色新增权限，往access_role_model表加入记录
            $("#AddPermission").click(function () {

                var rolevalue = $("#roleselect").combobox("getValue");
                var modelvaluelist = getChecked($("#ptreeUnApply"));
                var attach = true;
                var actionurl = "AttachModelToRole?roleid=" + rolevalue + "&modelidlist=" + modelvaluelist + "&attach=" + attach;

                $.ajax({
                    url: actionurl,
                    type: "get",
                    success: function (result) {
                        treeRefresh();
                    },
                    error: function (a, b, c) {
                        debugger
                    }
                });

            });

            //为当前角色移除权限，从access_role_model表删除记录
            $("#RemovePermission").click(function () {

                var rolevalue = $("#roleselect").combobox("getValue");
                var modelvaluelist = getChecked($("#ptreeApply"));
                var attach = false;
                var actionurl = "AttachModelToRole?roleid=" + rolevalue + "&modelidlist=" + modelvaluelist + "&attach=" + attach;

                $.ajax({
                    url: actionurl,
                    type: "get",
                    success: function (result) {
                        treeRefresh();
                    },
                    error: function (a, b, c) {
                        debugger
                    }
                });
            });
        });

        var treeRefresh = function () {

            var rolevalue = $("#roleselect").combobox("getValue");

            var actionUnApply = "GetModelTree?roleid=" + rolevalue + "&apply=false";

            var actionApply = "GetModelTree?roleid=" + rolevalue + "&apply=true";

            var method = "get";

            //获取未分配模块
            treeDaemon($("#ptreeUnApply"), actionUnApply, method);

            //获取已分配模块
            treeDaemon($("#ptreeApply"), actionApply, method);
        }

        var treeDaemon = function(element,action,method){
             element.tree({
                    url: action,
                    method:method,
                    animate: true,
                    checkbox: true,
                    onlyLeafCheck: true,
                    loadFilter: function (result) {
                        return eval(result.data);
                    }
                });
        }

        var getChecked = function (element) {
            var nodes = element.tree('getChecked');
            var s = '';
            for (var i = 0; i < nodes.length; i++) {
                if (s != '') s += ',';
                s += nodes[i].id;
            }
            return s;
        }
    </script>
}

<div style="width:100%;height:auto;">
请选择角色:	<input class="easyui-combobox" id="roleselect" name="language" data-options="  url:'GetAllRoles',
                                                                            method:'post',
                                                                            valueField:'id',
                                                                            textField:'rolename',
                                                                            multiple:false,
                                                                            panelHeight:'auto'" />
<a href="#" class="easyui-linkbutton" id="search" data-options="iconCls:'icon-tip'" >查询</a>

 <div class="easyui-panel" style="width:700px;height:620px;margin-top:10px;border:none;">
    <div  class="easyui-layout" data-options="fit:true">
        <div data-options="region:'west',split:false" style="width:300px;">
        <span style="font-size:16px;color:blue;background-color:#EEEEEE;font-weight:bold;width:100%;height:35px;line-height:35px;display:block;text-align:center;">&nbsp;&nbsp;&nbsp;&nbsp;待选权限</span>
            <table id="ptreeUnApply" class="easyui-tree"></table>
        </div>
        <div data-options="region:'east'" style="width:300px;">
        <span style="font-size:16px;color:blue;background-color:#EEEEEE;font-weight:bold;width:100%;height:35px;line-height:35px;display:block;text-align:center;">&nbsp;&nbsp;&nbsp;&nbsp;已选权限</span>
            <table id="ptreeApply" class="easyui-tree"></table>
        </div>
        <div data-options="region:'center'">
            <a href="#" id="AddPermission" class="easyui-linkbutton" style="margin-left:8px;margin-top:8px;" data-options="iconCls:'icon-redo'">新增</a>
            <a href="#" id="RemovePermission" class="easyui-linkbutton" style="margin-left:8px;margin-top:8px;" data-options="iconCls:'icon-undo'">移除</a>
        </div>
    </div>
    </div>

</div>