﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
        var cookie = new FuNong.Framework.Cookie.CookieWrapper();
        var nv = cookie.GetCookieCollection("FuNong.UserInfo.Login");
        string schoolid = string.Empty;
        if (nv != null)
        {
            schoolid = nv["FuNong.Login.SchoolID"];
        }
 }
@section scripts{
<script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemonSignalSelect.js")" type="text/javascript"></script>
<script type="text/javascript">
    var DataURL = "GetCardChangeByPage";
    var ColumnData = [[
                        { field: 'id', hidden: true },
                        { field: 'schoolname', title: '所属学校', width: 100 },
                        { field: 'oldcardnum', title: '旧卡卡号', editor: 'text', width: 150 },
                        { field: 'newcardnum', title: '新卡卡号', editor: 'text', width: 150 },
                        { field: 'cardtypeid', title: '卡类型', formatter: function (value, row, index) {
                            return row.cardtypename;
                        }, editor: { type: 'combobox',
                            options: {
                                valueField: 'settingvalue1',
                                textField: 'settingname',
                                url: 'GetBaseSettingBy?groupname=cardtype',
                                required: true
                            }
                        }, width: 100
                        },
                        { field: 'operationtypeid', title: '操作类型', formatter: function (value, row, index) {
                            return row.operationtypename;
                        }, editor: { type: 'combobox',
                            options: {
                                valueField: 'settingvalue1',
                                textField: 'settingname',
                                url: 'GetBaseSettingBy?groupname=operationtype',
                                required: true
                            }
                        }, width: 100
                        },
                        { field: 'recordorder', title: '排序', editor: 'numberbox', width: 50 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

    var SaveRecords = function () {
        endEdit();
        var inserted = $('#dg').datagrid('getChanges', "inserted");
        var deleted = $('#dg').datagrid('getChanges', "deleted");
        var updated = $('#dg').datagrid('getChanges', "updated");
        var effectRow = new Object();
        if (inserted.length) {
            effectRow["inserted"] = JSON.stringify(inserted);
        }
        if (deleted.length) {
            effectRow["deleted"] = JSON.stringify(deleted);
        }
        if (updated.length) {
            effectRow["updated"] = JSON.stringify(updated);
        }
        $.post("CommitCardChange", effectRow, function (response) {
            if (response.success)
                $.messager.show({ title: '操作成功', msg: response.success });
            else
                $.messager.show({ title: '操作失败', msg: response.error });

            $('#dg').datagrid('reload');
        }, "JSON");
    }

    $.bindCombobox = function (url, dataparam, valueF, textF, stuff, formatterItem, selectItem) {
        $.ajaxWebService(url, dataparam, function (data) {
            if (data.success) {
                var result = data.data;
                stuff.combobox({
                    valueField: valueF,
                    textField: textF,
                    data: result,
                    formatter: formatterItem,
                    onSelect: selectItem
                });
            }
            else {
                alert(data.message);
            }
        });
    }

    $.ajaxWebService = function (url, dataparam, datasuccess) {
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            url: url,
            data: dataparam,
            success: datasuccess,
            error: function (a, b, c) { }
        });
    }
</script>
}
<table id="dg" title="卡变更管理"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />
