﻿@model  FuNong.DataContract.CourseTableResponse
@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section scripts{
    <link href="@Url.Content("~/Content/admin/js/jquery.validationEngine/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/artDialog/skins/blue.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Content/admin/js/jquery.validationEngine/jquery.validationEngine.js")" type="text/javascript"></script>
    
    <script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/JsParser.js")" type="text/javascript"></script>

    <style type="text/css">
    #main thead td{border-bottom:1px solid black;border-right:1px solid black;text-align:center;height:80px;font-weight:bold;}
    #main tbody td{border-bottom:1px solid black;border-right:1px solid black;text-align:center;height:40px;}
    select{border:none;border-bottom:1px solid gray;}
    .hv{border:1px solid gray;cursor:pointer;margin-left:3px;margin-top:1px;height:20px;line-height:20px;float:left;padding:1px;}
    .hv:hover{background-color:wheat;}
    .drop{height:26px;line-height:26px;float:left;width:100%;text-align:center;color:Gray;}
    </style>
    <script type="text/javascript">

    var resultdata;
    $(document).ready(function () {

        $("#form0").validationEngine();


        art.dialog({ title: "人员选择", content: "<iframe style='width:800px;height:600px;' scrolling=no frameborder=0 src='/BaseData/UserSelectionDialog'></iframe>", padding: 0, width: 600, height: 400 });

        TriggerGradeClassWithSelectedSchool();

        var count = 1;
        $("a[tag=periodBtn]").click(function () {
            var tagIndex = $(this).attr("tag1");
            var start = 5;
            var appendElement = $("tr[class=" + tagIndex + "]");
            appendElement.after("<tr tag='period' tag1=" + tagIndex + "><td><input class='easyui-timespinner'  name='timestart' data-validation-engine='validate[required]' style='width:60px;'/> - <input class='easyui-timespinner' name='timeend' data-validation-engine='validate[required]' style='width:60px;'/></td>"
            + "<td><div class='drop' name='courseid-" + tagIndex + "-" + (start + 1 * count) + "'>请拖入课程到这里</div><div class='drop' name='teacherid-" + tagIndex + "-" + (start + 1 * count) + "'>请拖入教师到这里</div></td>"
            + "<td><div class='drop' name='courseid-" + tagIndex + "-" + (start + 2 * count) + "'>请拖入课程到这里</div><div class='drop' name='teacherid-" + tagIndex + "-" + (start + 2 * count) + "'>请拖入教师到这里</div></td>"
            + "<td><div class='drop' name='courseid-" + tagIndex + "-" + (start + 3 * count) + "'>请拖入课程到这里</div><div class='drop' name='teacherid-" + tagIndex + "-" + (start + 3 * count) + "'>请拖入教师到这里</div></td>"
            + "<td><div class='drop' name='courseid-" + tagIndex + "-" + (start + 4 * count) + "'>请拖入课程到这里</div><div class='drop' name='teacherid-" + tagIndex + "-" + (start + 4 * count) + "'>请拖入教师到这里</div></td>"
            + "<td><div class='drop' name='courseid-" + tagIndex + "-" + (start + 5 * count) + "'>请拖入课程到这里</div><div class='drop' name='teacherid-" + tagIndex + "-" + (start + 5 * count) + "'>请拖入教师到这里</div></td></tr>");
            var rowspan = $("td[tag1=" + tagIndex + "]").attr("rowspan");
            $("td[tag1=" + tagIndex + "]").attr("rowspan", parseInt(rowspan) + 1);
            //重新触发绑定事件和设置拖放操作
            $("input[class=easyui-timespinner]").timespinner();
            setDragDrop();
        });

        $("#submitcoursetable").click(function () {
            var isValid = $("#form0").validationEngine('validate');
            //通过验证
            if (isValid) {
                //数据库中classid列
                var classid = $("#classid").val();
                var totalJson = "";

                var tempperiodtime;
                $("tr[tag=period]").each(function () {
                    //数据库中periodid列
                    var periodid = $(this).attr("tag1");
                    $(this).find("td").each(function () {

                        var dataJson = "";
                        dataJson += "{classid:" + classid;
                        dataJson += ",periodid:" + periodid + "";

                        var timestart = $(this).find("input[name=timestart]").timespinner('getValue');
                        var timeend = $(this).find("input[name=timeend]").timespinner('getValue');

                        if (timestart != undefined && timeend != undefined) {
                            //数据库中periodtime列
                            tempperiodtime = timestart + "~" + timeend;
                        }

                        dataJson += ",periodtime:'" + tempperiodtime + "'";

                        var courseelement = $(this).find("div[name^=course]");
                        var teacherelement = $(this).find("div[name^=teacher]");

                        var coursename = courseelement.attr("name");
                        var teachername = teacherelement.attr("name");

                        if (coursename != undefined && teachername != undefined) {

                            //拆分这两个name，将weekid获取出来
                            var weekidFromCourse = coursename.split("-")[2];
                            var weekidFromTreacher = teachername.split("-")[2];
                            if (weekidFromCourse == weekidFromTreacher) {
                                //数据库中weekid列
                                var weekid = weekidFromCourse;
                                var weekidInt = parseInt(weekid);
                                var temp = weekidInt;
                                if (temp > 5)
                                    weekidInt = weekidInt % 5;

                                dataJson += ",weekid:" + weekidInt + "";

                                var courseid = courseelement.find("div:first").attr("courseid");
                                var teacherid = teacherelement.find("div:first").attr("teacherid");

                                if (courseid != undefined && teacherid != undefined) {
                                    //数据库中的courseid
                                    //数据库中的teacherid列
                                    dataJson += ",courseid:" + courseid + ",teacherid:" + teacherid + "}";
                                }
                                else {
                                    //alert("必须设置课程和代课教师！");
                                    art.dialog({ id: 'warn', title: '发生了意外[3秒后对话框自动关闭]', icon: 'error', lock: true, time: 3, content: '必须同时设置课程和代课教师,请重试！', padding: 0 });
                                    return;
                                }
                                //ajax向后台post数据，然后写入数据库配置
                                $.ajaxWebService("CommitCourseTable", dataJson, function (data) {
                                    if (data.success) {
                                        art.dialog({ id: 'success', title: '设置课程表成功', icon: 'succeed', lock: true, time: 3, content: '恭喜，设置课程表成功！', padding: 0 });
                                    }
                                    else {
                                        art.dialog({ id: 'error', title: '设置课程表出错', icon: 'error', lock: true, time: 3, content: data.message, padding: 0 });
                                    }
                                });
                            }
                        }
                    });
                });
            }
        });
    });

    function TriggerGradeClassWithSelectedSchool() {
        $.ajaxWebService("GetCourseTableAjax", "{}", function (data) {
            if (data.success) {
                var optionNotify1 = $("<option>").val("").text("请选择");
                var optionNotify2 = $("<option>").val("").text("请选择");
                $("#gradeid").append(optionNotify1);

                //年级 班级
                for (var i = 0; i < data.gradedata.length; i++) {
                    var obj = data.gradedata[i];
                    var optionGrade = $("<option>").val(obj.id).text(obj.name);
                    $("#gradeid").append(optionGrade);
                    $("#gradeid").change(function () {
                        $("#classid").empty();
                        $("#classid").append(optionNotify2);
                        var selected = $("#gradeid").find("option:selected").val();
                        for (var j = 0; j < data.classdata.length; j++) {
                            var classData = data.classdata[j];
                            if (parseInt(selected) == classData.gradeid) {
                                var optionClass = $("<option>").val(classData.id).text(classData.classname);
                                $("#classid").append(optionClass);
                            }
                        }
                    });
                }

                //班级选择改变事件
                $("#classid").change(function () {
                    var selected = $("#classid").find("option:selected").val();
                    $.ajaxWebService("GetMasterBy", "{classid:" + selected + "}", function (data) {
                        if (data.success) {
                            $("#masterid").html(data.data.mastername + "[" + data.data.mastercode + "]");
                        }
                        else {
                            $("#masterid").html(data.message);
                        }
                    });
                });
                resultdata = data;
                addItem(data);
            }
            else {
                alert(data.message);
            }
        });
    }

    function addItem(resultdata) {
        //加载教师列表
        for (var i = 0; i < resultdata.userdata.length; i++) {
            var obj = resultdata.userdata[i];
            $("#teacherList").append("<div class='hv' teacherid='"+obj.uid+"'>" + trim(obj.nickname + "[" + obj.mobile + "]") + "</div>");
        }

        //加载课程列表
        for (var i = 0; i < resultdata.coursedata.length; i++) {
            var obj = resultdata.coursedata[i];
            $("#courseList").append("<div class='hv' courseid='"+obj.settingvalue1+"'>" + obj.settingname + "</div>");
        }
        setDragDrop();
    }

    function setDragDrop() {
        $('.hv').draggable({
            revert: true,
            proxy: 'clone'
        });
        $('.drop').droppable({
            onDragEnter: function () {
                $(this).addClass('over');
            },
            onDragLeave: function () {
                $(this).removeClass('over');
            },
            onDrop: function (e, source) {
                $(this).removeClass('over');
                if ($(source).hasClass('assigned')) {
                    $(this).append(source);
                } else {
                    var c = $(source).clone().addClass('assigned');
                    $(this).empty().append(c);
                    c.draggable({
                        revert: true
                    });
                }
            }
        });
    }

    $.ajaxWebService = function (url, dataparam, datasuccess) {
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            url: url,
            data: dataparam,
            success: datasuccess,
            error: function (a, b, c) { }
        });
    }

    function trim(text) {
        return text.replace(/[ ]/g, "");
    } 
</script>
}
@{
        var cookie = new FuNong.Framework.Cookie.CookieWrapper();
        var nv = cookie.GetCookieCollection("FuNong.UserInfo.Login");
        string schoolid = string.Empty;
        string schoolname = string.Empty;
        if (nv != null)
        {
            schoolid = nv["FuNong.Login.SchoolID"];
            schoolname = HttpUtility.UrlDecode(nv["FuNong.Login.SchoolName"]).Trim();
        }
 }

<form id="form0" action="CourseTable">
<div style="width:100%;height:100%;font-size:13px;" id="bodyContainer">
    <div style="width:1000px;height:50px;margin:0 auto;margin-top:20px;">
    <!--班级选择-->
    <table cellpadding="0" cellspacing="0" style="width:100%;height:100%;background-color:#F7F7C5;padding-left:10px;">
        <tr>
        <td style="width:130px;">学校：<font color='red'>@schoolname</font></td>
        <td style="width:170px;">年级：<select id="gradeid" style="width:120px;" data-validation-engine="validate[required]"></select></td>
        <td style="width:170px;">班级：<select id="classid" style="width:120px;" data-validation-engine="validate[required]"></select></td>
        <td style="width:290px;">班主任：<label id="masterid" style="width:290px;" ></label></td>
        <td><a href="#" id="submitcoursetable" class="easyui-linkbutton" data-options="iconCls:'icon-save'">填写完毕，保存课程表</a></td>
        </tr>
    </table>
    </div>
    
    <table cellpadding="0" cellspacing="0" style="width:1000px;height:100%;background-color:#F7F7C5;padding-left:10px;margin:0 auto;">
    <tr><td>
        <!--课程选择-->
        <div id="courseList" style="width:1000px;margin:0 auto;margin-top:10px;background-color:#F7F7C5;">
        </div>
    </td></tr><tr><td style="border-bottom:1px dashed black;height:5px;"></td></tr><tr><td>
        <!--教师选择-->
        <div id="teacherList" style="width:1000px;margin:0 auto;margin-top:5px;background-color:#F7F7C5;">
        </div>
    </td></tr></table>

    <div style="width:1000px;height:100%;margin:0 auto;border-left:1px solid black;border-top:1px solid black;border-right:1px solid black;margin-top:10px">
    <!--课程表设置-->
        <table id="main" cellpadding="0" cellspacing="0" style="width:100%;height:100%;">
            <thead>
            <tr>
                <td colspan="2" id="td1"></td>
                <td style="width:150px;" id="td2">一</td>
                <td style="width:150px;">二</td>
                <td style="width:150px;">三</td>
                <td style="width:150px;">四</td>
                <td style="width:150px;border-right:none;">五</td>
            </tr>
            </thead>
            <tbody>
            @for (var i = 0; i < Model.periodlist.Count; i++)
            {
                var settingid = Model.periodlist[i].settingvalue1;
                <tr tag="period" class=@settingid tag1=@settingid>
                    <td style="width:100px;" tag1=@settingid rowspan="1"><a href="#" id="add-@settingid" tag="periodBtn" tag1=@settingid  class="easyui-linkbutton" data-options="iconCls:'icon-add'">@Model.periodlist[i].settingname</a></td>
                    <td><input class="easyui-timespinner" name="timestart" style="width:60px;"  data-validation-engine="validate[required]"/> - <input class="easyui-timespinner"  name="timeend" style="width:60px;"  data-validation-engine="validate[required]"/></td>
                    <!--这里的j代表星期：1~5代表周一~周五，数据库必须也保证settingvalue1是1~5-->
                    @for (var j = 1; j <= 5; j++)
                    {
                        <td>
                        <div class="drop" name="courseid-@settingid-@j">请拖入课程到这里</div>
                        <div class="drop" name="teacherid-@settingid-@j">请拖入教师到这里</div>
                        </td>   
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
</form>

