﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
        var cookie = new FuNong.Framework.Cookie.CookieWrapper();
        var nv = cookie.GetCookieCollection("FuNong.UserInfo.Login");
        string schoolid = string.Empty;
        if (nv != null)
        {
            schoolid = nv["FuNong.Login.SchoolID"];
        }
 }

@section scripts{
<script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemonApplyEx.js")" type="text/javascript"></script>
<script type="text/javascript">
    var DataURL = "GetStudentClassApplyByPage";
    var ColumnData = [[
                        { field: 'id', hidden: true },
                        { field: 'schoolname', title: '所属学校', width: 100 },
                        { field: 'gradename', title: '要调到哪个年级',
                            editor: { type: 'combobox',
                                options: {
                                    valueField: 'id',
                                    textField: 'name',
                                    url: 'GetWrapGradesBy?schoolid=@schoolid',
                                    onLoadSuccess: function (result) {
                                        if (result.success) {
                                            //绑定年级数据
                                            $(this).combobox("loadData", result.data);
                                            //找到绑定班级列表的Editor
                                            var row = $("#dg").datagrid('getSelected');
                                            var rindex = $("#dg").datagrid('getRowIndex', row);
                                            var classed = $("#dg").datagrid('getEditor', { index: rindex, field: 'classid' });
                                            //开始绑定班级列表，然后为其指定默认值(需要绑定Onloadsuccess方法和OnSelect方法)
                                            $.bindCombobox('GetClassBy', "{gradeid:" + row.gradeid + "}", "id", "classname", $(classed.target), null,
                                                function (data) {
                                                    //设置市级默认值
                                                    $(classed.target).combobox("setValue", row.classid);
                                                },
                                                function (record) {
                                                    //当选择年级的时候，找到绑定班级的列，然后绑定其editor
                                                    //var edx = $("#dg").datagrid('getEditor', { index: rindex, field: 'classid' });
                                                    //$.bindCombobox('GetClassBy', "{gradeid:" + row.id + "}", "id", "classname", $(classed.target), null, null, function (recordx) { });
                                                });
                                        }
                                    },
                                    onSelect: function (currentrow) {
                                        //当选择年级的时候
                                        var row = $("#dg").datagrid('getSelected');
                                        var rindex = $("#dg").datagrid('getRowIndex', row);
                                        var ed = $("#dg").datagrid('getEditor', { index: rindex, field: 'classid' });
                                        //找到绑定班级的列 然后绑定其editor
                                        $.bindCombobox('GetClassBy', "{gradeid:" + currentrow.id + "}", "id", "classname", $(ed.target), null, null, function (record) { });
                                    },
                                    required: true
                                }
                            }, width: 50
                        },
                        { field: 'classid', title: '要调到哪个班级',
                            formatter: function (value, row, index) {
                                return row.classname;
                            }, editor: { type: 'combobox',
                                options: {
                                    valueField: 'id',
                                    textField: 'classname',
                                    required: true
                                }
                            }, width: 120
                        },
                        { field: 'uid', title: '学生姓名',
                            formatter: function (value, row, index) {
                                return row.nickname;
                            }, editor: { type: 'combogrid',
                                options: {
                                    panelWidth: 500,
                                    idField: 'uid',
                                    textField: 'nickname',
                                    url: '/Admin/GetUserDetailByPage?roleid=3',
                                    method: 'post',
                                    columns: [[
                                                { field: 'uid', hidden: true },
                                                { field: 'username', title: '登陆名称', width: 100 },
                                                { field: 'nickname', title: '真实姓名', width: 100 },
                                                { field: 'userphone', title: '手机号码', width: 100 }
                                            ]],
                                    pagination: true,
                                    pageSize: 20,
                                    pageList: [20],
                                    fit: true,
                                    fitColumns: true,
                                    toolbar: []
                                }
                            }, width: 100
                        },
                        { field: 'personcode', title: '学生证号', width: 100 },
                        { field: 'recordorder', title: '排序', editor: 'numberbox', width: 50 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

    var searchBar = function (target) {
        var fields = target.combogrid("grid").datagrid('getColumnFields');
        for (var i = 0; i < fields.length; i++) {
            var opts = target.combogrid("grid").datagrid('getColumnOption', fields[i]);
            if (opts.title != undefined) {
                var muit = "<div name='" + fields[i] + "'>" + opts.title + "</div>";
                $('#TypeSelect1').html($('#TypeSelect1').html() + muit);
            }
        }
        $('.searchbox:last').appendTo('.datagrid-toolbar:last').css("margin-top", "3px");
        $('#ValueInput1').appendTo('.datagrid-toolbar:last');
        $(".datagrid-toolbar table").css("float", "left"); 
        $('#ValueInput1').searchbox({
            menu: '#TypeSelect1',
            prompt: '请输入待查询的值',
            searcher: function (value, name) {
                if (value == "") {
                    alert("无输入值，请重试！");
                }
                else {
                    target.combogrid("grid").datagrid('load', {
                        Field: name,
                        Value: value
                    });
                }
            }
        });
    }

    var SaveRecords = function () {
        endEdit();
        var inserted = $('#dg').datagrid('getChanges', "inserted");
        var deleted = $('#dg').datagrid('getChanges', "deleted");
        var updated = $('#dg').datagrid('getChanges', "updated");
        var effectRow = new Object();
        if (inserted.length) {
            effectRow["inserted"] = JSON.stringify(inserted);
        }
        if (deleted.length) {
            effectRow["deleted"] = JSON.stringify(deleted);
        }
        if (updated.length) {
            effectRow["updated"] = JSON.stringify(updated);
        }
        $.post("CommitStudentClassApply", effectRow, function (response) {
            if (response.success)
                $.messager.show({ title: '操作成功', msg: response.success });
            else
                $.messager.show({ title: '操作失败', msg: response.error });

            $('#dg').datagrid('reload');
        }, "JSON");
    }

    $.bindCombobox = function (url, dataparam, valueF, textF, stuff, formatterItem, loadSuccess, selectItem) {
        $.ajaxWebService(url, dataparam, function (data) {
            if (data.success) {
                var result = data.data;
                stuff.combobox({
                    valueField: valueF,
                    textField: textF,
                    data: result,
                    formatter: formatterItem,
                    onLoadSuccess: loadSuccess,
                    onSelect: selectItem
                });
            }
            else {
                alert(data.message);
            }
        });
    }

    $.ajaxWebService = function (url, dataparam, datasuccess) {
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            url: url,
            data: dataparam,
            success: datasuccess,
            error: function (a, b, c) { }
        });
    }

    $.extend($.fn.datagrid.defaults.editors, {
        combogrid: {
            init: function (container, options) {
                var input = $('<input type="text">').appendTo(container);
                return input.combogrid(options);
            },
            destroy: function (target) {
                $(target).combogrid('destroy');
            },
            getValue: function (target) {
                return $(target).combogrid('getValue');
            },
            setValue: function (target, value) {
                $(target).combogrid('setValue', value);
            },
            resize: function (target, width) {
                $(target).combogrid('resize', width);
            }
        }
    });
</script>
}
<table id="dg" title="学生调班管理"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />



<div id="TypeSelect1" style="width:120px"></div>
<input id="ValueInput1"  class="easyui-searchbox" style="width:200px;" />