﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@section scripts{
<script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemon.js")" type="text/javascript"></script>
<script type="text/javascript">
    var DataURL = "GetSysSettingByPage";
    var ColumnData = [[
                        { field: 'id', hidden: true },
                        { field: 'settinggroup', title: '字典分组', editor: 'text', width: 150 },
                        { field: 'settingname', title: '基建数据键', editor: 'text', width: 150 },
                        { field: 'settingvalue1', title: '基建数据值', editor: 'text', width: 150 },
                        { field: 'settingvalue2', title: '备注1', editor: 'text', width: 100 },
                        { field: 'settingvalue3', title: '备注2', editor: 'text', width: 100 },
                        { field: 'settingvalue4', title: '备注3', editor: 'text', width: 100 },
                        { field: 'settingvalue5', title: '备注4', editor: 'text', width: 100 },
                        { field: 'recordorder', title: '排序', editor: 'numberbox', width: 50 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

    var SaveRecords = function () {
        endEdit();
        var inserted = $('#dg').datagrid('getChanges', "inserted");
        var deleted = $('#dg').datagrid('getChanges', "deleted");
        var updated = $('#dg').datagrid('getChanges', "updated");
        var effectRow = new Object();
        if (inserted.length) {
            effectRow["inserted"] = JSON.stringify(inserted);
        }
        if (deleted.length) {
            effectRow["deleted"] = JSON.stringify(deleted);
        }
        if (updated.length) {
            effectRow["updated"] = JSON.stringify(updated);
        }
        $.post("CommitSysSettings", effectRow, function (response) {
            if (response.success)
                $.messager.show({ title: '操作成功', msg: response.success });
            else
                $.messager.show({ title: '操作失败', msg: response.error });

            $('#dg').datagrid('reload');
        }, "JSON");
    }
</script>
}
<table id="dg" title="基建数据维护"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />
