﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
        var cookie = new FuNong.Framework.Cookie.CookieWrapper();
        var nv = cookie.GetCookieCollection("FuNong.UserInfo.Login");
        string schoolid = string.Empty;
        if (nv != null)
        {
            schoolid = nv["FuNong.Login.SchoolID"];
        }
 }
@section scripts{
<style type="text/css">
.combo{width:70px;}
</style>
<script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemon.js")" type="text/javascript"></script>
<script type="text/javascript">
    var DataURL = "GetVideoSetting";
    var ColumnData = [[
                        { field: 'id', hidden: true },
                        {
                            field: 'schoolid', title: '所属公司',
                            formatter: function (value, row, index) {
                                return row.companyname;
                            },
                            editor: {
                                type: 'combobox',
                                options: {
                                    valueField: 'id',
                                    textField: 'name',
                                    url: 'GetSchoolBy',
                                    required: true
                                }
                            }, width: 70
                        },
                        { field: 'videocompany', title: '摄像头所属厂家', formatter: function (value, row, index) {
                            return row.videocompanyshow;
                        }, editor: { type: 'combobox',
                            options: {
                                valueField: 'settingvalue1',
                                textField: 'settingname',
                                url: 'GetBaseSettingBy?groupname=video',
                                required: true
                            }
                        }, width: 70
                        },
                        { field: 'videoname', title: '监控名称', editor: 'text', width: 70 },
                        { field: 'videoIP', title: '监控IP地址', editor: 'text', width: 70 },
                        { field: 'videoTCPPort', title: '监控端口', editor: 'text', width: 50 },
                        { field: 'videoLoginName', title: '监控登陆名称', editor: 'text', width: 70 },
                        { field: 'videoLoginPass', title: '监控登陆密码', editor: 'text', width: 70 },
                        { field: 'videoNVRAddress', title: 'NVR地址', editor: 'text', width: 70 },
                        { field: 'videoNVRUser', title: 'NVR用户', editor: 'text', width: 60 },
                        { field: 'videoNVRPass', title: 'NVR密码', editor: 'text', width: 60 },
                        //{ field: 'recordorder', title: '排序', editor: 'numberbox', width: 30 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 56 }
                      ]];

    var SaveRecords = function () {
        endEdit();
        var inserted = $('#dg').datagrid('getChanges', "inserted");
        var deleted = $('#dg').datagrid('getChanges', "deleted");
        var updated = $('#dg').datagrid('getChanges', "updated");
        var effectRow = new Object();
        if (inserted.length) {
            effectRow["inserted"] = JSON.stringify(inserted);
        }
        if (deleted.length) {
            effectRow["deleted"] = JSON.stringify(deleted);
        }
        if (updated.length) {
            effectRow["updated"] = JSON.stringify(updated);
        }
        $.post("CommitVideo", effectRow, function (response) {
            if (response.success)
                $.messager.show({ title: '操作成功', msg: response.success });
            else
                $.messager.show({ title: '操作失败', msg: response.error });

            $('#dg').datagrid('reload');
        }, "JSON");
    }
   
</script>
}
<table id="dg" title="视频监控配置"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />
