﻿  @model Dictionary<int,List<FuNong.DataContract.NewsResponse>>

  @{
      List<FuNong.DataContract.NewsResponse> soilMarket = Model[2];  //土地市场
      string soilMarketTitle = (soilMarket[0].newstitle.Length > 15) ? soilMarket[0].newstitle.Substring(0, 15) : soilMarket[0].newstitle;
      string soilMarketConte = (soilMarket[0].newscontent.Length > 50) ? soilMarket[0].newscontent.Substring(0, 50) : soilMarket[0].newscontent;

      List<FuNong.DataContract.NewsResponse> newsMarket = Model[5];  //流转资讯
      string newsMarketTitle = (newsMarket[0].newstitle.Length > 15) ? newsMarket[0].newstitle.Substring(0, 15) : newsMarket[0].newstitle;
      string newsMarketConte = (newsMarket[0].newscontent.Length > 68) ? newsMarket[0].newscontent.Substring(0, 68) : newsMarket[0].newscontent;

      List<FuNong.DataContract.NewsResponse> videoMarket = Model[11]; //视频新闻

      int videoCount = 6;
      if (videoMarket.Count < videoCount)
      {
          videoCount = videoMarket.Count;
      }  
   }

  @for (var i = 0; i < videoCount; i++)
    {
        string videoTitle = videoMarket[i].newstitle;
        if (videoTitle.Length > 6)
        {
            videoTitle = videoTitle.Substring(0, 6) + "...";
        }

        string videoid = videoMarket[i].id.ToString();
      
        string imgsrc = "../../Content/front/images/video/videoimg"+i+".jpg";
            
        <div style="float:left;height:100px;width:100px;margin-top:5px;margin-left:5px;">
            <div style="float:left;width:100%;height:60px;"><img src=@imgsrc style="width:100%;height:55px;" /></div>
            <div style="float:left;width:100%;height:20px;text-align:center;"><a href='../../home/NewsDetail?menu=4&id=@videoid'>@videoTitle</a></div>
        </div>
    }