﻿  @model Dictionary<int,List<FuNong.DataContract.NewsResponse>>

  @{
      List<FuNong.DataContract.NewsResponse> soilMarket = Model[2];  //土地市场
      string soilMarketTitle = (soilMarket[0].newstitle.Length > 15) ? soilMarket[0].newstitle.Substring(0, 15) : soilMarket[0].newstitle;
      string soilMarketConte = (soilMarket[0].newscontent.Length > 50) ? soilMarket[0].newscontent.Substring(0, 50) : soilMarket[0].newscontent;

      List<FuNong.DataContract.NewsResponse> newsMarket = Model[5];  //流转资讯
      string newsMarketTitle = (newsMarket[0].newstitle.Length > 15) ? newsMarket[0].newstitle.Substring(0, 15) : newsMarket[0].newstitle;
      string newsMarketConte = (newsMarket[0].newscontent.Length > 68) ? newsMarket[0].newscontent.Substring(0, 68) : newsMarket[0].newscontent;

      List<FuNong.DataContract.NewsResponse> videoMarket = Model[11]; //视频新闻

      int videoCount = 6;
      if (videoMarket.Count < videoCount)
      {
          videoCount = videoMarket.Count;
      }  
   }

  <ul style="margin:0;padding:0;list-style:none;">
    @for (int i = 0; i < soilMarket.Count; i++)
    {
        string marketTitle = newsMarket[i].newstitle.Length>15?newsMarket[i].newstitle.Substring(0,15):newsMarket[i].newstitle;
        string marketId = newsMarket[i].id.ToString();
        <li><span  style="font-size:13px;height:25px;line-height:25px;padding-left:3px;color:#2B2B2B;"><a href="../../home/NewsDetail?menu=4&id=@marketId">@marketTitle</a></span></li>
    }
</ul>