﻿@model List<FuNong.DataContract.NewsResponse>
@{
    var result = Model;
    if(result==null)
    {
        <a style="color:#444444" target="_blank" href='#'>•暂无滚动新闻</a>        
    }   
    else if(result.Count==0)
    {
        <a style="color:#444444" target="_blank" href='#'>•暂无滚动新闻</a>           
    }
    else
    {
        for(var i=0;i<result.Count;i++)
        {
            <a style="color:#444444" target="_blank" href='../../home/NewsDetail?menu=1&id=@result[i].id'>•@result[i].newstitle</a>
        }   
    }
 }
