﻿<link href="@Url.Content("~/Content/admin/js/zTree_v3/css/zTreeStyle/zTreeStyle.css")"   type="text/css" rel="stylesheet"/>
<script src="@Url.Content("~/Content/admin/js/zTree_v3/js/jquery.ztree.core-3.5.js")"    type="text/javascript"></script>
<script src="@Url.Content("~/Content/admin/js/zTree_v3/js/jquery.ztree.excheck-3.5.js")" type="text/javascript" ></script>

<script src="@Url.Content("~/Content/admin/js/fieldChooser-master/demo/scripts/jquery-ui.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/admin/js/fieldChooser-master/fieldChooser.js")"           type="text/javascript"></script>

<style type="text/css">
.filter{width:90px;text-align:center;float:left;height:20px;line-height:20px;margin:5px;background-color:#6FAADF;color:White;}
.over{background-color:yellow;}
</style>

<script type="text/javascript">
    $(document).ready(function () {

        bindTree();

        bindRangeFilter();
       
    });

    function bindRangeFilter() {
        //绑定范围选择
        $.ajaxWebService("/BaseData/GetBaseSettingBy", "{groupname:'filter'}", function (data) {
            var len = data.length;
            for (var i = 0; i < len; i++) {
                var text = data[i].settingname;
                var value = data[i].settingvalue2;
                $("#rangeselector").append("<div class='filter assigned'>" + text + "</div>   ");
            }

            setDragDrop();
        });
    }

    function setDragDrop()
    {
        var sourceFields = $("#rangeselector");
        var destinationFields = $("#selected");
        var chooser = $("#bodylayout").fieldChooser(sourceFields, destinationFields);
    }

    function bindTree() {
        //绑定ztree
        $.ajaxWebService("/PartialView/ConstructUserSelectionTree", "{}", function (data) {
            if (data.success) {
                var setting = {
                    check: {
                        enable: true
                    },
                    data: {
                        simpleData: {
                            enable: true
                        }
                    },
                    callback: {
                        beforeCheck: beforeCheck,
                        onCheck: onCheck
                    }
                };
                var zNodes = data.data;
                $.fn.zTree.init($("#treeUserSelection"), setting, zNodes);


            }
            else {
                alert(data.message);
            }
        });
    }

    function beforeCheck(treeId, treeNode) {
        return (treeNode.doCheck !== false);
    }
    function onCheck(e, treeId, treeNode) {
        alert(treeNode.id);
    }

    $.ajaxWebService = function (url, dataparam, datasuccess) {
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            url: url,
            data: dataparam,
            success: datasuccess,
            error: function (a, b, c) { }
        });
    }

</script>
@*<div class="easyui-window" title="人员选择面板" data-options="iconCls:'icon-transmit_add',modal:true" style="width:600px;height:400px;">    
    <div class="content_wrap">
	    <div class="zTreeDemoBackground left">
		    <ul id="treeUserSelection" class="ztree"></ul>
	    </div>
    </div>
</div>  *@
<body class="easyui-layout" id="bodylayout">  
    <div data-options="region:'north',split:true,iconCls:'icon-table_add'" id="rangeselector" title="范围选择【您可以点击下列选项来一次性选择所有群体人员，也可以通过列表进行筛选】" style="height:75px;padding:5px;">  
    </div>  
   @* <div data-options="region:'south',split:true" title="South Title" style="height:100px;padding:10px;background:#efefef;">  
        <div class="easyui-layout" data-options="fit:true" style="background:#ccc;">  
            <div data-options="region:'center'">sub center</div>  
            <div data-options="region:'east',split:true" style="width:200px;">sub center</div>  
        </div>  
    </div> *@ 
   
    <div data-options="region:'west',split:true,iconCls:'icon-folder_user'" title="人员筛选" style="width:170px;padding:1px;overflow:scroll-y;">  
        <div class="content_wrap">
	        <div class="zTreeDemoBackground left">
		        <ul id="treeUserSelection" class="ztree"></ul>
	        </div>
        </div>
    </div>
    </div>  
    <div data-options="region:'center',iconCls:'icon-disconnect'" id="unselected" title="未选人员" style="overflow:scroll-y;">  
    
    </div>  
     <div data-options="region:'east',iconCls:'icon-connect',split:true"  id="selected" title="已选人员" style="width:210px;overflow:scroll-y;">
        
    </div>  
</body>
