﻿*{font-size:12px; font-family:Tahoma,Verdana,微软雅黑,新宋体;}
img{border:none;}
table{border-collapse:collapse;}
body{margin:0px;padding:0px;}
a{ color:Black; text-decoration:none;}
a:hover{ color:Red; text-decoration:underline;}
.textbox03 {border: #878787 1px solid;padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;  font-weight: bold; width: 190px; }

.txt01{font:Verdana, Geneva, sans-serif,宋体;padding:3px 2px 2px 2px; border-width:1px; border-color:#ddd;  color:#000;}
.txt {border: #878787 1px solid;padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;}
.footer{text-align:center;color:#15428B; margin:0px; padding:0px;line-height:23px; font-weight:bold;}

.head a{color:White;text-decoration:underline;}

.easyui-accordion ul{list-style-type:none;margin:0px; padding:10px;}
.easyui-accordion ul li{ padding:0px;}
.easyui-accordion ul li a{line-height:24px;}
.easyui-accordion ul li div{margin:2px 0px;padding-left:10px;padding-top:2px;}
.easyui-accordion ul li div.hover{border:1px dashed #01B2BF; background:#9BE3E8;cursor:pointer;}
.easyui-accordion ul li div.hover a{color:#416AA3;}
.easyui-accordion ul li div.selected{border:1px solid #01B2BF; background:#9BE3E8;cursor:default;}
.easyui-accordion ul li div.selected a{color:#416AA3; font-weight:bold;}



.icon{ background:url(../images/tabicons.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-sys{ background-position:0px -200px;}
.icon-set{ background-position:-380px -200px;}
.icon-add{background-position: -20px 0px;}
.icon-add1{background:url('icon/edit_add.png') no-repeat;}
.icon-nav{background-position: -100px -20px; }
.icon-users{background-position: -100px -480px;}
.icon-role{background-position: -360px -200px;}
.icon-set{background-position: -380px -200px;}
.icon-log{background-position: -380px -80px;}
.icon-delete16{background:url('icon/delete.gif') no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-delete{ background-position:-140px -120px;}
.icon-edit{ background-position:-380px -320px;}
.icon-magic{ background-position:0px -500px;}
.icon-database{ background-position:-20px -140px;}
.icon-expand{ background:url('/images/coll2.gif') no-repeat;}
.icon-collapse{ background:url('/images/coll3.gif') no-repeat;}
.icon-bchjc{background:url('../images/bchjc.png') no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-mqjc{background:url('../images/mqjc.png') no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-sqjc{background:url('../images/sqjc.png') no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-zqjc{background:url('../images/zqjc.jpg') no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-realvideo{background:url('../images/realvideo.png') no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-picview{background:url('../images/picview.png') no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-nearground{background:url('../images/nearground.jpg') no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-ProductionAndLivingActivities{background:url('../images/ProductionAndLivingActivities.jpg') no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-SoilFertilityMonitoring{background:url('../images/SoilFertilityMonitoring.jpg') no-repeat;width:18px; line-height:18px; display:inline-block;}

.icon-Artificialdata{background:url('../images/Artificialdata.png') no-repeat;width:18px; line-height:18px; display:inline-block;}

.red{color:#AF4836;}
.yellow{color:#FAF3D1;}


.tu0101{background-position:-0px -0px;}  
.tu0201{background-position:-20px -0px;}  
.tu0301{background-position:-40px -0px;}  
.tu0401{background-position:-60px -0px;}  
.tu0501{background-position:-80px -0px;}  
.tu0601{background-position:-100px -0px;}  
.tu0701{background-position:-120px -0px;}  
.tu0801{background-position:-140px -0px;}  
.tu0901{background-position:-160px -0px;}  
.tu1001{background-position:-180px -0px;}  
.tu1101{background-position:-200px -0px;}  
.tu1201{background-position:-220px -0px;}  
.tu1301{background-position:-240px -0px;}  
.tu1401{background-position:-260px -0px;}  
.tu1501{background-position:-280px -0px;}  
.tu1601{background-position:-300px -0px;}  
.tu1701{background-position:-320px -0px;}  
.tu1801{background-position:-340px -0px;}  
.tu1901{background-position:-360px -0px;}  
.tu2001{background-position:-380px -0px;}  
.tu0102{background-position:-0px -20px;}  
.tu0202{background-position:-20px -20px;}  
.tu0302{background-position:-40px -20px;}  
.tu0402{background-position:-60px -20px;}  
.tu0502{background-position:-80px -20px;}  
.tu0602{background-position:-100px -20px;}  
.tu0702{background-position:-120px -20px;}  
.tu0802{background-position:-140px -20px;}  
.tu0902{background-position:-160px -20px;}  
.tu1002{background-position:-180px -20px;}  
.tu1102{background-position:-200px -20px;}  
.tu1202{background-position:-220px -20px;}  
.tu1302{background-position:-240px -20px;}  
.tu1402{background-position:-260px -20px;}  
.tu1502{background-position:-280px -20px;}  
.tu1602{background-position:-300px -20px;}  
.tu1702{background-position:-320px -20px;}  
.tu1802{background-position:-340px -20px;}  
.tu1902{background-position:-360px -20px;}  
.tu2002{background-position:-380px -20px;}  
.tu0103{background-position:-0px -40px;}  
.tu0203{background-position:-20px -40px;}  
.tu0303{background-position:-40px -40px;}  
.tu0403{background-position:-60px -40px;}  
.tu0503{background-position:-80px -40px;}  
.tu0603{background-position:-100px -40px;}  
.tu0703{background-position:-120px -40px;}  
.tu0803{background-position:-140px -40px;}  
.tu0903{background-position:-160px -40px;}  
.tu1003{background-position:-180px -40px;}  
.tu1103{background-position:-200px -40px;}  
.tu1203{background-position:-220px -40px;}  
.tu1303{background-position:-240px -40px;}  
.tu1403{background-position:-260px -40px;}  
.tu1503{background-position:-280px -40px;}  
.tu1603{background-position:-300px -40px;}  
.tu1703{background-position:-320px -40px;}  
.tu1803{background-position:-340px -40px;}  
.tu1903{background-position:-360px -40px;}  
.tu2003{background-position:-380px -40px;}  
.tu0104{background-position:-0px -60px;}  
.tu0204{background-position:-20px -60px;}  
.tu0304{background-position:-40px -60px;}  
.tu0404{background-position:-60px -60px;}  
.tu0504{background-position:-80px -60px;}  
.tu0604{background-position:-100px -60px;}  
.tu0704{background-position:-120px -60px;}  
.tu0804{background-position:-140px -60px;}  
.tu0904{background-position:-160px -60px;}  
.tu1004{background-position:-180px -60px;}  
.tu1104{background-position:-200px -60px;}  
.tu1204{background-position:-220px -60px;}  
.tu1304{background-position:-240px -60px;}  
.tu1404{background-position:-260px -60px;}  
.tu1504{background-position:-280px -60px;}  
.tu1604{background-position:-300px -60px;}  
.tu1704{background-position:-320px -60px;}  
.tu1804{background-position:-340px -60px;}  
.tu1904{background-position:-360px -60px;}  
.tu2004{background-position:-380px -60px;}  
.tu0105{background-position:-0px -80px;}  
.tu0205{background-position:-20px -80px;}  
.tu0305{background-position:-40px -80px;}  
.tu0405{background-position:-60px -80px;}  
.tu0505{background-position:-80px -80px;}  
.tu0605{background-position:-100px -80px;}  
.tu0705{background-position:-120px -80px;}  
.tu0805{background-position:-140px -80px;}  
.tu0905{background-position:-160px -80px;}  
.tu1005{background-position:-180px -80px;}  
.tu1105{background-position:-200px -80px;}  
.tu1205{background-position:-220px -80px;}  
.tu1305{background-position:-240px -80px;}  
.tu1405{background-position:-260px -80px;}  
.tu1505{background-position:-280px -80px;}  
.tu1605{background-position:-300px -80px;}  
.tu1705{background-position:-320px -80px;}  
.tu1805{background-position:-340px -80px;}  
.tu1905{background-position:-360px -80px;}  
.tu2005{background-position:-380px -80px;}  
.tu0106{background-position:-0px -100px;}  
.tu0206{background-position:-20px -100px;}  
.tu0306{background-position:-40px -100px;}  
.tu0406{background-position:-60px -100px;}  
.tu0506{background-position:-80px -100px;}  
.tu0606{background-position:-100px -100px;}  
.tu0706{background-position:-120px -100px;}  
.tu0806{background-position:-140px -100px;}  
.tu0906{background-position:-160px -100px;}  
.tu1006{background-position:-180px -100px;}  
.tu1106{background-position:-200px -100px;}  
.tu1206{background-position:-220px -100px;}  
.tu1306{background-position:-240px -100px;}  
.tu1406{background-position:-260px -100px;}  
.tu1506{background-position:-280px -100px;}  
.tu1606{background-position:-300px -100px;}  
.tu1706{background-position:-320px -100px;}  
.tu1806{background-position:-340px -100px;}  
.tu1906{background-position:-360px -100px;}  
.tu2006{background-position:-380px -100px;}  
.tu0107{background-position:-0px -120px;}  
.tu0207{background-position:-20px -120px;}  
.tu0307{background-position:-40px -120px;}  
.tu0407{background-position:-60px -120px;}  
.tu0507{background-position:-80px -120px;}  
.tu0607{background-position:-100px -120px;}  
.tu0707{background-position:-120px -120px;}  
.tu0807{background-position:-140px -120px;}  
.tu0907{background-position:-160px -120px;}  
.tu1007{background-position:-180px -120px;}  
.tu1107{background-position:-200px -120px;}  
.tu1207{background-position:-220px -120px;}  
.tu1307{background-position:-240px -120px;}  
.tu1407{background-position:-260px -120px;}  
.tu1507{background-position:-280px -120px;}  
.tu1607{background-position:-300px -120px;}  
.tu1707{background-position:-320px -120px;}  
.tu1807{background-position:-340px -120px;}  
.tu1907{background-position:-360px -120px;}  
.tu2007{background-position:-380px -120px;}  
.tu0108{background-position:-0px -140px;}  
.tu0208{background-position:-20px -140px;}  
.tu0308{background-position:-40px -140px;}  
.tu0408{background-position:-60px -140px;}  
.tu0508{background-position:-80px -140px;}  
.tu0608{background-position:-100px -140px;}  
.tu0708{background-position:-120px -140px;}  
.tu0808{background-position:-140px -140px;}  
.tu0908{background-position:-160px -140px;}  
.tu1008{background-position:-180px -140px;}  
.tu1108{background-position:-200px -140px;}  
.tu1208{background-position:-220px -140px;}  
.tu1308{background-position:-240px -140px;}  
.tu1408{background-position:-260px -140px;}  
.tu1508{background-position:-280px -140px;}  
.tu1608{background-position:-300px -140px;}  
.tu1708{background-position:-320px -140px;}  
.tu1808{background-position:-340px -140px;}  
.tu1908{background-position:-360px -140px;}  
.tu2008{background-position:-380px -140px;}  
.tu0109{background-position:-0px -160px;}  
.tu0209{background-position:-20px -160px;}  
.tu0309{background-position:-40px -160px;}  
.tu0409{background-position:-60px -160px;}  
.tu0509{background-position:-80px -160px;}  
.tu0609{background-position:-100px -160px;}  
.tu0709{background-position:-120px -160px;}  
.tu0809{background-position:-140px -160px;}  
.tu0909{background-position:-160px -160px;}  
.tu1009{background-position:-180px -160px;}  
.tu1109{background-position:-200px -160px;}  
.tu1209{background-position:-220px -160px;}  
.tu1309{background-position:-240px -160px;}  
.tu1409{background-position:-260px -160px;}  
.tu1509{background-position:-280px -160px;}  
.tu1609{background-position:-300px -160px;}  
.tu1709{background-position:-320px -160px;}  
.tu1809{background-position:-340px -160px;}  
.tu1909{background-position:-360px -160px;}  
.tu2009{background-position:-380px -160px;}  
.tu0110{background-position:-0px -180px;}  
.tu0210{background-position:-20px -180px;}  
.tu0310{background-position:-40px -180px;}  
.tu0410{background-position:-60px -180px;}  
.tu0510{background-position:-80px -180px;}  
.tu0610{background-position:-100px -180px;}  
.tu0710{background-position:-120px -180px;}  
.tu0810{background-position:-140px -180px;}  
.tu0910{background-position:-160px -180px;}  
.tu1010{background-position:-180px -180px;}  
.tu1110{background-position:-200px -180px;}  
.tu1210{background-position:-220px -180px;}  
.tu1310{background-position:-240px -180px;}  
.tu1410{background-position:-260px -180px;}  
.tu1510{background-position:-280px -180px;}  
.tu1610{background-position:-300px -180px;}  
.tu1710{background-position:-320px -180px;}  
.tu1810{background-position:-340px -180px;}  
.tu1910{background-position:-360px -180px;}  
.tu2010{background-position:-380px -180px;}  
.tu0111{background-position:-0px -200px;}  
.tu0211{background-position:-20px -200px;}  
.tu0311{background-position:-40px -200px;}  
.tu0411{background-position:-60px -200px;}  
.tu0511{background-position:-80px -200px;}  
.tu0611{background-position:-100px -200px;}  
.tu0711{background-position:-120px -200px;}  
.tu0811{background-position:-140px -200px;}  
.tu0911{background-position:-160px -200px;}  
.tu1011{background-position:-180px -200px;}  
.tu1111{background-position:-200px -200px;}  
.tu1211{background-position:-220px -200px;}  
.tu1311{background-position:-240px -200px;}  
.tu1411{background-position:-260px -200px;}  
.tu1511{background-position:-280px -200px;}  
.tu1611{background-position:-300px -200px;}  
.tu1711{background-position:-320px -200px;}  
.tu1811{background-position:-340px -200px;}  
.tu1911{background-position:-360px -200px;}  
.tu2011{background-position:-380px -200px;}  
.tu0112{background-position:-0px -220px;}  
.tu0212{background-position:-20px -220px;}  
.tu0312{background-position:-40px -220px;}  
.tu0412{background-position:-60px -220px;}  
.tu0512{background-position:-80px -220px;}  
.tu0612{background-position:-100px -220px;}  
.tu0712{background-position:-120px -220px;}  
.tu0812{background-position:-140px -220px;}  
.tu0912{background-position:-160px -220px;}  
.tu1012{background-position:-180px -220px;}  
.tu1112{background-position:-200px -220px;}  
.tu1212{background-position:-220px -220px;}  
.tu1312{background-position:-240px -220px;}  
.tu1412{background-position:-260px -220px;}  
.tu1512{background-position:-280px -220px;}  
.tu1612{background-position:-300px -220px;}  
.tu1712{background-position:-320px -220px;}  
.tu1812{background-position:-340px -220px;}  
.tu1912{background-position:-360px -220px;}  
.tu2012{background-position:-380px -220px;}  
.tu0113{background-position:-0px -240px;}  
.tu0213{background-position:-20px -240px;}  
.tu0313{background-position:-40px -240px;}  
.tu0413{background-position:-60px -240px;}  
.tu0513{background-position:-80px -240px;}  
.tu0613{background-position:-100px -240px;}  
.tu0713{background-position:-120px -240px;}  
.tu0813{background-position:-140px -240px;}  
.tu0913{background-position:-160px -240px;}  
.tu1013{background-position:-180px -240px;}  
.tu1113{background-position:-200px -240px;}  
.tu1213{background-position:-220px -240px;}  
.tu1313{background-position:-240px -240px;}  
.tu1413{background-position:-260px -240px;}  
.tu1513{background-position:-280px -240px;}  
.tu1613{background-position:-300px -240px;}  
.tu1713{background-position:-320px -240px;}  
.tu1813{background-position:-340px -240px;}  
.tu1913{background-position:-360px -240px;}  
.tu2013{background-position:-380px -240px;}  
.tu0114{background-position:-0px -260px;}  
.tu0214{background-position:-20px -260px;}  
.tu0314{background-position:-40px -260px;}  
.tu0414{background-position:-60px -260px;}  
.tu0514{background-position:-80px -260px;}  
.tu0614{background-position:-100px -260px;}  
.tu0714{background-position:-120px -260px;}  
.tu0814{background-position:-140px -260px;}  
.tu0914{background-position:-160px -260px;}  
.tu1014{background-position:-180px -260px;}  
.tu1114{background-position:-200px -260px;}  
.tu1214{background-position:-220px -260px;}  
.tu1314{background-position:-240px -260px;}  
.tu1414{background-position:-260px -260px;}  
.tu1514{background-position:-280px -260px;}  
.tu1614{background-position:-300px -260px;}  
.tu1714{background-position:-320px -260px;}  
.tu1814{background-position:-340px -260px;}  
.tu1914{background-position:-360px -260px;}  
.tu2014{background-position:-380px -260px;}  
.tu0115{background-position:-0px -280px;}  
.tu0215{background-position:-20px -280px;}  
.tu0315{background-position:-40px -280px;}  
.tu0415{background-position:-60px -280px;}  
.tu0515{background-position:-80px -280px;}  
.tu0615{background-position:-100px -280px;}  
.tu0715{background-position:-120px -280px;}  
.tu0815{background-position:-140px -280px;}  
.tu0915{background-position:-160px -280px;}  
.tu1015{background-position:-180px -280px;}  
.tu1115{background-position:-200px -280px;}  
.tu1215{background-position:-220px -280px;}  
.tu1315{background-position:-240px -280px;}  
.tu1415{background-position:-260px -280px;}  
.tu1515{background-position:-280px -280px;}  
.tu1615{background-position:-300px -280px;}  
.tu1715{background-position:-320px -280px;}  
.tu1815{background-position:-340px -280px;}  
.tu1915{background-position:-360px -280px;}  
.tu2015{background-position:-380px -280px;}  
.tu0116{background-position:-0px -300px;}  
.tu0216{background-position:-20px -300px;}  
.tu0316{background-position:-40px -300px;}  
.tu0416{background-position:-60px -300px;}  
.tu0516{background-position:-80px -300px;}  
.tu0616{background-position:-100px -300px;}  
.tu0716{background-position:-120px -300px;}  
.tu0816{background-position:-140px -300px;}  
.tu0916{background-position:-160px -300px;}  
.tu1016{background-position:-180px -300px;}  
.tu1116{background-position:-200px -300px;}  
.tu1216{background-position:-220px -300px;}  
.tu1316{background-position:-240px -300px;}  
.tu1416{background-position:-260px -300px;}  
.tu1516{background-position:-280px -300px;}  
.tu1616{background-position:-300px -300px;}  
.tu1716{background-position:-320px -300px;}  
.tu1816{background-position:-340px -300px;}  
.tu1916{background-position:-360px -300px;}  
.tu2016{background-position:-380px -300px;}  
.tu0117{background-position:-0px -320px;}  
.tu0217{background-position:-20px -320px;}  
.tu0317{background-position:-40px -320px;}  
.tu0417{background-position:-60px -320px;}  
.tu0517{background-position:-80px -320px;}  
.tu0617{background-position:-100px -320px;}  
.tu0717{background-position:-120px -320px;}  
.tu0817{background-position:-140px -320px;}  
.tu0917{background-position:-160px -320px;}  
.tu1017{background-position:-180px -320px;}  
.tu1117{background-position:-200px -320px;}  
.tu1217{background-position:-220px -320px;}  
.tu1317{background-position:-240px -320px;}  
.tu1417{background-position:-260px -320px;}  
.tu1517{background-position:-280px -320px;}  
.tu1617{background-position:-300px -320px;}  
.tu1717{background-position:-320px -320px;}  
.tu1817{background-position:-340px -320px;}  
.tu1917{background-position:-360px -320px;}  
.tu2017{background-position:-380px -320px;}  
.tu0118{background-position:-0px -340px;}  
.tu0218{background-position:-20px -340px;}  
.tu0318{background-position:-40px -340px;}  
.tu0418{background-position:-60px -340px;}  
.tu0518{background-position:-80px -340px;}  
.tu0618{background-position:-100px -340px;}  
.tu0718{background-position:-120px -340px;}  
.tu0818{background-position:-140px -340px;}  
.tu0918{background-position:-160px -340px;}  
.tu1018{background-position:-180px -340px;}  
.tu1118{background-position:-200px -340px;}  
.tu1218{background-position:-220px -340px;}  
.tu1318{background-position:-240px -340px;}  
.tu1418{background-position:-260px -340px;}  
.tu1518{background-position:-280px -340px;}  
.tu1618{background-position:-300px -340px;}  
.tu1718{background-position:-320px -340px;}  
.tu1818{background-position:-340px -340px;}  
.tu1918{background-position:-360px -340px;}  
.tu2018{background-position:-380px -340px;}  
.tu0119{background-position:-0px -360px;}  
.tu0219{background-position:-20px -360px;}  
.tu0319{background-position:-40px -360px;}  
.tu0419{background-position:-60px -360px;}  
.tu0519{background-position:-80px -360px;}  
.tu0619{background-position:-100px -360px;}  
.tu0719{background-position:-120px -360px;}  
.tu0819{background-position:-140px -360px;}  
.tu0919{background-position:-160px -360px;}  
.tu1019{background-position:-180px -360px;}  
.tu1119{background-position:-200px -360px;}  
.tu1219{background-position:-220px -360px;}  
.tu1319{background-position:-240px -360px;}  
.tu1419{background-position:-260px -360px;}  
.tu1519{background-position:-280px -360px;}  
.tu1619{background-position:-300px -360px;}  
.tu1719{background-position:-320px -360px;}  
.tu1819{background-position:-340px -360px;}  
.tu1919{background-position:-360px -360px;}  
.tu2019{background-position:-380px -360px;}  
.tu0120{background-position:-0px -380px;}  
.tu0220{background-position:-20px -380px;}  
.tu0320{background-position:-40px -380px;}  
.tu0420{background-position:-60px -380px;}  
.tu0520{background-position:-80px -380px;}  
.tu0620{background-position:-100px -380px;}  
.tu0720{background-position:-120px -380px;}  
.tu0820{background-position:-140px -380px;}  
.tu0920{background-position:-160px -380px;}  
.tu1020{background-position:-180px -380px;}  
.tu1120{background-position:-200px -380px;}  
.tu1220{background-position:-220px -380px;}  
.tu1320{background-position:-240px -380px;}  
.tu1420{background-position:-260px -380px;}  
.tu1520{background-position:-280px -380px;}  
.tu1620{background-position:-300px -380px;}  
.tu1720{background-position:-320px -380px;}  
.tu1820{background-position:-340px -380px;}  
.tu1920{background-position:-360px -380px;}  
.tu2020{background-position:-380px -380px;}  
.tu0121{background-position:-0px -400px;}  
.tu0221{background-position:-20px -400px;}  
.tu0321{background-position:-40px -400px;}  
.tu0421{background-position:-60px -400px;}  
.tu0521{background-position:-80px -400px;}  
.tu0621{background-position:-100px -400px;}  
.tu0721{background-position:-120px -400px;}  
.tu0821{background-position:-140px -400px;}  
.tu0921{background-position:-160px -400px;}  
.tu1021{background-position:-180px -400px;}  
.tu1121{background-position:-200px -400px;}  
.tu1221{background-position:-220px -400px;}  
.tu1321{background-position:-240px -400px;}  
.tu1421{background-position:-260px -400px;}  
.tu1521{background-position:-280px -400px;}  
.tu1621{background-position:-300px -400px;}  
.tu1721{background-position:-320px -400px;}  
.tu1821{background-position:-340px -400px;}  
.tu1921{background-position:-360px -400px;}  
.tu2021{background-position:-380px -400px;}  
.tu0122{background-position:-0px -420px;}  
.tu0222{background-position:-20px -420px;}  
.tu0322{background-position:-40px -420px;}  
.tu0422{background-position:-60px -420px;}  
.tu0522{background-position:-80px -420px;}  
.tu0622{background-position:-100px -420px;}  
.tu0722{background-position:-120px -420px;}  
.tu0822{background-position:-140px -420px;}  
.tu0922{background-position:-160px -420px;}  
.tu1022{background-position:-180px -420px;}  
.tu1122{background-position:-200px -420px;}  
.tu1222{background-position:-220px -420px;}  
.tu1322{background-position:-240px -420px;}  
.tu1422{background-position:-260px -420px;}  
.tu1522{background-position:-280px -420px;}  
.tu1622{background-position:-300px -420px;}  
.tu1722{background-position:-320px -420px;}  
.tu1822{background-position:-340px -420px;}  
.tu1922{background-position:-360px -420px;}  
.tu2022{background-position:-380px -420px;}  
.tu0123{background-position:-0px -440px;}  
.tu0223{background-position:-20px -440px;}  
.tu0323{background-position:-40px -440px;}  
.tu0423{background-position:-60px -440px;}  
.tu0523{background-position:-80px -440px;}  
.tu0623{background-position:-100px -440px;}  
.tu0723{background-position:-120px -440px;}  
.tu0823{background-position:-140px -440px;}  
.tu0923{background-position:-160px -440px;}  
.tu1023{background-position:-180px -440px;}  
.tu1123{background-position:-200px -440px;}  
.tu1223{background-position:-220px -440px;}  
.tu1323{background-position:-240px -440px;}  
.tu1423{background-position:-260px -440px;}  
.tu1523{background-position:-280px -440px;}  
.tu1623{background-position:-300px -440px;}  
.tu1723{background-position:-320px -440px;}  
.tu1823{background-position:-340px -440px;}  
.tu1923{background-position:-360px -440px;}  
.tu2023{background-position:-380px -440px;}  
.tu0124{background-position:-0px -460px;}  
.tu0224{background-position:-20px -460px;}  
.tu0324{background-position:-40px -460px;}  
.tu0424{background-position:-60px -460px;}  
.tu0524{background-position:-80px -460px;}  
.tu0624{background-position:-100px -460px;}  
.tu0724{background-position:-120px -460px;}  
.tu0824{background-position:-140px -460px;}  
.tu0924{background-position:-160px -460px;}  
.tu1024{background-position:-180px -460px;}  
.tu1124{background-position:-200px -460px;}  
.tu1224{background-position:-220px -460px;}  
.tu1324{background-position:-240px -460px;}  
.tu1424{background-position:-260px -460px;}  
.tu1524{background-position:-280px -460px;}  
.tu1624{background-position:-300px -460px;}  
.tu1724{background-position:-320px -460px;}  
.tu1824{background-position:-340px -460px;}  
.tu1924{background-position:-360px -460px;}  
.tu2024{background-position:-380px -460px;}  
.tu0125{background-position:-0px -480px;}  
.tu0225{background-position:-20px -480px;}  
.tu0325{background-position:-40px -480px;}  
.tu0425{background-position:-60px -480px;}  
.tu0525{background-position:-80px -480px;}  
.tu0625{background-position:-100px -480px;}  
.tu0725{background-position:-120px -480px;}  
.tu0825{background-position:-140px -480px;}  
.tu0925{background-position:-160px -480px;}  
.tu1025{background-position:-180px -480px;}  
.tu1125{background-position:-200px -480px;}  
.tu1225{background-position:-220px -480px;}  
.tu1325{background-position:-240px -480px;}  
.tu1425{background-position:-260px -480px;}  
.tu1525{background-position:-280px -480px;}  
.tu1625{background-position:-300px -480px;}  
.tu1725{background-position:-320px -480px;}  
.tu1825{background-position:-340px -480px;}  
.tu1925{background-position:-360px -480px;}  
.tu2025{background-position:-380px -480px;}  
.tu0126{background-position:-0px -500px;}  
.tu0226{background-position:-20px -500px;}  
.tu0326{background-position:-40px -500px;}  
.tu0426{background-position:-60px -500px;}  
.tu0526{background-position:-80px -500px;}  
.tu0626{background-position:-100px -500px;}  
.tu0726{background-position:-120px -500px;}  
.tu0826{background-position:-140px -500px;}  
.tu0926{background-position:-160px -500px;}  
.tu1026{background-position:-180px -500px;}  
.tu1126{background-position:-200px -500px;}  
.tu1226{background-position:-220px -500px;}  
.tu1326{background-position:-240px -500px;}  
.tu1426{background-position:-260px -500px;}  
.tu1526{background-position:-280px -500px;}  
.tu1626{background-position:-300px -500px;}  
.tu1726{background-position:-320px -500px;}  
.tu1826{background-position:-340px -500px;}  
.tu1926{background-position:-360px -500px;}  
.tu2026{background-position:-380px -500px;}  

