﻿.newsnav{border:1px solid #E7E7E7;width:1000px;margin:0 auto;height:45px;line-height:45px;margin-top:10px;margin-bottom:10px;}
    .newsnav ul{list-style:none;color:#54595C;margin-top:0px;}
    .newsnav li{float:left;width:80px;}
    
    .newsfirst{width:1000px;height:270px;margin:0 auto;margin-bottom:10px;margin-top:10px;}
    .newsinnerfirst{border:1px solid #E7E7E7;width:320px;height:270px;float:left;}
    .newsinnersecond{border:1px solid #E7E7E7;width:400px;height:270px;float:left;margin-left:4.5px;}
    .newsinnerthird{width:265px;height:272px;float:left;margin-left:4.5px;}
    
    .newssecond{width:1000px;height:100px;margin:0 auto;border:1px solid #E7E7E7;margin-bottom:10px;}
    
    .newsthird{width:1000px;height:650px;margin:0 auto;margin-bottom:10px;}
    .newsthirdleft{width:1000px;height:auto;float:left;}
    .newsthirdleft-1{width:490px;height:320px;border:1px solid #E7E7E7;float:left;}
    .newsthirdleft-2{width:490px;height:320px;border:1px solid #E7E7E7;float:right;}
    .newsthirdleft-3{width:490px;height:320px;border:1px solid #E7E7E7;float:left;margin-top:10px;}
    .newsthirdleft-4{width:490px;height:320px;border:1px solid #E7E7E7;float:right;margin-top:10px;}
    .newsthirdleft-5{width:730px;height:320px;border:1px solid #E7E7E7;float:left;margin-top:10px;}
    
    .newsthirdright{width:260px;height:650px;float:right;}
    .newsthirdrightone{width:260px;height:370px;border:1px solid #E7E7E7;float:left;}
    .newsthirdrighttwo{width:260px;height:270px;border:1px solid #E7E7E7;float:left;margin-top:10px;}
    
    .newslistul{list-style:none;padding:0;margin:0;}
    .newslisttitle{float:left;height:30px;line-height:30px;border-bottom:4px solid #1E8B1E;width:100%;margin-left:0px;background:url(../../Content/front/images/icon_01.gif) no-repeat 10px 7px;}
    .newslisttitletext{font-weight:bold;color:#1E8B1E;margin-left:20px;font-size:15px;}
    .newslisttitlemore{font-size:13px;color:#878787;float:right;}