/*可以在这里添加你自己的css*/

  p { padding:0; margin:0; font:normal 13px/160% "MENKSOF0"; color:#000000;text-align:left;}
 @font-face {
            font-family: MENKSOF0;
	        font-style:  normal;
            font-weight: normal;
            src:url("../../../../UploadFile/Menksoft2007.woff") format("woff");
        }