﻿<!DOCTYPE html>
<html style="background-color:white;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/front/css/base.css")
    <script src="~/Scripts/jquery.min.js"></script>
    @Scripts.Render("~/Content/front/js/base.js")
    @RenderSection("scripts", required: false)
</head>
@{
    FuNong.Framework.Cookie.ICookie cookie = new FuNong.Framework.Cookie.CookieWrapper();
    System.Collections.Specialized.NameValueCollection nv = cookie.GetCookieCollection("FuNong.UserInfo.Login");
    bool userExist = false;  //用户未登录
    string userid = string.Empty;
    string username = string.Empty;
    string roleid = string.Empty;
    string userrole = string.Empty;
    if(nv!=null)
    {
       userid   = nv["FuNong.Login.UserID"];
       username = nv["FuNong.Login.UserName"];
       roleid   = nv["FuNong.Login.RoleID"];
       userrole = HttpUtility.UrlDecode(nv["FuNong.Login.RoleName"]);
        if(!string.IsNullOrEmpty(userid)&&!string.IsNullOrEmpty(username)&&!string.IsNullOrEmpty(userrole)&&!string.IsNullOrEmpty(roleid))
        {
            userExist = true;    //用户已登录
        }
    }
}
<body style="background-color:white;">
<div class="container">
    <div class="top">
       <div class="topwrapper">
            <div class="topnav">
            @if (userExist)
            {
            <span>欢迎<span style="color:red"> @username</span> 登陆，您当前身份为<span style="color:red">@userrole</span> <a href='/Home/Logout' style='font-size:12px;'>注销</a></span>
            }
            else
            {
            <span><a href='@Url.Action("login", "home")'>用户登陆</a></span>
            } 
            </div>

            <div class="logowrapper">
                <div class="logo"></div>
            </div>
            <div class="menu">
                 @{
                     Html.RenderAction("MenuPartial", "PartialView");
                  }
            </div>        </div>
    </div>
    <div class="notify">
    <div class="notifylogo"><img src="../../Content/front/images/notify.jpg" alt=""/><span>站内公告</span></div>
    <div class="notifycontent">
        @{
            Html.RenderAction("ScrollNewsPartial", "PartialView");
         }
    </div>
    <div class="notifymore">@*<a href="#">更多&gt;&gt;</a>*@</div>
    </div>
    @RenderBody()
    <div style="clear: both"></div>
    <div class="footer">
    <div class="footertitle"><span>合作网站</span></div>
    <div class="footercontent">
       <div class="footerwrapper">
           <div class="footerlink"><a href="http://www.10086.cn/" target="_blank" title="中国移动" data-id="12464" class="_friend_link text_gray">中国移动</a></div>
           <div class="footerlink"><a href="http://www.10010.com/" target="_blank" title="中国联通" data-id="12464" class="_friend_link text_gray">中国联通</a></div>
           <div class="footerlink"><a href="http://www.189.cn/" target="_blank" title="中国电信" data-id="12464" class="_friend_link text_gray">中国电信</a></div>
           <div class="footerlink"><a href="http://chinactk.com/" target="_blank" title="鹤壁德森电子科技有限公司" data-id="12464" class="_friend_link text_gray">鹤壁德森电子科技有限公司</a></div>
           <div class="footerlink"><a href="http://www.netofthings.cn/" target="_blank" title="中国物联网" data-id="12269" class="_friend_link text_gray">中国物联网</a></div>
           </div>
    </div>
    </div>
    <div class="footernav">
    <a  href="http://chinactk.com/aboutus.html" target="_blank">关于我们</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://chinactk.com/news.html" target="_blank">新闻资讯</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://chinactk.com/contactus.html" target="_blank">联系方式</a> 
    </div>
    <div class="footerlogo">
        <div class="footercopyright">
        版权所有©河南鹤壁德森科技有限公司 全国统一客服 400-669-1682
        <br />
        技术支持： 河南鹤壁德森科技有限公司
        </div>
    </div>



</div>


</body>
</html>


  
