﻿@{
    ViewBag.Title = "错误处理";
}

@{
    string requestMsg = HttpContext.Current.Request["msg"];   
    if(string.IsNullOrEmpty(requestMsg))
    {
        requestMsg = "您访问的页面发生了错误，请重试！";   
    }
 }

<div style="width:1000px;height:50px;margin:0 auto;text-align:center;margin-top:30px;">
<span style="font-weight:bold;font-size:15px;color:#444444" id="error">@HttpUtility.UrlDecode(requestMsg)</span>
</div>