﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts{
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemon.js")" type="text/javascript"></script>
    <script type="text/javascript">
    var DataURL = "GetMachineListByPage";
    var ColumnData = [[
                        { field: 'machine_id', title: '设备编号', editor: 'text', width: 100 },
                        { field: 'machine_name', title: '设备名称', editor: 'text', width: 100 },
                        
                        {
                              field: 'school_id', title: '所属公司',
                              formatter: function (value, row, index) {
                                  return  row.company_name ;
                              },
                              editor: {
                                  type: 'combobox',
                                  options: {
                                      valueField: 'id',
                                      textField: 'name',
                                      url: '/BaseData/GetSchoolBy',
                                      required: true
                                  }
                              }, width: 120
                        },
                        { field: 'machine_note', title: '设备备注', editor: 'text', width: 200 },
                        { field: 'recordorder', title: '排序', editor: 'numberbox', width: 50 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

    var SaveRecords = function () {
        //只有先endedit之后，值才会传到后台。
        endEdit();
        var inserted = $('#dg').datagrid('getChanges', "inserted");
        var deleted = $('#dg').datagrid('getChanges', "deleted");
        var updated = $('#dg').datagrid('getChanges', "updated");
        var effectRow = new Object();
        if (inserted.length) {
            effectRow["inserted"] = JSON.stringify(inserted);
        }
        if (deleted.length) {
            effectRow["deleted"] = JSON.stringify(deleted);
        }
        if (updated.length) {
            effectRow["updated"] = JSON.stringify(updated);
        }
        $.post("CommitMachineDetails", effectRow, function (response) {
            if (response.success)
                $.messager.show({ title: '操作成功', msg: response.success });
            else
                $.messager.show({ title: '操作失败', msg: response.error });

            $('#dg').datagrid('reload');
        }, "JSON");
    }
    </script>
}
<table id="dg" title="硬件设备维护"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput" class="easyui-searchbox" style="width:200px;" />