﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    var cookie = new FuNong.Framework.Cookie.CookieWrapper();
    var nv = cookie.GetCookieCollection("FuNong.UserInfo.Login");
    var roleid = string.Empty;
    if (nv != null)
    {
        roleid = nv["FuNong.Login.RoleID"];
    }
 }
@section scripts
{ 
   <link href="@Url.Content("~/Content/admin/js/jquery.validationEngine/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
   <script src="@Url.Content("~/Content/admin/js/jquery.validationEngine/jquery.validationEngine.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Content/admin/js/jquery.validationEngine/jquery.validationEngine-zh_CN.js")" type="text/javascript"></script>  

   <link href="@Url.Content("~/Content/admin/js/artDialog/skins/blue.css")" rel="stylesheet" type="text/css" />
   <script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")" type="text/javascript"></script>
   <style type="text/css">
    a{text-decoration:none;color:blue}
    a:hover{color:black;}
    </style>

    @if (!roleid.Equals("2"))  //如果是非普通会员，则有权限审核
    {
        <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemonJSJG.js")" type="text/javascript"></script>
    }
    else  //如果是普通会员，则没有权限审核
    {
        <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemonExx.js")" type="text/javascript"></script>
    }
<script type="text/javascript">
    var DataURL = "GetProcess4List";
    var ColumnData = [[
                        { field: 'id', hidden: true },
                        { field: 'requestid', title: '流转流水号', width: 70 },
                        { field: 'publishtitle', title: '发布信息标题', formatter: function (value, row, index) {
                            return "<a href='/Home/SoilDetail?menu=1&id=" + row.id + "' target='_blank'>" + value + "</a>";
                        }, width: 350
                        },
//                        { field: 'soiltypename', title: '土地类型', width: 70 },
//                        { field: 'changetypename', title: '流转类型', width: 70 },
                        { field: 'isapprove', title: '是否审核',
                            formatter: function (value, row, index) {
                                if (Boolean(value) == true)
                                    return '<span class="icon icon-ok">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                                else if (Boolean(value) == false)
                                    return '<span class="icon icon-no">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                            }, width: 70
                        },
                        { field: 'ischarge', title: '是否缴费',
                            formatter: function (value, row, index) {
                                if (Boolean(value) == true)
                                    return '<span class="icon icon-ok">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                                else if (Boolean(value) == false)
                                    return '<span class="icon icon-no">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                            }, width: 70
                        },
                         { field: 'isjsjg', title: '是否结算交割',
                             formatter: function (value, row, index) {
                                 if (Boolean(value) == true)
                                     return '<span class="icon icon-ok">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                                 else if (Boolean(value) == false)
                                     return '<span class="icon icon-no">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                             }, width: 70
                         },
                        { field: 'publisher', title: '受托人', width: 80 },
                        { field: 'publisherphone', title: '受托人电话', width: 80 },
//                        { field: 'recordorder', title: '排序', width: 50 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

    $("#w").validationEngine();

    function JSJG() {
        var row = $('#dg').datagrid('getSelected');
        if (row.isapprove == "1") {  //表明发布的土地信息已被审核
            if (row.ischarge == "1") {  //表明已缴费
                //这里可以进行结算交割的操作了
                submitJSJG();
            }
            else {
                art.dialog({ title: '提示', icon: 'error', time: 4, content: '暂无缴费，无法进行结算交割操作！', padding: 0 });
                return;
            }
        }
        else {
            art.dialog({ title: '提示', icon: 'error', time: 4, content: '该土地信息未被审核，暂无法进行结算交割操作！', padding: 0 });
            return;
        }
    }

    function submitJSJG() {
        var content = "结算交割后则认为该用户的土地将被正式流转，确认后不可撤销，你确定进行结算交割吗？</div>";
        art.dialog({
            icon: 'question',
            content: content,
            ok: function () {
                var row = $('#dg').datagrid('getSelected');
                var requestid = row.requestid;
                var mainid = row.id;
                var jsondata = "{ rid: " + requestid + ", mid:" + mainid + " }";
                $.ajaxWebService("CommitJSJG", jsondata, function (data) {
                    if (data.success) {
                        art.dialog({ title: '提示', icon: 'succeed', time: 4, content: data.message, padding: 0 });
                    }
                    else {
                        art.dialog({ title: '提示', icon: 'error', time: 4, content: data.message, padding: 0 });
                    }
                });
            },
            cancel: true
        });
    }

    //见证书
    function JZS() {
        var row = $('#dg').datagrid('getSelected');
        if (row.isapprove == "1") {  //表明发布的土地信息已被审核
            if (row.ischarge == "1") {  //表明已缴费
                if (row.isapprove == "1") //表明已经结算交割
                {
                    var requestid = row.requestid;
                    var mainid = row.id;
                    window.location.href = "Process_10?rid=" + requestid + "&mid=" + mainid;
                }
                else {
                    art.dialog({ title: '提示', icon: 'error', time: 4, content: '暂未进行结算交割，无法进行出具交易见证书！', padding: 0 });
                    return;
                }
            }
            else {
                art.dialog({ title: '提示', icon: 'error', time: 4, content: '暂无缴费，无法进行出具交易见证书！', padding: 0 });
                return;
            }
        }
        else {
            art.dialog({ title: '提示', icon: 'error', time: 4, content: '该土地信息未被审核，无法进行出具交易见证书！', padding: 0 });
            return;
        }
    }

    $.ajaxWebService = function (url, dataparam, datasuccess) {
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            url: url,
            data: dataparam,
            success: datasuccess,
            error: function (a, b, c) { }
        });
    }
</script>
}

<table id="dg" title="结算交割"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />

