﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    var cookie = new FuNong.Framework.Cookie.CookieWrapper();
    var nv = cookie.GetCookieCollection("FuNong.UserInfo.Login");
    var roleid = string.Empty;
    if (nv != null)
    {
        roleid = nv["FuNong.Login.RoleID"];
    }
 }
@section scripts
{
   <link href="@Url.Content("~/Content/admin/js/jquery.validationEngine/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
   <script src="@Url.Content("~/Content/admin/js/jquery.validationEngine/jquery.validationEngine.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Content/admin/js/jquery.validationEngine/jquery.validationEngine-zh_CN.js")" type="text/javascript"></script>  

   <link href="@Url.Content("~/Content/admin/js/artDialog/skins/blue.css")" rel="stylesheet" type="text/css" />
   <script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")" type="text/javascript"></script>
   <style type="text/css">
    a{text-decoration:none;color:blue}
    a:hover{color:black;}
    </style>

@if (!roleid.Equals("2"))  //如果是非普通会员，则有权限审核
{
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemonCharge.js")" type="text/javascript"></script>
}
else  //如果是普通会员，则没有权限审核
{
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemonExx.js")" type="text/javascript"></script>
}
<script type="text/javascript">
//    var DataURL = "GetChargingListForProcess8";
//    var useridselected = -1;
//    var ColumnData = [[
//                        { field: 'id', hidden: true },
//                        { field: 'requestnameid', title: '出让方姓名',
//                            editor: { type: 'combobox',
//                                options: {
//                                    valueField: 'id',
//                                    textField: 'username',
//                                    url: 'GetALLUserList',
//                                    required: false,
//                                    onSelect: function (record) {
//                                        var row = $("#dg").datagrid('getSelected');
//                                        var rindex = $("#dg").datagrid('getRowIndex', row);
//                                        var ed = $("#dg").datagrid('getEditor', {
//                                            index: rindex,
//                                            field: 'publishmainid'
//                                        });
//                                       
//                                        //绑定下拉列表
//                                        $.bindCombobox("GetPublishMainByUser", "{uid:" + record.id + "}", "id", "publishtitle", $(ed.target)
//                                                , function (row) { return row.publishtitle; }
//                                                , function (record) { });
//                                    }
//                                }
//                            }, width: 100
//                        },
//                        { field: 'publishmainid', title: '流转信息',
//                            formatter: function (value, row, index) {
//                                return "<span style='color:red;'>" + row.publishtitle + "</span>";
//                            },
//                            editor: { type: 'combobox',
//                                options: {
//                                    valueField: 'id',
//                                    textField: 'publishtitle',
//                                    required: true
//                                }
//                            }, width: 120
//                        },
//                        { field: 'chargefee', title: '手续费收取(元)', editor: 'text', width: 100 },
//                        { field: 'recordorder', title: '排序', editor: 'numberbox', width: 50 },
//                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
//                      ]];

//                        var SaveRecords = function () {
//                            endEdit();
//                            var inserted = $('#dg').datagrid('getChanges', "inserted");
//                            var deleted = $('#dg').datagrid('getChanges', "deleted");
//                            var updated = $('#dg').datagrid('getChanges', "updated");
//                            var effectRow = new Object();
//                            if (inserted.length) {
//                                effectRow["inserted"] = JSON.stringify(inserted);
//                            }
//                            if (deleted.length) {
//                                effectRow["deleted"] = JSON.stringify(deleted);
//                            }
//                            if (updated.length) {
//                                effectRow["updated"] = JSON.stringify(updated);
//                            }
//                            $.post("CommitProcess8", effectRow, function (response) {
//                                if (response.success)
//                                    $.messager.show({ title: '审核成功', msg: response.message });
//                                else
//                                    $.messager.show({ title: '审核失败', msg: response.message });

//                                $('#dg').datagrid('reload');
//                            }, "JSON");
//                        }

//                        $.bindCombobox = function (url, dataparam, valueF, textF, stuff, formatterItem, selectItem) {
//                            $.ajaxWebService(url, dataparam, function (data) {
//                                if (data.success) {
//                                    var result = data.data;
//                                    stuff.combobox({
//                                        valueField: valueF,
//                                        textField: textF,
//                                        data: result,
//                                        formatter: formatterItem,
//                                        onSelect: selectItem
//                                    });
//                                }
//                                else {
//                                    alert(data.message);
//                                }
//                            });
//                        }

//                        $.ajaxWebService = function (url, dataparam, datasuccess) {
//                            $.ajax({
//                                type: "POST",
//                                dataType: "json",
//                                contentType: "application/json",
//                                url: url,
//                                data: dataparam,
//                                success: datasuccess,
//                                error: function (a, b, c) { }
//                            });
    //                        }

    var DataURL = "GetProcess4List";
    var ColumnData = [[
                        { field: 'id', hidden: true },
                        { field: 'requestid', title: '流转流水号', width: 70 },
                        { field: 'publishtitle', title: '发布信息标题', formatter: function (value, row, index) {
                            return "<a href='/Home/SoilDetail?menu=1&id=" + row.id + "' target='_blank'>" + value + "</a>";
                        }, width: 350
                        },
                        { field: 'soiltypename', title: '土地类型', width: 70 },
                        { field: 'changetypename', title: '流转类型', width: 70 },
                        { field: 'isapprove', title: '是否审核',
                            formatter: function (value, row, index) {
                                if (Boolean(value) == true)
                                    return '<span class="icon icon-ok">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                                else if (Boolean(value) == false)
                                    return '<span class="icon icon-no">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                            }, width: 70
                        }, 
                        { field: 'ischarge', title: '是否缴费',
                            formatter: function (value, row, index) {
                                if (Boolean(value) == true)
                                    return '<span class="icon icon-ok">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                                else if (Boolean(value) == false)
                                    return '<span class="icon icon-no">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                            }, width: 70
                        },
                        { field: 'publisher', title: '受托人', width: 80 },
                        { field: 'publisherphone', title: '受托人电话', width: 80 },
                        { field: 'recordorder', title: '排序', width: 50 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

                        $("#w").validationEngine();

                        function Charge() {
                            var row = $('#dg').datagrid('getSelected');
                            if (row.isapprove == "1") {
                                $('#w').window('open');
                            }
                            else {
                                art.dialog({ title: '提示', icon: 'error', time: 4, content: '该土地信息未被审核，暂无法进行缴费操作！', padding: 0 });
                                return;
                            }
                        }

                        function check() {
                            var row = $('#dg').datagrid('getSelected');
                            var charge = $("#chargefee").val();
                            if (!parseFloat(charge)) {
                                $("#notify").html("请输入数字类型！");
                                return false;
                            }
                            else {
                                $("#notify").html("");
                                var requestid = row.requestid;
                                var mainid = row.id;
                                var jsondata = "{ rid: " + requestid + ", mid:" + mainid + ", fee:" + charge + " }";
                                $.ajaxWebService("CommitCharge", jsondata, function (data) {
                                    $("#notify").html(data.message);
                                });
                            }
                        }

                        $.ajaxWebService = function (url, dataparam, datasuccess) {
                            $.ajax({
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json",
                                url: url,
                                data: dataparam,
                                success: datasuccess,
                                error: function (a, b, c) { }
                            });
                        }
</script>
}

<table id="dg" title="费用收取"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" /><div id="w" class="easyui-window" title="费用收取" data-options="modal:true,closed:true" style="width:370px;height:200px;padding:10px;">
		<table>
        <tbody>
        <tr>
           <td>缴纳费用：</td>
           <td><input type="text" style="width:200px;height:30px;line-height:30px;" class="validate[required]" id="chargefee"  />&nbsp;&nbsp;元</td>
        </tr>
        <tr>
         <td colspan="2" style="height:50px"><input onclick="check()" type="button" style="height:25px;width:120px;text-align:center;display:block;margin:0 auto;" value="  缴  费  " /></td>
        </tr>
        <tr>
        <td colspan="2" style="text-align:center;color:Red;" id="notify"></td>
        </tr>
        </tbody>
        </table>
	</div>

