﻿@model FuNong.DataContract.ProcessResponse
@{
    ViewBag.Title = "";
    Layout = null;
}
@{
    var soilimgList = Model.soilcertificateimages;
    var soilimgRawList = string.Empty;
    if (string.IsNullOrEmpty(soilimgList))
    {
        soilimgRawList = "<img src='../UploadFile/SoilImages/default.jpg' style='width:300px;height:300px;' alt='' />";
    }
    else
    {
        if (soilimgList.Contains(','))
        {
            string[] imgArray = soilimgList.Split(',');
            imgArray.ToList().ForEach(item =>
            {
                if (!string.IsNullOrEmpty(item))
                {
                    soilimgRawList += "<img src='../Process/" + item + "'  style='width:300px;height:300px;' alt='' />";
                }
            });
        }
        else
        {
            soilimgRawList = "<img src='../Process/" + soilimgList + "'  style='width:400px;height:400px;' alt='' />";
        }
    }

    var idcardimgList = Model.idcardimages;
    var idcardimgRawList = string.Empty;
    if (string.IsNullOrEmpty(idcardimgList))
    {
        idcardimgRawList = "<img src='../UploadFile/SoilImages/default.jpg' style='width:300px;height:300px;' alt='' />";
    }
    else
    {
        if (idcardimgList.Contains(','))
        {
            string[] imgArray = idcardimgList.Split(',');
            imgArray.ToList().ForEach(item =>
            {
                if (!string.IsNullOrEmpty(item))
                {
                    idcardimgRawList += "<img src='../Process/" + item + "'  style='width:300px;height:300px;' alt='' />";
                }
            });
        }
        else
        {
            idcardimgRawList = "<img src='../Process/" + idcardimgList + "'  style='width:300px;height:300px;' alt='' />";
        }
    }   
 }
<div style="border:1px solid #cccccc;width:100%;height:100%;float:left;">
  <table  id="mTable" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr><td colspan="4" style="background-color:#FFFEE6;color:#8F5700;line-height:30px; text-align:left;padding-left:5px;">
        <img src="../../Content/front/images/tip.png" />&nbsp;&nbsp;以下为您要查看的详细信息！</td></tr>
        <tr>
        <td style="width:150px;text-align:right;height:25px;background-color:#D7EEFE;">委托方姓名：</td>
        <td style="width:350px;">&nbsp;@Model.clientname</td>
         <td style="width:150px;text-align:right;background-color:#D7EEFE;">受托方公司名称：</td>
        <td >&nbsp;@Model.servername</td>
        </tr>
        <tr>
        <td style="text-align:right;height:25px;background-color:#D7EEFE;">委托方身份证号：</td>
        <td >&nbsp;@Model.clientidcard</td>
         <td style="text-align:right;background-color:#D7EEFE;">受托方法人身份证号</td>
        <td>&nbsp;@Model.serveridcard</td>
        </tr>
        <tr>
        <td style="background-color:#D7EEFE;text-align:right;height:25px;">委托方电话：</td>
        <td  >&nbsp;@Model.clientphone</td>
         <td style="text-align:right;background-color:#D7EEFE;">受托方联系电话：</td>
        <td  >&nbsp;@Model.serverphone</td>
        </tr><tr>
        <td style="text-align:right;height:25px;background-color:#D7EEFE;">委托方具体住址：</td>
        <td  >&nbsp;@Model.clientaddress</td>
         <td style="text-align:right;background-color:#D7EEFE;">受托方具体地址：</td>
        <td >&nbsp;@Model.serverlocation</td>
        </tr>
          <tr>
        <td style="text-align:right;height:25px;background-color:#D7EEFE;border-top:1px solid #cccccc;">委托申请流水号：</td>
        <td colspan="3" style="border-top:1px solid #cccccc;">&nbsp;@Model.id</td>
        </tr>
        <tr>
        <td style="text-align:right;height:25px;background-color:#D7EEFE;">委托申请参考事宜：</td>
        <td colspan="3" >&nbsp;@Model.requestcontent.Replace('$',' ')</td>
        </tr>
        <tr>
        <td style="text-align:right;height:25px;background-color:#D7EEFE; vertical-align:top;">委托方身份证复印件：</td>
        <td style="overflow:scroll;height:320px;display:block;">
         @Html.Raw(idcardimgRawList)
        </td>
        <td style="text-align:right;background-color:#D7EEFE; vertical-align:top;">委托方土地权证复印件：</td>
        <td style="overflow:scroll;height:320px;display:block;">
        @Html.Raw(soilimgRawList)
        </td>
        </tr>
        </table>
</div>