﻿@model FuNong.UserInterface.Models.Process4Model
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts
{
    <link href="@Url.Content("~/Content/admin/js/baidueditor/themes/iframe.css")"                   rel="stylesheet"  type="text/css" />
    <link href="@Url.Content("~/Content/admin/js/baidueditor/themes/default/css/ueditor.css")"      rel="stylesheet" type="text/css" />
    
    <script src="@Url.Content("~/Content/admin/js/ajaxupload/ajaxupload.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Content/admin/js/baidueditor/ueditor.config.js")"     type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/baidueditor/ueditor.all.js")"        type="text/javascript"></script>
    
    <link href="@Url.Content("~/Content/admin/js/jquery.validationEngine/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/jquery.validationEngine/jquery.validationEngine.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jquery.validationEngine/jquery.validationEngine-zh_CN.js")" type="text/javascript"></script>  

    <link href="@Url.Content("~/Content/admin/js/artDialog/skins/blue.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")" type="text/javascript"></script>

    <style type="text/css">
    .btnapprove{margin-left:50px;margin-top:10px;cursor:pointer;width:188px;height:33px;line-height:33px;color:white;font-weight:bold;background:url(@Url.Content("~/Content/admin/images/btnapprove.png")) no-repeat;border:none;}
    </style>

     <script type="text/javascript">
        $(function () {

        //验证
        $("#form0").validationEngine();

        //图片上传相关配置
        var oBtn    = $("#unloadPic");
	    var oShow   = $("#uploadedName");
	    var oRemind = $("#errorRemind");	
	    new AjaxUpload(oBtn,{
		    action:"SoilImagesUpload",
		    name:"upload",
		    onSubmit:function(file,ext){
			    if(ext && /^(jpg|jpeg|png|gif)$/.test(ext)){
				    oBtn.val("正在上传…");
				    oBtn.css("disabled","disabled");
			    }else{	
				    oRemind.css("color","#ff3300");
				    oRemind.html("不支持非图片格式！");
				    return false;
			    }
		    },
		    onComplete:function(file,response){
			    oBtn.css("disabled","");
			    oBtn.val("再上传一张图片");
			    oRemind.html("");
			    var newChild =  document.createElement("li");
			    newChild.innerHTML = file;
			    oShow.append(newChild);

                var temp = response.replace('<pre style="word-wrap: break-word; white-space: pre-wrap;">','').replace('</pre>','');
                var data = eval('['+temp+']');

                debugger;

                var dataex = data[0];

                if(dataex.success)
                {
                   var path = dataex.path;
                   var existImgList = $("#indeximg").val();
                   existImgList = existImgList+","+path;
                   $("#indeximg").val(existImgList);
                }
                else
                     oRemind.html(dataex.message);
		    }
	    });

        
        //百度编辑器配置
        var editorurl = "../Content/admin/js/baidueditor/";
        var iframecssurl = "../Content/admin/js/baidueditor/themes/iframe.css";
        var editor = new baidu.editor.ui.Editor({
            UEDITOR_HOME_URL:editorurl,                //配置编辑器路径
            iframeCssUrl:iframecssurl,   //样式路径
            initialContent: "",                                                             //初始化编辑器内容
            autoHeightEnabled: true,                                                            //高度自动增长
            minFrameHeight:300                                                                  //最小高度
        });
        editor.render('editor');

        //拉取土地类型
        $.bindCombobox("GetSoilTypeList","{parentid:0}","id","typename",$("#soilTypeParent")
                    ,function(row){
                                    var s = '<span style="font-weight:bold">' + row.typename + '</span><br/>' +'<span style="color:#888">' + row.typenote + '</span>';
                                    return s;   
                                    }
                    ,function(record){
                                            var childid = record.id;
                                            $.bindCombobox("GetSoilTypeList","{parentid:"+childid+"}","id","typename",$("#soilTypeChild")
                                                ,function(row){
                                                                var s = '<span style="font-weight:bold">' + row.typename + '</span><br/>' +'<span style="color:#888">' + row.typenote + '</span>';
                                                                return s;   
                                                                }
                                                ,function(record){}
                                                );
                                    }
                    );

          //拉取流转方式
        $.bindCombobox("GetChangeTypeList","{}","id","changetitle",$("#soilChangeType")
                    ,function(row){
                                    var s = '<span style="font-weight:bold">' + row.changetitle + '</span><br/>' +'<span style="color:#888">' + row.changenote + '</span>';
                                    return s;   
                                    }
                    ,function(record){}
                    );
        
        //获取省市县级联数据
        $.bindCombobox("GetLocationList","{provinceid:-1,cityid:-1}","id","name",$("#province")
                    ,function(row){return row.name;}
                    ,function(record){
                         var provinceid = record.id;
                           $.bindCombobox("GetLocationList","{provinceid:"+provinceid+",cityid:-1}","id","name",$("#city")
                                            ,function(row){return row.name;}
                                            ,function(recordex){
                                                var cityid = recordex.id;
                                                    $.bindCombobox("GetLocationList","{provinceid:-1,cityid:"+cityid+"}","id","name",$("#district")
                                                                    ,function(row){return row.name;}
                                                                    ,function(recordex){});
                                            });
                    }
                    );

        //获取流转年限
        $.bindCombobox("GetChangeYears","{}","id","value",$("#spareChangeYear")
                    ,function(row){return row.value;}
                    ,function(record){}
                    );
        $.bindCombobox("GetChangeYears","{}","id","value",$("#totalChangeYear")
                    ,function(row){return row.value;}
                    ,function(record){}
                    );

        //获取地上物
         $.bindMultipleCombobox("GetSoilAround","{flag:'SoilGround'}","id","aroundattribute",$("#soilground")
                    ,function(row){return row.aroundattribute;}
                    ,function(record){}
                    );

          $.bindMultipleCombobox("GetSoilAround","{flag:'EarthType'}","id","aroundattribute",$("#earthtype")
                    ,function(row){return row.aroundattribute;}
                    ,function(record){}
                    );
         
          $.bindMultipleCombobox("GetSoilAround","{flag:'Water'}","id","aroundattribute",$("#water")
                    ,function(row){return row.aroundattribute;}
                    ,function(record){}
                    );
          $.bindMultipleCombobox("GetSoilAround","{flag:'Around'}","id","aroundattribute",$("#around")
                    ,function(row){return row.aroundattribute;}
                    ,function(record){}
                    );
          $.bindCombobox("GetServedRequestList", "{}", "id", "id", $("#requestid")
                    , function (row) {
                        var s = '<span style="font-weight:bold">委托方：' + row.clientname + '</span><br/><span style="font-weight:bold">受托方：' + row.servername + '</span><br/>' + '<span style="color:#888">参考内容：' + row.requestcontent + '</span>';
                        return s;
                    }
                    , function (record) { }
                    );
        });

        function CheckSubmit(){

            var soilgroundlist = new Array();
            var earthtypelist = new Array();
            var waterlist = new Array();
            var aroundlist = new Array();
        
            $("input[name='soilground']").each(function(){
                var val = $(this).val();
                soilgroundlist.push(val);
            });
             $("input[name='earthtype']").each(function(){
                var val = $(this).val();
                earthtypelist.push(val);
            });
             $("input[name='water']").each(function(){
                var val = $(this).val();
                waterlist.push(val);
            });
             $("input[name='around']").each(function(){
                var val = $(this).val();
                aroundlist.push(val);
            });

            $("input[name='soilground']").val(soilgroundlist);
            $("input[name='earthtype']").val(earthtypelist);
            $("input[name='water']").val(waterlist);
            $("input[name='around']").val(aroundlist);

            $("#addnew").attr("disable","disable");

            return true;
        }

        $.bindCombobox = function(url,dataparam,valueF,textF,stuff,formatterItem,selectItem){
             $.ajaxWebService(url,dataparam,function(data){
                if(data.success)
                {
                        var result = data.data;
                        stuff.combobox({
                                        valueField:valueF,
                                        textField:textF,
                                        data:result,
                                        formatter: formatterItem,
                                        onSelect:selectItem
                                      });
                }
                else{
                    alert(data.message);
                }
             });
         }
         
         $.bindMultipleCombobox = function(url,dataparam,valueF,textF,stuff,formatterItem,selectItem){
             $.ajaxWebService(url,dataparam,function(data){
                if(data.success)
                {
                        var result = data.data;
                        stuff.combobox({
                                        valueField:valueF,
                                        textField:textF,
                                        multiple:true,
                                        multiline:true,
                                        data:result,
                                        formatter: formatterItem,
                                        onSelect:selectItem
                                      });
                }
                else{
                    alert(data.message);
                }
             });
        }

        $.ajaxWebService = function(url, dataparam, datasuccess) {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: url,
                data: dataparam,
                success: datasuccess,
                error:function(a,b,c){}
            });
        }
     </script>
}
@{
    string scriptwarning = string.Empty;
    string message = string.Empty;
    if(Model!=null)
    {
        message = Model.message;
        if(!string.IsNullOrEmpty(message))
        {
            if (Model.success)
            {
                scriptwarning = "<script type='text/javascript'>art.dialog({ title: '提示', icon: 'succeed', time: 4, content:'" + message + "', padding: 0 });</script>";
            }
            else
            {
                scriptwarning = "<script type='text/javascript'>art.dialog({ title: '提示', icon: 'error', time: 4, content:'" + message + "', padding: 0 });</script>";
            }
        }
    }
 }
<div  style="width:800px;height:auto;text-align:center;margin:0 auto;font-size:13px;" class="print_show">
    <div style="width:100%;height:40px;line-height:40px;border-bottom:5px solid #0092DC;font-size:15px;font-weight:bold;">发布供应信息</div>
    <form id="form0" method="post" action="Process_4" onsubmit="CheckSubmit();">
    @Html.Raw(scriptwarning)
    <table cellpadding="0" cellspacing="0" style="width:800px;height:auto;margin-top:20px;border:1px solid #CCCCCC">
    <thead>
    <th colspan="2" style="border-bottom:1px solid #CCCCCC;text-align:left;line-height:30px;height:30px;color:#0092DC">&nbsp;&nbsp;土地基本信息</th>
    </thead>
    <tbody>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">选择委托申请<span style="color:red;">*</span>：</td>
    <td style="text-align:left;">
      <input id="requestid" class="easyui-combobox" type="text" name="requestid" data-options="required:true" style="width:500px;"></input>
    </td>
    </tr>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">土地类型<span style="color:red;">*</span>：</td>
    <td style="text-align:left;">
      <input id="soilTypeParent" class="easyui-combobox" type="text" name="soiltypeidParent" data-options="required:true"></input>
      <input id="soilTypeChild" class="easyui-combobox" type="text" name="soiltypeid" data-options="required:true"></input>
    </td>
    </tr>
    <tr>
     <td style="width:150px;height:30px;text-align:right;">流转方式<span style="color:red;">*</span>：</td>
     <td style="text-align:left;">
        <input id="soilChangeType" class="easyui-combobox" type="text" name="changetypeid" data-options="required:true"></input>
     </td>
    </tr>
     <tr>
     <td style="width:150px;height:30px;text-align:right;">所在地区<span style="color:red;">*</span>：</td>
     <td style="text-align:left;">
     <input id="province" class="easyui-combobox" type="text" name="provinceid" data-options="required:true"></input>
     <input id="city" class="easyui-combobox" type="text" name="cityid" data-options="required:true"></input>
     <input id="district" class="easyui-combobox" type="text" name="districtid" data-options="required:true"></input>
     </td>
    </tr>
      <tr>
     <td style="width:150px;height:30px;text-align:right;">位置与四至<span style="color:red;">*</span>：</td>
     <td style="text-align:left;">
     <textarea cols="4" rows="4" style="width:526px;height:50px;border:1px solid #D3D3D3" name="locationdetail" class="validate[required]"></textarea>
     </td>
    </tr>
     <tr>
     <td style="width:150px;height:30px;text-align:right;">剩余流转年限<span style="color:red;">*</span>：</td>
     <td style="text-align:left;">
        <input id="spareChangeYear" class="easyui-combobox" type="text" name="sparechangeyear" data-options="required:true"></input>
     </td>
    </tr>
     <tr>
     <td style="width:150px;height:30px;text-align:right;">可流转年限<span style="color:red;">*</span>：</td>
     <td style="text-align:left;">
        <input id="totalChangeYear" class="easyui-combobox" type="text" name="canchangeyear" data-options="required:true"></input>
     </td>
    </tr>
@*     <tr>
     <td style="width:150px;height:30px;text-align:right;">土地权证：</td>
     <td style="text-align:left;">
       
     </td>
    </tr>*@
      <tr>
     <td style="width:150px;height:30px;text-align:right;">土地面积<span style="color:red;">*</span>：</td>
     <td style="text-align:left;">
     <input type="text" style="border:1px solid #D3D3D3;height:20px;" name="soilarea"  class="validate[required,custom[number]]" /> 亩
     </td>
    </tr>
      <tr>
     <td style="width:150px;height:30px;text-align:right;">转让费：</td>
     <td style="text-align:left;">
     <input type="text" style="border:1px solid #D3D3D3;height:20px;" name="chargefee" class="validate[custom[number]]" /> 万元（不填写则表示面议）
     </td>
    </tr>
      <tr>
     <td style="width:150px;height:30px;text-align:right;">信息标题<span style="color:red;">*</span>：</td>
     <td style="text-align:left;">
     <input type="text" style="border:1px solid #D3D3D3;width:526px;height:20px;" name="publishtitle"  class="validate[required]" />
     </td>
    </tr>
    </tbody>
     <thead>
    <th colspan="2" style="border-top:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;text-align:left;line-height:30px;height:30px;color:#0092DC">&nbsp;&nbsp;周边配套描述</th>
    </thead>
    <tbody>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">地上设施：</td>
    <td style="text-align:left;">
     <input id="soilground" class="easyui-combobox" type="text" style="width:400px;" name="soilground"/>
    </td>
    </tr>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">土壤类型：</td>
    <td style="text-align:left;">
    <input id="earthtype" class="easyui-combobox" type="text" style="width:400px;" name="earthtype"/>
    </td>
    </tr>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">周边水源：</td>
    <td style="text-align:left;">
    <input id="water" class="easyui-combobox" type="text" style="width:400px;" name="water"/>
    </td>
    </tr>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">周边配套：</td>
    <td style="text-align:left;">
    <input id="around" class="easyui-combobox" type="text"  style="width:400px;" name="around"/>
    </td>
    </tr>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">上传土地图片：</td>
    <td style="text-align:left;">
        <p id="errorRemind"></p>
        <input id="unloadPic" type="button" value="上传文件" />
        <ol id="uploadedName"></ol>
        <input type="hidden" id="indeximg" name="indeximg" />
    </td>
    </tr>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">详细描述：</td>
    <td style="text-align:left;">
    <textarea id="editor" name="description" style="width:100%;height:400px;"></textarea>
    </td>
    </tr>
    </tbody>
    <thead>
    <th colspan="2" style="border-top:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;text-align:left;line-height:30px;height:30px;color:#0092DC">&nbsp;&nbsp;个人联系方式</th>
    </thead>
    <tbody>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">联系人姓名<span style="color:red;">*</span>：</td>
    <td style="text-align:left;">
       <input type="text" style="border:1px solid #D3D3D3;height:20px;" name="publisher"  class="validate[required]" />
    </td>
    </tr>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">联系人电话<span style="color:red;">*</span>：</td>
    <td style="text-align:left;">
       <input type="text" style="border:1px solid #D3D3D3;height:20px;" name="publisherphone"  class="validate[required,custom[phone]]" />
    </td>
    </tr>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">联系人QQ：</td>
    <td style="text-align:left;">
       <input type="text" style="border:1px solid #D3D3D3;height:20px;" name="publisherqq" class="validate[custom[integer]]" />
    </td>
    </tr>
    <tr>
    <td style="width:150px;height:30px;text-align:right;">联系人邮箱：</td>
    <td style="text-align:left;">
       <input type="text" style="border:1px solid #D3D3D3;height:20px;" name="publishermail" class="validate[custom[email]]" />
    </td>
    </tr>
   
    </tbody>
    </table>
    <button class="btnapprove" id="addnew" >提交信息</button>
    </form>
</div>

