﻿@model FuNong.UserInterface.Models.JZSEntity
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@section scripts
{
    <script src="@Url.Content("~/Content/admin/js/jqprint/jquery.jqprint-0.3.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/admin/js/artDialog/skins/blue.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")" type="text/javascript"></script>

    <style type="text/css">
       @* table{width:700px;border-left:1px solid black;border-top:1px solid black;}
        table thead tr th{border-right:1px solid black;border-bottom:1px solid black;height:30px;line-height:30px;}
        table tbody tr td{border-right:1px solid black;border-bottom:1px solid black;}*@
        
        .smalltxt{width:50px;border:none;border-bottom:1px solid black;background-color:White; text-align:center;}
        .shorttxt{width:100px;border:none;border-bottom:1px solid black;background-color:White; text-align:center;}
        .midtxt {width:250px;border:none;border-bottom:1px solid black;background-color:White; text-align:center;}
        .largetxt{width:500px;border:none;border-bottom:1px solid black;background-color:White;}
        
        .editable{cursor:text;background-color:white; font-size:13px;width:90%;height:90%;border:none;cursor:text;*overflow-y:hidden;*overflow-x:hidden;overflow-y:hidden;overflow-x:hidden;} 
        
        .btnapprove{margin-left:50px;width:188px;height:33px;line-height:33px;color:white;font-weight:bold;background:url(@Url.Content("~/Content/admin/images/btnapprove.png")) no-repeat;border:none;}
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#printform").click(function () {
                $(".print_hidden").css("display", "none");
                $("html").jqprint();
                $(".print_hidden").css("display", "block");
            });
        });

        function checkSubmit() {
            $("#form0").submit();
        }
    </script>

}
@{
    string scriptwarning = string.Empty;
    string message = string.Empty;
    if(Model!=null)
    {
        message = Model.Message;
        if(!string.IsNullOrEmpty(message))
        {
            if (Model.Success)
            {
                scriptwarning = "<script type='text/javascript'>art.dialog({ title: '提示', icon: 'succeed', time: 4, content:'" + message + "', padding: 0 });</script>";
            }
            else
            {
                scriptwarning = "<script type='text/javascript'>art.dialog({ title: '提示', icon: 'error', time: 4, content:'" + message + "', padding: 0 });</script>";
            }
        }
    }
 }

    @Html.Raw(scriptwarning)
<div style="width:700px;height:100%;text-align:center;margin:0 auto;text-indent:2em;font-size:15px;font-family: 微软雅黑;line-height:2;" class="print_show">
    <div style="font-weight:bold;font-size:24px;width:100%;float:left;">
        农村土地承包经营权流转交易见证书
    </div>
    <div style="font-weight:normal;font-size:14px;width:100%;float:left;text-align:left;margin-top:10px;">
        兹证明: 委托方<input type="text" class="midtxt" name="field1" value="@Model.clientname" />，受托方<input type="text" class="midtxt" name="field2" value="@Model.servername" />，意向方<input type="text" class="midtxt" name="field3" value="@Model.requestname" />所签订的关于《农村土地承包经营权流转委托书》中的内容于
        <input type="text" class="smalltxt" name="field5" value="@DateTime.Now.Year" />年<input type="text" class="smalltxt" name="field6" value="@DateTime.Now.Month"/>月<input type="text" class="smalltxt" name="field7" value="@DateTime.Now.Day"/>日
        正式生效。
         <br />
            <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经查，上述三方当事人签订的行为合法，在见证书上各方当事人的签章，指纹，盖章均属实。
            <br />
                特此见证
            <br />
            <br />
           委托方签章： 
            <br />
            <br />   
           受托方签章：
            <br />
            <br />
           意向方签章：


    </div>
    <br />
    <br />
    @*<input type="hidden" name="hidetemplate" id="hidetemplate" />*@
    <div style="width:700px;height:30px;float:left;text-align:center;margin-top:10px;" class="print_hidden">
     @*   <button class="btnapprove" id="addnew" onclick="checkSubmit();">提交表单</button>*@
        <button class="btnapprove" id="printform">打印表格</button>
    </div>
</div>
