﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts
{
    <style type="text/css">
    a{text-decoration:none;color:blue}
    a:hover{color:black;}
    </style>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/plugins/datagrid-detailview.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Content/admin/js/jqueryeasyui/TreeDataGridEx.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var DataURL = "GetProcess4List";
        var DetailURL = "'Process_5_Frame?id='+row.id";
        DetailHeight = 300;

        var ColumnData = [[
                        { field: 'id', hidden: true },
                        { field: 'requestid', title: '流转流水号', width: 70 },
                        { field: 'publishtitle', title: '发布信息标题', formatter: function (value, row, index) {
                            return "<a href='/Home/SoilDetail?menu=1&id=" + row.id + "' target='_blank'>" + value + "</a>";
                        }, width: 350
                        },
                        { field: 'soiltypename', title: '土地类型', width: 70 },
                        { field: 'changetypename', title: '流转类型', width: 70 },
                        { field: 'isapprove', title: '是否审核',
                            formatter: function (value, row, index) {
                                if (Boolean(value) == true)
                                    return '<span class="icon icon-ok">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                                else if (Boolean(value) == false)
                                    return '<span class="icon icon-no">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                            }, width: 70
                        },
                        { field: 'publisher', title: '受托人', width: 80 },
                        { field: 'publisherphone', title: '受托人电话', width: 80 },
                        { field: 'recordorder', title: '排序', width: 50 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];
        </script>
}

<table id="dg" title="征集意向受让方(点击链接可查看具体信息)"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />