﻿@model FuNong.UserInterface.Models.Process2Model
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section scripts
{
    <script src="@Url.Content("~/Content/admin/js/ajaxupload/ajaxupload.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/admin/js/artDialog/skins/blue.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/admin/js/artDialog/jquery.artDialog.js")" type="text/javascript"></script>

    <style type="text/css">
        
        #formtable{width:500px;float:left;margin-top:40px;font-family: 微软雅黑;}
        #formtable thead tr th{height:70px;line-height:70px;font-size:24px;line-height:2;}
        #formtable tbody tr td{height:40px;}
        
        .smalltxt{width:50px;border:none;border-bottom:1px solid black;background-color:White; text-align:center;}
        .shorttxt{width:100px;border:none;border-bottom:1px solid black;background-color:White; text-align:center;}
        .midtxt {width:250px;border:none;border-bottom:1px solid black;background-color:White;}
        .largetxt{width:500px;border:none;border-bottom:1px solid black;background-color:White;}
        
        .editable{cursor:text;background-color:white; font-size:13px;width:90%;height:90%;border:none;cursor:text;*overflow-y:hidden;*overflow-x:hidden;overflow-y:hidden;overflow-x:hidden;} 
        
        .statusbeauty{display:block;height:20px;line-height:20px;margin-top:-10px;width:100%;border-bottom:1px dashed #DDDDDD;}
        
        .btnapprove{margin-left:50px;width:188px;height:33px;line-height:33px;color:white;font-weight:bold;background:url(@Url.Content("~/Content/admin/images/btnapprove.png")) no-repeat;border:none;}
    </style>
    <script type="text/javascript">
        $(function () {

            $.imgUpload($("#unloadPic"), $("#uploadedName"), $("#errorRemind"), $("#indeximg"));

            $.imgUpload($("#unloadPic1"), $("#uploadedName1"), $("#errorRemind1"), $("#indeximg1"));

            $.bindCombobox("GetUnServedRequestList", "{}", "id", "id", $("#requestid")
                    , function (row) {
                        var s = '<span style="font-weight:bold">委托方：' + row.clientname + '</span><br/><span style="font-weight:bold">受托方：' + row.servername + '</span><br/>' + '<span style="color:#888">参考内容：' + row.requestcontent + '</span>';
                        return s;
                    }
                    , function (record) { }
                    );

        });

        $.imgUpload = function (elemntButton,elementName,elementError,elementImgs) {
            //图片上传相关配置
            //var oBtn = $("#unloadPic");
            //var oShow = $("#uploadedName");
            //var oRemind = $("#errorRemind");
            var oBtn = elemntButton;
            var oShow = elementName;
            var oRemind = elementError;
            new AjaxUpload(oBtn, {
                action: "SoilImagesUpload",
                name: "upload",
                onSubmit: function (file, ext) {
                    if (ext && /^(jpg|jpeg|png|gif)$/.test(ext)) {
                        oBtn.val("正在上传…");
                        oBtn.css("disabled", "disabled");
                    } else {
                        oRemind.css("color", "#ff3300");
                        oRemind.html("不支持非图片格式！");
                        return false;
                    }
                },
                onComplete: function (file, response) {
                    oBtn.css("disabled", "");
                    oBtn.val("再上传一张图片");
                    oRemind.html("");
                    var newChild = document.createElement("li");
                    newChild.innerHTML = file;
                    oShow.append(newChild);

                    var temp = response.replace('<pre style="word-wrap: break-word; white-space: pre-wrap;">', '').replace('</pre>', '');
                    var data = eval('[' + temp + ']');
                    var dataex = data[0];

                    if (dataex.success) {
                        var path = dataex.path;
                        var existImgList = elementImgs.val();
                        existImgList = existImgList + "," + path;
                        elementImgs.val(existImgList);
                    }
                    else
                        oRemind.html(dataex.message);
                }
            });   
        }

        $.bindCombobox = function (url, dataparam, valueF, textF, stuff, formatterItem, selectItem) {
            $.ajaxWebService(url, dataparam, function (data) {
                if (data.success) {
                    var result = data.data;
                    stuff.combobox({
                        valueField: valueF,
                        textField: textF,
                        data: result,
                        formatter: formatterItem,
                        onSelect: selectItem
                    });
                }
                else {
                    alert(data.message);
                }
            });
        }
        $.ajaxWebService = function (url, dataparam, datasuccess) {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: url,
                data: dataparam,
                success: datasuccess,
                error: function (a, b, c) { }
            });
        }

    </script>

}
@{
    string scriptwarning = string.Empty;
    string message = string.Empty;
    if(Model!=null)
    {
        message = Model.message;
        if(!string.IsNullOrEmpty(message))
        {
            if(Model.success)
            {
                scriptwarning = "<script type='text/javascript'>art.dialog({ title: '提示', icon: 'succeed', time: 4, content:'" + message + "', padding: 0 });</script>";
            }
            else
            {
                scriptwarning = "<script type='text/javascript'>art.dialog({ title: '提示', icon: 'error', time: 4, content:'" + message + "', padding: 0 });</script>";
            }
        }
    }
 }
 <form action="Process_2" method="post" id="form0">
   @Html.Raw(scriptwarning)
<div  style="width:700px;height:500px;margin:0 auto;">
    <table cellpadding="0" cellspacing="0" id="formtable">
        <thead>
            <th colspan="3">提交形式审查所需信息</th>
        </thead>
        <tbody>
             <tr>
             <td style="text-align:right;width:200px;">请选择已提交的委托申请:</td>
             <td colspan="2" style="padding-left:5px;"><input id="requestid" class="easyui-combobox" type="text" name="requestid" data-options="required:true" style="width:300px;"/></td>
             </tr>
             <tr>
                <td style="text-align:right;width:200px;">上传身份证正反面复印件:</td>
                <td colspan="2">
                    <div style="float:left;">
                        <p id="errorRemind"></p>
                        <input id="unloadPic" type="button" value="上传文件" style="width:150px;height:30px;margin-left:5px;" />
                        <ol id="uploadedName"></ol>
                        <input type="hidden" id="indeximg" name="indeximg"  />
                    </div>
                </td>
             </tr>
             <tr>
                <td style="text-align:right;">上传土地权证复印件:</td>
                <td colspan="2" style="text-align:left;">
                    <div style="float:left;">
                        <p id="errorRemind1"></p>
                        <input id="unloadPic1" type="button" value="上传文件" style="width:150px;height:30px;margin-left:5px;" />
                        <ol id="uploadedName1"></ol>
                        <input type="hidden" id="indeximg1" name="indeximg1" />
                    </div>
                </td>
            </tr>
            <tr><td colspan="3" style="text-align:center;"><button class="btnapprove" id="addnew" >提交审核</button></td></tr> 
        </tbody>
    </table>
</div>
</form>