﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    var cookie = new FuNong.Framework.Cookie.CookieWrapper();
    var nv = cookie.GetCookieCollection("FuNong.UserInfo.Login");
    var roleid = string.Empty;
    if (nv != null)
    {
        roleid = nv["FuNong.Login.RoleID"];
    }
 }

@section scripts{
<script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemonModify.js")" type="text/javascript"></script>
<style type="text/css">
  body { padding:0; margin:0; font:normal 18px/160% "MENKSOF0"; color:#000000;text-align:left; }
    input { padding:0; margin:0; font:normal 13px/160% "MENKSOF0"; color:#000000;text-align:left;}
    @@font-face {
        font-family: MENKSOF0;
	    font-style:  normal;
        font-weight: normal;
        src:url("../../UploadFile/Menksoft2007.woff") format("woff");
    }
</style>
<script type="text/javascript">
    var DataURL = "GetNewsList";
    var ColumnData = [[
                        { field: 'id', hidden: true },
                        { field: 'typename', title: '新闻类型', width: 50 },
                        { field: 'newstitle', title: '新闻标题', formatter: function (value, row, index) {
                            return "<a style='text-decoration:none;' target='_blank' href='../../home/NewsDetail?menu=2&id=" + row.id + "'>" + row.newstitle + "</a>";
                        }, width: 350
                        },
                        //{ field: 'isapprove', title: '是否通过审核',
                        //    formatter: function (value, row, index) {
                        //        if (Boolean(value) == true)
                        //            return '<span class="icon icon-ok" style="height:16px;display:block;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                        //        else if (Boolean(value) == false)
                        //            return '<span class="icon icon-cancel" style="height:16px;display:block;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                        //    }, width: 60
                        //},
                        { field: 'todaytop', title: '是否今日头条',
                            formatter: function (value, row, index) {
                                if (Boolean(value) == true)
                                    return '<span class="icon icon-ok" style="height:16px;display:block;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                                else if (Boolean(value) == false)
                                    return '<span class="icon icon-cancel" style="height:16px;display:block;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                            }, width: 60
                        },
                        { field: 'todayrecommand', title: '是否今日推荐',
                            formatter: function (value, row, index) {
                                if (Boolean(value) == true)
                                    return '<span class="icon icon-ok" style="height:16px;display:block;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                                else if (Boolean(value) == false)
                                    return '<span class="icon icon-cancel" style="height:16px;display:block;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                            }, width: 60
                        },
                        { field: 'todayscroll', title: '是否滚动新闻',
                            formatter: function (value, row, index) {
                                if (Boolean(value) == true)
                                    return '<span class="icon icon-ok" style="height:16px;display:block;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                                else if (Boolean(value) == false)
                                    return '<span class="icon icon-cancel" style="height:16px;display:block;">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                            }, width: 60
                        },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

                        var UpdateRecords = function () {
                            var row = $('#dg').datagrid('getSelections');
                            if (row == "" || row == undefined) {
                                alert('请选择一条数据进行编辑！');
                                return;
                            }
                            else {
                                row.forEach(function (rowData) {
                                    window.location.href = "../../news/NewsEditor?id=" + rowData.id;
                                });
                            }
                        }

                        var SaveRecords = function () {
                            endEdit();
                            var inserted = $('#dg').datagrid('getChanges', "inserted");
                            var deleted = $('#dg').datagrid('getChanges', "deleted");
                            var updated = $('#dg').datagrid('getChanges', "updated");
                            var effectRow = new Object();
                            if (inserted.length) {
                                effectRow["inserted"] = JSON.stringify(inserted);
                            }
                            if (deleted.length) {
                                effectRow["deleted"] = JSON.stringify(deleted);
                            }
                            if (updated.length) {
                                effectRow["updated"] = JSON.stringify(updated);
                            }
                            $.post("CommitNews", effectRow, function (response) {
                                if (response.success)
                                    $.messager.show({ title: '审核成功', msg: response.message });
                                else
                                    $.messager.show({ title: '审核失败', msg: response.message });

                                $('#dg').datagrid('reload');
                            }, "JSON");
                        }
</script>
}
<table id="dg" ></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />