﻿@{
    ViewBag.Title = "物联网云平台,让您的沟通更有效率";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@section scripts{
<script src="@Url.Content("~/Content/admin/js/jqueryeasyui/DataGridDaemon.js")" type="text/javascript"></script>
<script type="text/javascript">
    var DataURL = "GetNewsTypeAndSoilTypeList";
    var ColumnData = [[
                        { field: 'ck', checkbox: true },
                        { field: 'id', hidden: true },
                        { field: 'newstypeid', title: '资讯类别',
                            formatter: function (value, row, index) {
                                return row.newstypename;
                            },
                            editor: { type: 'combobox',
                                options: {
                                    valueField: 'id',
                                    textField: 'typename',
                                    url: 'GetNewsTypeAndSoilType?flag=0',
                                    required: true
                                }
                            }, width: 120
                        },
                          { field: 'soiltypeid', title: '土地类别',
                              formatter: function (value, row, index) {
                                  return row.soiltypename;
                              },
                              editor: { type: 'combobox',
                                  options: {
                                      valueField: 'id',
                                      textField: 'typename',
                                      url: 'GetNewsTypeAndSoilType?flag=1',
                                      required: true
                                  }
                              }, width: 120
                          },
                        { field: 'recordorder', title: '排序', editor: 'numberbox', width: 50 },
                        { field: 'updatetime', title: '更新时间', formatter: formatDateTimeJSON, width: 100 }
                      ]];

    var SaveRecords = function () {
        //只有先endedit之后，值才会传到后台。
        endEdit();
        var inserted = $('#dg').datagrid('getChanges', "inserted");
        var deleted = $('#dg').datagrid('getChanges', "deleted");
        var updated = $('#dg').datagrid('getChanges', "updated");
        var effectRow = new Object();
        if (inserted.length) {
            effectRow["inserted"] = JSON.stringify(inserted);
        }
        if (deleted.length) {
            effectRow["deleted"] = JSON.stringify(deleted);
        }
        if (updated.length) {
            effectRow["updated"] = JSON.stringify(updated);
        }
        $.post("CommitNewsSoil", effectRow, function (response) {
            if (response.success)
                $.messager.show({ title: '操作成功', msg: response.message });
            else
                $.messager.show({ title: '操作失败', msg: response.message });

            $('#dg').datagrid('reload');
        }, "JSON");
    }

</script>
}
<table id="dg" title="资讯信息关联到土地类型"></table>
<div id="TypeSelect" style="width:120px"></div>
<input id="ValueInput"  class="easyui-searchbox" style="width:200px;" />
